// Colour chooser functions

@function color-chooser($dark, $light) {
  @return unquote('color-chooser(') + $dark + unquote(', ') + $light + unquote(')');
}

@function color-dynamic($color) {
  @return unquote('color-dynamic(' + $color + unquote(')'));
}



// Table of Contents
//
// - Basics
//   - Colours
//   - Shadows
//   - Spacers
//   - Typography
//     - Font size
//     - Font weight
//     - Letter spacing
//     - Line height
// - Button
// - Card
// - Chip
// - Code
// - Dropdown
// - Header
// - Menu panel
// - Misc
// - Modal
// - Nav
// - Picker
// - Progress
// - Social
// - Table
// - Text field
//   - Text field box



// Basics - Colours

$black-primary:   rgba(0, 0, 0, .87) !default;
$black-secondary: rgba(0, 0, 0, .54) !default;
$black-hint:      rgba(0, 0, 0, .38) !default;
$black-divider:   rgba(0, 0, 0, .12) !default;

$dark-1:          #000000 !default;
$dark-2:          #212121 !default;
$dark-3:          #303030 !default;
$dark-4:          #424242 !default;
$dark-active:     rgba(204, 204, 204, .25) !default;
$dark-hover:      rgba(204, 204, 204, .125) !default;

$light-1:         #e0e0e0 !default;
$light-2:         #f5f5f5 !default;
$light-3:         #fafafa !default;
$light-4:         #ffffff !default;
$light-active:    rgba(153, 153, 153, .4) !default;
$light-hover:     rgba(153, 153, 153, .2) !default;

$white-primary:   rgba(255, 255, 255, 1) !default;
$white-secondary: rgba(255, 255, 255, .7) !default;
$white-hint:      rgba(255, 255, 255, .5) !default;
$white-divider:   rgba(255, 255, 255, .12) !default;



// Basics - Shadows

$shadow-color-1: rgba(0, 0, 0, .14) !default;
$shadow-color-2: rgba(0, 0, 0, .12) !default;
$shadow-color-3: rgba(0, 0, 0, .4) !default;

$shadow-24dp:    0 24px 38px 3px $shadow-color-1, 0 9px 46px 8px $shadow-color-2, 0 11px 15px -7px $shadow-color-3 !default;
$shadow-16dp:    0 16px 24px 2px $shadow-color-1, 0 6px 30px 5px $shadow-color-2, 0 8px 10px -5px $shadow-color-3 !default;
$shadow-12dp:    0 12px 16px 1px $shadow-color-1, 0 4px 22px 3px $shadow-color-2, 0 6px 7px -4px $shadow-color-3 !default;
$shadow-8dp:     0 8px 10px 1px $shadow-color-1, 0 3px 14px 2px $shadow-color-2, 0 5px 5px -3px $shadow-color-3 !default;
$shadow-6dp:     0 6px 10px 0 $shadow-color-1, 0 1px 18px 0 $shadow-color-2, 0 3px 5px -1px $shadow-color-3 !default;
$shadow-4dp:     0 4px 5px 0 $shadow-color-1, 0 1px 10px 0 $shadow-color-2, 0 2px 4px -1px $shadow-color-3 !default;
$shadow-3dp:     0 3px 4px 0 $shadow-color-1, 0 1px 8px 0 $shadow-color-2, 0 3px 3px -2px $shadow-color-3 !default;
$shadow-2dp:     0 2px 2px 0 $shadow-color-1, 0 1px 5px 0 $shadow-color-2, 0 3px 1px -2px $shadow-color-3 !default;



// Basics - Spacers

$container-max-width:  1110px !default;

$grid-gutter-width:    16px !default;
$grid-gutter-width-lg: 24px !default;

$spacer-xs:            4px !default;
$spacer-sm:            8px !default;
$spacer:               16px !default;
$spacer-lg:            24px !default;
$spacer-xl:            48px !default;



// Basics - Typography - Font family

$font-family-monospace:  "Roboto Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-sans-serif: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:      "Roboto Slab", Georgia, "Times New Roman", Times, serif !default;



// Basics - Typography - Font size

$font-size-base:      14px !default;

$font-size-display-1: 112px !default;
$font-size-display-2: 56px !default;
$font-size-h1:        45px !default;
$font-size-h2:        34px !default;
$font-size-h3:        24px !default;
$font-size-h4:        20px !default;
$font-size-h5:        16px !default;
$font-size-h6:        14px !default;
$font-size-body:      14px !default;
$font-size-caption:   12px !default;

$font-size-small:     ($font-size-caption / $font-size-body * 1em) !default;

$material-icon-size:  24px !default;



// Basics - Typography - Font weight

$font-weight-medium:    500 !default;
$font-weight-regular:   400 !default;
$font-weight-light:     300 !default;

$font-weight-display-1: $font-weight-light !default;
$font-weight-display-2: $font-weight-regular !default;
$font-weight-h1:        $font-weight-regular !default;
$font-weight-h2:        $font-weight-regular !default;
$font-weight-h3:        $font-weight-regular !default;
$font-weight-h4:        $font-weight-medium !default;
$font-weight-h5:        $font-weight-regular !default;
$font-weight-h6:        $font-weight-medium !default;
$font-weight-body:      $font-weight-regular !default;
$font-weight-caption:   $font-weight-regular !default;



// Basics - Typography - Letter spacing

$letter-spacing-display-1: -.04em !default;
$letter-spacing-display-2: -.02em !default;
$letter-spacing-h1:        0 !default;
$letter-spacing-h2:        0 !default;
$letter-spacing-h3:        0 !default;
$letter-spacing-h4:        .02em !default;
$letter-spacing-h5:        .04em !default;
$letter-spacing-h6:        0 !default;
$letter-spacing-body:      0 !default;
$letter-spacing-caption:   0 !default;



// Basics - Typography - Line height

$line-height-base:      1.428571 !default; // 20px

$line-height-display-1: 1 !default;        // 112px
$line-height-display-2: 1.035714 !default; // 58px
$line-height-h1:        1.066667 !default; // 48px
$line-height-h2:        1.176471 !default; // 40px
$line-height-h3:        1.333333 !default; // 32px
$line-height-h4:        1.4 !default;      // 28px
$line-height-h5:        1.5 !default;      // 24px
$line-height-h6:        1.428571 !default; // 20px
$line-height-body:      1.428571 !default; // 20px
$line-height-caption:   1.5 !default;      // 18px



// Button

$btn-bg-dark:              unquote('$tertiary') !default;
$btn-bg-light:             $light-4 !default;
$btn-bg-active-dark:       $dark-active !default;
$btn-bg-active-light:      $light-active !default;
$btn-bg-disabled-dark:     $white-divider !default;
$btn-bg-disabled-light:    $black-divider !default;
$btn-bg-hover-dark:        $dark-hover !default;
$btn-bg-hover-light:       $light-hover !default;
$btn-bg-overlay-dark:      $black-divider !default;
$btn-bg-overlay-light:     $black-divider !default;
$btn-border-radius:        2px !default;
$btn-box-shadow:           $shadow-2dp !default;
$btn-box-shadow-active:    $shadow-8dp !default;
$btn-color-dark:           unquote('$primary') !default;
$btn-color-light:          unquote('$primary') !default;
$btn-color-disabled-dark:  rgba(0, 0, 0, .3) !default;
$btn-color-disabled-light: rgba(0, 0, 0, .26) !default;
$btn-height:               36px !default;
$btn-height-sm:            32px !default;
$btn-font-size:            14px !default;
$btn-font-size-sm:         13px !default;
$btn-font-weight:          500 !default;
$btn-padding-x:            16px !default;
$btn-padding-x-sm:         16px !default;
$btn-padding-y:            (($btn-height - $btn-font-size) / 2) !default;
$btn-padding-y-sm:         (($btn-height-sm - $btn-font-size-sm) / 2) !default;



// Button float

$btn-float-box-shadow:        $shadow-6dp !default;
$btn-float-box-shadow-active: $shadow-12dp !default;
$btn-float-size:              56px !default;



// Card

$card-avatar-size:      36px !default;
$card-bg-dark:          $dark-4 !default;
$card-bg-light:         $light-4 !default;
$card-border-radius:    2px !default;
$card-box-shadow:       $shadow-2dp !default;
$card-box-shadow-hover: $shadow-8dp !default;
$card-child-bg-dark:    $dark-2 !default;
$card-child-bg-light:   $light-2 !default;
$card-color-dark:       unquote('$primary') !default;
$card-color-light:      unquote('$primary') !default;
$card-inner-spacer-x:   8px !default;
$card-inner-spacer-y:   16px !default;
$card-margin-x:         $spacer-sm !default;
$card-margin-y:         $spacer-sm !default;
$card-padding-x:        16px !default;
$card-padding-y:        16px !default;



// Chip

$chip-bg-dark:          $dark-hover !default;
$chip-bg-light:         $light-hover !default;
$chip-box-shadow:       $shadow-2dp !default;
$chip-font-size:        13px !default;
$chip-height:           32px !default;
$chip-icon-color-dark:  $black-secondary !default;
$chip-icon-color-light: $black-secondary !default;
$chip-inner-spacer-x:   4px !default;
$chip-padding-x:        12px !default;
$chip-padding-y:        8px !default;
$chip-sm-scale:         .75 !default;
$chip-width:            $chip-height !default;



// Code

$code-bg-dark:       $dark-2 !default;
$code-bg-light:      $light-2 !default;
$code-border-radius: 2px !default;
$code-color-dark:    #bd4147 !default;
$code-color-light:   #bd4147 !default;
$code-font-size:     87.5% !default;
$code-padding:       .2em .4em !default;

$kbd-bg:             #333333 !default;
$kbd-color:          #ffffff !default;

$pre-padding:        $card-padding-y $card-padding-x !default;



// Dropdown

$dropdown-bg-dark:             $dark-4 !default;
$dropdown-bg-light:            $light-4 !default;
$dropdown-border-radius:       2px !default;
$dropdown-box-shadow:          $shadow-8dp !default;
$dropdown-font-size:           16px !default;
$dropdown-font-size-sm:        13px !default;
$dropdown-inner-spacer-x:      16px !default;
$dropdown-line-height:         1.5 !default;
$dropdown-line-height-sm:      1.5 !default;
$dropdown-link-bg-hover-dark:  $white-divider !default;
$dropdown-link-bg-hover-light: $black-divider !default;
$dropdown-link-padding-x:      16px !default;
$dropdown-link-padding-x-sm:   24px !default;
$dropdown-link-padding-y:      12px !default;
$dropdown-link-padding-y-sm:   6.25px !default;
$dropdown-padding-x:           0 !default;
$dropdown-padding-x-sm:        0 !default;
$dropdown-padding-y:           8px !default;
$dropdown-padding-y-sm:        16px !default;



// Header

$header-box-shadow:         $shadow-4dp !default;
$header-height:             56px !default;
$header-item-overlay-dark:  $white-divider !default;
$header-item-overlay-light: $black-divider !default;
$header-inner-spacer-x:     8px !default;
$header-margin-y:           $spacer-lg !default;
$header-padding-x:          8px !default;
$header-padding-y:          8px !default;



// Menu panel

$menu-panel-bg-dark:            $dark-4 !default;
$menu-panel-bg-light:           $light-4 !default;
$menu-panel-border-radius:      2px !default;
$menu-panel-box-shadow:         $shadow-24dp !default;
$menu-panel-inner-spacer-x:     8px !default;
$menu-panel-inner-spacer-y:     8px !default;
$menu-panel-item-overlay-dark:  $dark-hover !default;
$menu-panel-item-overlay-light: $light-hover !default;
$menu-panel-padding-x:          24px !default;
$menu-panel-padding-y:          20px !default;



// Misc

$admin-breakpoint:     700px !default;
$admin-nav-max-height: 500px !default;
$topic-body-width:     690px !default;



// Modal

$modal-backdrop-bg-dark:   $black-hint !default;
$modal-backdrop-bg-light:  $black-hint !default;
$modal-bg-dark:            $dark-4 !default;
$modal-bg-light:           $light-4 !default;
$modal-border-color-dark:  $dark-1 !default;
$modal-border-color-light: $light-1 !default;
$modal-border-width:       1px !default;
$modal-border-radius:      2px !default;
$modal-box-shadow:         $shadow-24dp !default;
$modal-footer-padding-x:   8px !default;
$modal-footer-padding-y:   8px !default;
$modal-inner-spacer-x:     24px !default;
$modal-inner-spacer-y:     20px !default;
$modal-padding-x:          24px !default;
$modal-padding-y:          24px !default;
$modal-width:              560px !default;


// Nav

$nav-link-opacity: .7 !default;



// Picker

$picker-bg-dark:        $modal-bg-dark !default;
$picker-bg-light:       $modal-bg-light !default;
$picker-border-radius:  2px !default;
$picker-box-shadow:     $modal-box-shadow !default;
$picker-cell-size:      40px !default;
$picker-inner-spacer-x: 8px !default;
$picker-padding-x:      8px !default;
$picker-padding-y:      8px !default;



// Progress

$progress-bg:     unquote('$tertiary') !default;
$progress-height: 4px !default;
$progress-mask:   $white-secondary !default;



// Social

$social-cas-color:       #70ba61 !default;
$social-facebook-color:  #3b5998 !default;
$social-github-color:    #181717 !default;
$social-google-color:    #4285f4 !default;
$social-instagram-color: #e4405f !default;
$social-twitter-color:   #1da1f2 !default;
$social-yahoo-color:     #440099 !default;



// Table

$table-bg-dark:            $card-bg-dark !default;
$table-bg-light:           $card-bg-light !default;
$table-bg-hover-dark:      $dark-2 !default;
$table-bg-hover-light:     $light-2 !default;
$table-border-width:       1px !default;
$table-border-color-dark:  $dark-1 !default;
$table-border-color-light: $light-1 !default;
$table-box-shadow:         $card-box-shadow !default;
$table-margin-y:           $spacer !default;
$tbody-cell-height:        48px !default;
$tbody-cell-padding-x:     12px !default;
$tbody-cell-padding-y:     12px !default;
$tbody-color-dark:         unquote('$primary') !default;
$tbody-color-light:        unquote('$primary') !default;
$thead-color-sorting:      unquote('$primary') !default;
$tbody-font-size:          13px !default;
$thead-cell-height:        56px !default;
$thead-cell-padding-x:     12px !default;
$thead-cell-padding-y:     12px !default;
$thead-color-dark:         $white-secondary !default;
$thead-color-light:        $black-secondary !default;
$thead-color-sorting:      unquote('$primary') !default;
$thead-font-size:          12px !default;



// Text field

$text-field-border-color-dark:           rgba(255, 255, 255, .7) !default;
$text-field-border-color-light:          rgba(0, 0, 0, .42) !default;
$text-field-border-color-disabled-dark:  rgba(255, 255, 255, .5) !default;
$text-field-border-color-disabled-light: rgba(0, 0, 0, .42) !default;
$text-field-border-width:                1px !default;
$text-field-font-size:                   16px !default;
$text-field-height:                      36px !default;
$text-field-margin-y:                    $spacer-sm !default;
$text-field-min-width:                   200px !default;
$text-field-padding-x:                   0 !default;
$text-field-padding-y:                   8px !default;



// Text field box

$text-field-box-bg-dark:       rgba(255, 255, 255, .1) !default;
$text-field-box-bg-light:      rgba(0, 0, 0, .06) !default;
$text-field-box-border-radius: 4px !default;
$text-field-box-height:        56px !default;
$text-field-box-padding-x:     16px !default;
$text-field-box-padding-y:     20px !default;
