// Table of Contents
//
// - Basics
//   - Shadows
//   - Typography
// - Button
// - Card
// - Chip
// - Header
// - Menu panel
// - Table
// - Text field



// Basics - Shadows

$shadow-color-1: rgba(0, 0, 0, .14) !default;
$shadow-color-2: rgba(0, 0, 0, .12) !default;
$shadow-color-3: rgba(0, 0, 0, .4) !default;

$shadow-24dp:    0 24px 38px 3px $shadow-color-1, 0 9px 46px 8px $shadow-color-2, 0 11px 15px -7px $shadow-color-3 !default;
$shadow-16dp:    0 16px 24px 2px $shadow-color-1, 0 6px 30px 5px $shadow-color-2, 0 8px 10px -5px $shadow-color-3 !default;
$shadow-12dp:    0 12px 16px 1px $shadow-color-1, 0 4px 22px 3px $shadow-color-2, 0 6px 7px -4px $shadow-color-3 !default;
$shadow-8dp:     0 8px 10px 1px $shadow-color-1, 0 3px 14px 2px $shadow-color-2, 0 5px 5px -3px $shadow-color-3 !default;
$shadow-6dp:     0 6px 10px 0 $shadow-color-1, 0 1px 18px 0 $shadow-color-2, 0 3px 5px -1px $shadow-color-3 !default;
$shadow-4dp:     0 4px 5px 0 $shadow-color-1, 0 1px 10px 0 $shadow-color-2, 0 2px 4px -1px $shadow-color-3 !default;
$shadow-3dp:     0 3px 4px 0 $shadow-color-1, 0 1px 8px 0 $shadow-color-2, 0 3px 3px -2px $shadow-color-3 !default;
$shadow-2dp:     0 2px 2px 0 $shadow-color-1, 0 1px 5px 0 $shadow-color-2, 0 3px 1px -2px $shadow-color-3 !default;
$shadow-1dp:     none !default;



// Basics - Typography

$font-family-monospace:     "Roboto Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-sans-serif:    Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:         "Roboto Slab", Georgia, "Times New Roman", Times, serif !default;

$font-size-base:            .875rem !default;
$font-size-root:            16px !default;

$font-size-display-4:       7rem !default;      // 112px
$font-size-display-3:       3.5rem !default;    // 56px
$font-size-display-2:       2.8125rem !default; // 45px
$font-size-display-1:       2.125rem !default;  // 34px
$font-size-headline:        1.5rem !default;    // 24px
$font-size-title:           1.25rem !default;   // 20px
$font-size-subheading:      1rem !default;      // 16px
$font-size-body-2:          .875rem !default;   // 14px
$font-size-body-1:          .875rem !default;   // 14px
$font-size-caption:         .75rem !default;    // 12px

$font-weight-bold:          700 !default;
$font-weight-medium:        500 !default;
$font-weight-regular:       400 !default;
$font-weight-light:         300 !default;

$font-weight-display-4:     $font-weight-light !default;
$font-weight-display-3:     $font-weight-regular !default;
$font-weight-display-2:     $font-weight-regular !default;
$font-weight-display-1:     $font-weight-regular !default;
$font-weight-headline:      $font-weight-regular !default;
$font-weight-title:         $font-weight-medium !default;
$font-weight-subheading:    $font-weight-regular !default;
$font-weight-body-2:        $font-weight-medium !default;
$font-weight-body-1:        $font-weight-regular !default;
$font-weight-caption:       $font-weight-regular !default;

$letter-spacing-display-4:  -.04em !default;
$letter-spacing-display-3:  -.02em !default;
$letter-spacing-display-2:  0 !default;
$letter-spacing-display-1:  0 !default;
$letter-spacing-headline:   0 !default;
$letter-spacing-title:      .02em !default;
$letter-spacing-subheading: .04em !default;
$letter-spacing-body-2:     0 !default;
$letter-spacing-body-1:     0 !default;
$letter-spacing-caption:    0 !default;

$line-height-base:          1.428571 !default;

$line-height-display-4:     1 !default;        // 112px
$line-height-display-3:     1.035714 !default; // 58px
$line-height-display-2:     1.066667 !default; // 48px
$line-height-display-1:     1.176471 !default; // 40px
$line-height-headline:      1.333333 !default; // 32px
$line-height-title:         1.4 !default;      // 28px
$line-height-subheading:    1.5 !default;      // 24px
$line-height-body-2:        1.428571 !default; // 20px
$line-height-body-1:        1.428571 !default; // 20px
$line-height-caption:       1.5 !default;      // 18px

$material-icon-size:        (24px / $font-size-root * 1rem) !default;



// Button

$btn-bg:                transparent !default;
$btn-bg-active:         rgba(153, 153, 153, .4) !default;
$btn-bg-hover:          rgba(0, 0, 0, .12) !default;
$btn-border-radius:     2px !default;
$btn-box-shadow:        $shadow-2dp !default;
$btn-box-shadow-active: $shadow-8dp !default;
$btn-color:             rgba(0, 0, 0, .87) !default;
$btn-height:            2.25rem !default;
$btn-font-size:         .875rem !default;
$btn-font-weight:       500 !default;
$btn-padding-x:         1rem !default;
$btn-padding-y:         (($btn-height - $btn-font-size) / 2) !default;



// Card

$card-avatar-size:      2.25rem !default;
$card-bg:               #ffffff !default;
$card-border-radius:    2px !default;
$card-box-shadow:       $shadow-2dp !default;
$card-box-shadow-hover: $shadow-8dp !default;
$card-btn-color:        rgba(0, 0, 0, .54) !default;
$card-inner-spacer-x:   .5rem !default;
$card-inner-spacer-y:   1rem !default;
$card-margin-x:         .5rem !default;
$card-margin-y:         .5rem !default;
$card-padding-x:        1rem !default;
$card-padding-y:        1rem !default;



// Chip

$chip-bg:             rgba(0, 0, 0, .04) !default;
$chip-box-shadow:     $shadow-2dp !default;
$chip-font-size:      .8125rem !default;
$chip-height:         2rem !default;
$chip-inner-spacer-x: .25rem !default;
$chip-padding-x:      .75rem !default;
$chip-padding-y:      .5rem !default;
$chip-width:          $chip-height !default;



// Header

$header-box-shadow:     $shadow-4dp !default;
$header-height:         3.5rem !default;
$header-item-overlay:   rgba(0, 0, 0, .12) !default;
$header-inner-spacer-x: .5rem !default;
$header-margin-y:       1rem !default;
$header-padding-x:      0 !default;
$header-padding-y:      .5rem !default;



// Menu panel

$menu-panel-bg:             #ffffff !default;
$menu-panel-border-radius:  2px !default;
$menu-panel-box-shadow:     $shadow-24dp !default;
$menu-panel-inner-spacer-x: .5rem !default;
$menu-panel-inner-spacer-y: .5rem !default;
$menu-panel-item-overlay:   rgba(0, 0, 0, .04) !default;
$menu-panel-padding-x:      1.5rem !default;
$menu-panel-padding-y:      1.25rem !default;



// Table

$table-bg:             #ffffff !default;
$table-bg-active:      #f5f5f5 !default;
$table-bg-hover:       #eeeeee !default;
$table-border-width:   1px !default;
$table-border-color:   #e1e1e1 !default;
$table-box-shadow:     $shadow-2dp !default;
$table-margin-x:       auto !default;
$table-margin-y:       1rem !default;
$tbody-cell-height:    3rem !default;
$tbody-cell-padding-x: .75rem !default;
$tbody-cell-padding-y: .75rem !default;
$tbody-color:          rgba(0, 0, 0, .87) !default;
$thead-color-sorting:  rgba(0, 0, 0, .87) !default;
$tbody-font-size:      .8125rem !default;
$thead-cell-height:    3.5rem !default;
$thead-cell-padding-x: .75rem !default;
$thead-cell-padding-y: .75rem !default;
$thead-color:          rgba(0, 0, 0, .54) !default;
$thead-color-sorting:  rgba(0, 0, 0, .87) !default;
$thead-font-size:      .75rem !default;



// Text field

$text-field-border-color: rgba(0, 0, 0, .42) !default;
$text-field-border-width: 1px !default;
$text-field-font-size:    1rem !default;
$text-field-height:       2.25rem !default;
$text-field-margin-x:     .5rem !default;
$text-field-margin-y:     .5rem !default;
$text-field-padding-x:    0 !default;
$text-field-padding-y:    .5rem !default;
