@mixin dropdown-header {
  font-size: $dropdown-font-size;
  font-weight: bolder;
  line-height: $dropdown-line-height;
  margin: 0;
  padding: $dropdown-link-padding-y $dropdown-link-padding-x;
  white-space: nowrap;
}

@mixin dropdown-link {
  display: block;
  font-size: inherit;
  line-height: inherit;
  padding: $dropdown-link-padding-y $dropdown-link-padding-x;
}

@mixin dropdown-menu {
  background-clip: padding-box;
  background-color: color-chooser($dropdown-bg-dark, $dropdown-bg-light);
  border: 0;
  border-radius: $dropdown-border-radius;
  box-shadow: $dropdown-box-shadow;
  font-size: $dropdown-font-size;
  line-height: $dropdown-line-height;
  padding: $dropdown-padding-y $dropdown-padding-x;
}
