@mixin text-field {
  background-clip: padding-box;
  background-color: color-chooser($text-field-bg-dark, $text-field-bg-light);
  border: $text-field-border-width solid color-chooser($text-field-border-color-dark, $text-field-border-color-light);
  border-radius: $text-field-border-radius;
  font-size: $text-field-font-size;
  line-height: $text-field-line-height;
  min-height: $text-field-height;
  padding: $text-field-padding-y $text-field-padding-x;
  transition-duration: $transition-duration;
  transition-property: border-color, box-shadow;
  transition-timing-function: $transition-timing-function;
  width: 100%;

  &:hover {
    border-color: color-chooser($text-field-border-color-hover-dark, $text-field-border-color-hover-light);
    box-shadow: inset 0 0 0 $text-field-border-width color-chooser($text-field-border-color-hover-dark, $text-field-border-color-hover-light);
  }

  &:focus {
    border-color: unquote('$tertiary');
    box-shadow: inset 0 0 0 $text-field-border-width unquote('$tertiary');
    outline: 0;
  }

  &[disabled],
  &[readonly] {
    border-color: color-chooser($text-field-border-color-disabled-dark, $text-field-border-color-disabled-light);
    border-style: dotted;
    color: color-chooser($text-field-border-color-disabled-dark, $text-field-border-color-disabled-light);
    pointer-events: none;
  }
}
