body .boxed .contents {
  padding: $card-padding-y $card-padding-x 0;
}

.cooked {
  font-size: $font-size-base;
  line-height: $line-height-base;
}

.dropdown-menu {
  margin: 0;
  position: absolute;

  li {
    margin: 0;
  }
}

.mobile-view .mobile-nav {
  background-color: transparent;
  margin: $spacer-lg 0;
  width: 100%;

  &.activity-nav,
  &.messages-nav,
  &.notifications-nav,
  &.preferences-nav {
    margin-top: 0;
    position: static;
  }

  > li > a {
    @include btn-base;
    @include btn-raised;
  }

  .drop.expanded {
    @include dropdown-menu;
    @include dropdown-menu-sm;

    li {
      margin: 0;

      a {
        @include dropdown-link;
        @include dropdown-link-sm;
      }
    }
  }
}

.select2-container {
  max-width: 100%;
}

.wrap {
  padding: 0 ($spacer-x / 2);
}
