.menu-panel.slide-in .panel-body {
  height: auto !important;
  top: $menu-panel-padding-y;
  right: $menu-panel-padding-x;
  bottom: $menu-panel-padding-y;
  left: $menu-panel-padding-x;
  width: auto;
}
