.badge-grouping,
.badges-section {
  column-count: 1;

  .badge-card:last-of-type {
    margin-bottom: $card-margin-y;
  }
}

.paginated-topics-list {
  margin-top: 0;
}

.top-section:not(.badges-section):not(.stats-section) {
  flex-direction: column;
  margin-bottom: 0;
}

.top-sub-section {
  margin-bottom: $spacer-lg;
  margin-left: 0;
  width: 100%;
}

.user-badges > .ember-view,
.user-badges-list {
  column-count: 1;
}

.user-main {
  .about {
    .controls {
      margin: 0;
      width: 100%;

      a {
        @extend %btn-sm;
      }

      ul {
        display: flex;
        margin-top: ($card-inner-spacer-y / 2);
      }
    }

    .details {
      .avatar {
        height: ($font-size-h2 * $line-height-h2);
        width: ($font-size-h2 * $line-height-h2);
      }

      .primary {
        flex-wrap: wrap;
      }
    }

    .secondary dl {
      flex-direction: column;

      dd,
      dt {
        margin-right: 0;
      }

      dd {
        margin-bottom: ($card-inner-spacer-y / 2);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .user-content {
    margin-top: 0;

    .user-invite-controls {
      align-items: flex-start;
      flex-direction: column;

      .span15 {
        margin-bottom: ($card-inner-spacer-y / 2);
      }
    }

    .user-invite-list td {
      word-break: break-word;
    }
  }
}

.user-preferences {
  .checkbox-label {
    padding: 0;
  }

  .control-group {
    padding: 0;
  }

  .controls-dropdown {
    flex-wrap: wrap;
    padding-left: 0;
  }
}

.user-navigation {
  margin: 0 0 $spacer-lg;

  > .btn,
  .user-archive .btn {
    @extend %btn-raised;
  }
}

.user-table .wrapper {
  display: block;
}
