.admin-container {
  margin-top: 0;

  .admin-customize-themes & {
    align-items: flex-start;
    display: flex;
  }

  > .row {
    flex-grow: 1;

    &:not(.site-texts) {
      align-items: flex-start;
      display: flex;

      @media (max-width: $admin-breakpoint) {
        display: block;
      }
    }
  }

  .controls.username {
    align-items: center;
    display: flex;
    margin-bottom: $spacer-lg;

    @media (max-width: $admin-breakpoint) {
      display: block;
    }

    input[type='text'] {
      @extend %text-field-box;

      margin-right: $spacer-lg;
      margin-bottom: 0;

      @media (max-width: $admin-breakpoint) {
        margin-right: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .pull-right {
      @media (max-width: $admin-breakpoint) {
        margin-top: $spacer-sm;
      }
    }
  }
}

.admin-content {
  margin-bottom: $spacer-lg;
}

.admin-contents {
  margin-right: 0;
  margin-left: 0;

  .admin-content & {
    padding: 0;
  }

  input[type='text'],
  textarea {
    max-width: 100%;
  }

  table {
    &:not(.pika-table) {
      @extend %table;

      margin-top: 0;

      td,
      th {
        @extend %tbody-cell;
      }

      td {
        border: 0;
      }

      thead {
        td,
        th {
          @extend %thead-cell;

          background-color: color-chooser($table-bg-hover-dark, $table-bg-hover-light);
        }
      }

      tr {
        @extend %table-row;

        @include hover {
          background-color: color-chooser($table-bg-hover-dark, $table-bg-hover-light);
        }
      }
    }

    &.users-list {
      @media (max-width: 900px) {
        display: block;
        overflow-x: auto;
        overflow-y: hidden;
      }
    }
  }

  .btn {
    @extend %btn-raised;
  }
}

.admin-controls {
  @extend %card;
  @extend %card-block;

  margin-bottom: $spacer-lg;
  padding-bottom: ($card-padding-y - $card-inner-spacer-y);
  width: 100%;

  &.email-preview .controls {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: ($card-inner-spacer-y - $spacer-sm);

    > button {
      margin-right: ($card-inner-spacer-x * 2);
      margin-bottom: $spacer-sm;
      margin-left: auto;
    }

    > div {
      &:not(.toggle) {
        margin-right: $card-inner-spacer-x;
      }

      &.ac-wrap {
        width: auto !important;

        .item {
          margin: ($spacer-xs / 2) $spacer-xs ($spacer-xs / 2) 0;
        }
      }
    }

    .toggle {
      margin-top: 0;
      margin-bottom: $spacer-sm;

      label {
        margin-bottom: 0;
      }
    }
  }

  button {
    margin-right: $card-inner-spacer-x;
  }

  input[type='text'] {
    @extend %text-field-box;
  }

  label {
    margin-right: $card-inner-spacer-x;
  }

  > nav,
  > .nav,
  > .pull-right {
    margin: 0 0 $card-inner-spacer-y;
  }

  > nav {
    .nav {
      margin-bottom: 0;
    }
  }

  > .pull-right {
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    button {
      margin-right: 0;
      margin-left: $card-inner-spacer-x;
    }
  }

  .ac-wrap {
    display: inline-flex;
  }

  .controls {
    margin-bottom: $card-inner-spacer-y;
    margin-left: 0;

    &.search {
      margin-bottom: 0;

      @media (max-width: $admin-breakpoint) {
        margin-top: (($btn-height - $font-size-base * $line-height-base) / 2);
      }

      label {
        margin-right: 0;
      }
    }

    input[type='text'] {
      display: block;
      float: none;
    }

    .menu-toggle {
      border: 0;
      border-radius: $btn-border-radius;
      font-size: $btn-font-size;
      margin-right: $card-inner-spacer-x;
      margin-bottom: ($card-inner-spacer-y / 2);
      padding: $btn-padding-y $btn-padding-x;
    }
  }

  .search {
    margin-left: $card-inner-spacer-x;

    label {
      margin-top: 0;
    }
  }
}

.admin-customize {
  &:not(.admin-embedding):not(.admin-emojis):not(.admin-permalinks) > .admin-container {
    align-items: flex-start;
    display: flex;

    @media (max-width: $admin-breakpoint) {
      display: block;
    }
  }

  &.admin-embedding {
    input[type='text'] {
      @extend %text-field-box;

      margin-bottom: 0;
    }
  }

  .admin-container {
    padding-right: 0;
    padding-left: 0;

    > .about {
      @extend %card;
      @extend %card-block;

      flex-grow: 1;
      margin: 0;
    }
  }

  .admin-footer {
    margin-top: $spacer-lg;
  }

  .color-scheme .controls button {
    margin-right: $card-inner-spacer-x;
  }

  .colors {
    td {
      &.actions {
        white-space: nowrap;
        width: auto;
      }
    }

    .color-picker {
      align-items: center;
      display: flex;
    }

    .hex-input {
      margin-right: $card-inner-spacer-x;
      padding-right: $card-inner-spacer-x;
      padding-left: $card-inner-spacer-x;
    }
  }

  .content-list {
    float: none;
  }

  .current-style .toggle-maximize {
    right: $card-inner-spacer-x;

    > a {
      padding-right: $card-inner-spacer-x;
      padding-left: $card-inner-spacer-x;

      .d-icon {
        margin-right: 0;
      }
    }
  }

  .edit-main-nav {
    align-items: center;
    display: flex;
    margin-bottom: $spacer-lg;

    .nav.target {
      margin: 0 $spacer-lg 0 0;

      .fa {
        margin-left: $spacer-xs;
      }

      .fa-mobile {
        position: static;
      }
    }

    .show-overidden {
      margin-left: auto;

      label {
        margin-bottom: 0;
      }
    }
  }

  .nav.nav-pills.fields {
    margin-left: 0;
  }

  .removable-list li {
    align-items: center;
    display: flex;

    .col {
      &:first-child {
        margin-right: $card-inner-spacer-x;
        min-width: 0;
        padding: 0;
      }

      &:last-child {
        flex-shrink: 0;
        margin-left: auto;
      }
    }
  }

  .show-current-style {
    @extend %card;
    @extend %card-block;

    flex-grow: 1;
    margin-left: 0;
    min-width: 0;
    width: auto;

    h1,
    h2 {
      margin-bottom: $card-inner-spacer-y;

      a {
        font-size: $font-size-base;
        line-height: 1;
        vertical-align: middle;
      }
    }

    h1 {
      input[type='text'] {
        @extend %text-field-box;
      }
    }

    h3 {
      margin-top: $card-inner-spacer-y;
      margin-bottom: $card-inner-spacer-y;
    }

    table {
      box-shadow: none;
      margin-right: ($card-padding-x * -1);
      margin-left: ($card-padding-x * -1);
      max-width: calc(100% + #{$card-padding-x * 2});
      width: calc(100% + #{$card-padding-x * 2});

      &:last-child {
        margin-bottom: 0;
      }

      tr:last-child {
        border-bottom: 0;
      }

      .btn.invisible {
        display: none;
      }
    }

    .admin-controls {
      border-radius: 0;
      box-shadow: none;
      margin-bottom: $card-inner-spacer-y;
      padding: 0;
    }
  }

  .status-message {
    @extend %typography-caption;

    margin-top: ($card-inner-spacer-y / 2);
  }
}

.admin-detail {
  background-color: transparent;
  border-left: 0;
  padding: 0 0 0 $spacer-lg;
  width: 80%;

  @media (max-width: $admin-breakpoint) {
    padding-left: 0;
    width: 100%;
  }
}

.admin-list-item {
  border-top: 1px solid color-chooser($white-divider, $black-divider);
  display: flex;
  padding: 0;

  .btn-small {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    color: unquote('$tertiary');
    font-size: inherit;
    font-weight: normal;
    line-height: inherit;
    padding: 0;
    text-decoration: underline;
    text-transform: none;
    white-space: normal;

    @include focus-hover {
      background-color: transparent;
      background-image: none;
    }

    &:active {
      background-color: transparent;
      box-shadow: none;
    }
  }

  .clearfix {
    display: none;
  }
}

.admin-logs-table .btn {
  @extend %btn-sm;
}

.admin-nav {
  margin-top: 0;
  margin-bottom: 0;
  width: 20%;

  @media (max-width: $admin-breakpoint) {
    padding-right: $spacer-lg;
    width: 50%;
  }
}

.admin-search-logs .admin-container {
  > p:first-child {
    margin-bottom: $spacer-lg;

    &::after {
      clear: both;
      content: '';
      display: table;
      line-height: 0;
    }

    + br {
      display: none;
    }
  }
}

.admin-title {
  height: auto;

  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

div {
  &.badges,
  &.groups,
  &.web-hook-container {
    margin-bottom: $card-inner-spacer-y;

    .form-horizontal {
      &:last-child {
        margin-bottom: 0;
      }

      input,
      select,
      textarea {
        width: 100%;
      }

      input[type='text'] {
        @extend %text-field-box;

        &:last-child {
          margin-bottom: 0;
        }
      }

      > div {
        margin-top: 0;
        margin-bottom: $card-inner-spacer-y;

        &:last-child {
          margin-bottom: 0;
        }

        &.group-flair-inputs input[type='text'] {
          margin-bottom: $spacer-sm;
        }
      }
    }
  }

  &.badges {
    .admin-contents & {
      align-items: flex-start;
      display: flex;

      @media (max-width: $admin-breakpoint) {
        display: block;
      }

      .current-badge {
        margin: 0;

        p {
          &.help {
            @extend %typography-caption;
          }
        }
      }
    }

    .buttons {
      float: none;
      width: auto;
    }
  }

  &.embeddable-hosts {
    .admin-container & {
      flex-grow: 1;
      margin-bottom: $spacer-lg;

      &:last-child {
        margin-bottom: 0;
      }

      table td:last-child {
        white-space: nowrap;
      }
    }
  }

  &.emoji {
    .admin-container & {
      input[type='text'] {
        @extend %text-field-box;
      }
    }
  }

  &.groups {
    .admin-contents & {
      > .span13 {
        @extend %card;
        @extend %card-block;

        flex-grow: 1;
        float: none;
        width: auto;
      }

      .ac-wrap .item {
        margin-right: $spacer-xs;

        .avatar {
          height: $chip-height;
          margin-right: $chip-inner-spacer-x;
          margin-left: ($chip-padding-x * -1);
          width: $chip-height;
        }
      }

      .controls {
        margin-top: 0;
      }
    }
  }

  &.user-fields {
    .admin-container & {
      flex-grow: 1;

      .user-field {
        @extend %card;
        @extend %card-block;

        margin-bottom: $card-margin-y;

        .form-element {
          padding: 0;

          &.label-area label {
            margin: (($text-field-height - $font-size-base * $line-height-base) / 2) $card-inner-spacer-x 0 0;
          }
        }

        .row {
          margin-bottom: ($card-inner-spacer-y / 2);

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.content-body {
  @extend %card;
  @extend %card-block;

  flex-grow: 1;

  @media (max-width: $admin-breakpoint) {
    float: none;
    width: auto;
  }
}

.content-editor {
  @extend %card;
  @extend %card-block;

  flex-grow: 1;
  margin-left: 0;
  min-height: 0;
  width: auto;

  > :last-child {
    margin-bottom: 0;
  }

  .controls {
    margin-top: $card-inner-spacer-y;

    .save-messages {
      margin-top: 0;

      &:empty {
        display: none;
      }

      > div {
        margin-top: $card-inner-spacer-y;
      }
    }
  }

  .d-editor-input {
    width: 100%;
  }

  .email-template input[type='text'] {
    @extend %text-field-box;
  }
}

.content-list {
  flex-shrink: 0;
  margin-right: $spacer-lg;
  width: 20%;

  @media (max-width: $admin-breakpoint) {
    background-color: color-chooser($card-bg-dark, $card-bg-light);
    border-radius: $card-border-radius;
    box-shadow: $card-box-shadow;
    float: none;
    margin-right: 0;
    margin-bottom: $spacer-lg;
    max-height: $admin-nav-max-height;
    overflow-x: hidden;
    overflow-y: auto;
    padding: $card-padding-y $card-padding-x;
    width: 100%;
  }

  > br {
    display: none;
  }

  h3 {
    @extend %typography-caption;

    font-weight: bolder;
    margin-bottom: $spacer-sm;
    padding-left: 0;
  }

  ul {
    @extend %nav-stacked;

    .badges &,
    .customize &,
    .groups & {
      margin-bottom: $spacer;
    }

    li {
      &:first-of-type {
        border-top: 0;
      }

      a {
        overflow: hidden;
        text-overflow: ellipsis;

        &.active {
          background-color: unquote('$quaternary');
          color: color-dynamic(unquote('$quaternary'));
          font-weight: normal;
        }

        span {
          &.count {
            @extend %typography-caption;

            background-color: color-chooser($chip-bg-dark, $chip-bg-light);
            border-radius: $btn-border-radius;
            color: inherit;
            line-height: 1;
            margin-right: 0;
            padding: ($btn-font-size - $font-size-caption) / 2 $spacer-xs;
          }
        }

        .user-badge {
          color: inherit;
        }
      }
    }
  }
}

.dashboard-left,
.dashboard-right {
  @media (max-width: $admin-breakpoint) {
    float: none;
    width: auto;
  }
}

.dashboard-stats {
  box-shadow: $table-box-shadow;
  margin-right: $table-margin-y;
  margin-bottom: $table-margin-y;
  overflow-x: auto;
  overflow-y: hidden;

  @media (max-width: $admin-breakpoint) {
    margin-right: 0;
  }

  &.detected-problems {
    align-items: flex-start;
    display: flex;
    margin-bottom: $table-margin-y;

    .look-here {
      margin: $tbody-cell-padding-y 0 $tbody-cell-padding-y $tbody-cell-padding-x;
    }

    .problem-messages {
      margin-left: 0;
      padding: $tbody-cell-padding-y $tbody-cell-padding-x;
      width: 100%;

      .actions {
        margin-bottom: 0;

        small {
          display: block;
          margin-bottom: ($tbody-cell-padding-y / 2);
        }
      }
    }
  }

  &.pull-right {
    box-shadow: none;
    margin-right: 0;
    margin-bottom: 0;
  }

  &.totals {
    margin-top: $table-margin-y;
    padding-left: 0;
  }

  .dashboard-right & {
    margin-right: 0;
  }

  > a {
    display: inline-block;
    margin: $tbody-cell-padding-y $tbody-cell-padding-x;
  }

  table,
  table:not(.pika-table) {
    box-shadow: none;
    margin-bottom: 0;
  }
}

.email-preview-digest {
  > br {
    display: none;
  }

  .controls {
    @extend %card;
    @extend %card-block;

    margin-bottom: $spacer-lg;
    margin-left: 0;

    input[type='text'] {
      @extend %text-field-box;
    }

    label {
      display: inline-block;
    }
  }

  .preview-output {
    margin-bottom: $spacer-lg;

    iframe {
      border: $table-border-width solid color-chooser($table-border-color-dark, $table-border-color-light);
      display: block;
    }
  }
}

.embedding-secondary {
  @extend %card;
  @extend %card-block;

  margin-bottom: $spacer-lg;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }

  > :last-child,
  > :last-child > pre:last-child {
    margin-bottom: 0;
  }

  h3 {
    margin: 0 0 $card-inner-spacer-y;
  }

  p {
    &.description {
      margin-bottom: $card-inner-spacer-y;
      max-width: 100%;
    }
  }

  .embed-setting {
    margin: 0 0 $card-inner-spacer-y;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.group-members-input > div:first-of-type {
  margin-bottom: $spacer-sm;
}

.groups-bulk {
  .admin-contents & {
    @extend %card;
    @extend %card-block;

    .control {
      margin-bottom: $card-inner-spacer-y;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.https-warning,
.query-create,
.query-edit,
.query-edit:not(.editing) .desc,
.query-list,
.query-params,
.query-results,
.query-run {
  margin: $spacer 0;
}

.inline-edit label {
  margin-right: $spacer-sm;
}

.ip-address-input {
  display: inline-block;
  width: auto;
}

.ip-lookup .location-box {
  background-color: color-chooser($modal-bg-dark, $modal-bg-light);
  border-radius: $modal-border-radius;
  box-shadow: $modal-box-shadow;
  margin: 0;
  outline: 0;
  padding: $modal-padding-y $modal-padding-x;

  > :last-child {
    margin-bottom: 0;
  }

  dt::after {
    clear: both;
    content: '';
    display: table;
    line-height: 0;
  }

  .close {
    margin-top: (($font-size-h4 * $line-height-h4 - $font-size-base * $line-height-base) / 2);
  }

  .inline-spinner {
    max-width: 100%;
  }

  .other-accounts {
    border: $table-border-width solid color-chooser($table-border-color-dark, $table-border-color-light);
    margin-top: $modal-inner-spacer-y;
    max-width: 100%;

    .table {
      box-shadow: none;
      margin-bottom: 0;

      tbody:last-child tr:last-child {
        border-bottom: 0;
      }
    }
  }

  .powered-by {
    @extend %typography-caption;

    position: static;
  }

  .spinner {
    height: ($font-size-base * $line-height-base);
    width: ($font-size-base * $line-height-base);
  }
}

.permalink-form {
  align-items: center;
  display: flex;
  margin-bottom: $spacer-sm;

  input[type='text'] {
    margin-right: $spacer-sm;
    margin-left: $spacer-sm;
  }

  .select2-container {
    text-align: right;
  }
}

.permalink-title {
  margin-bottom: 0;
  width: 100%;

  ~ div {
    width: 100%;

    input[type='text'] {
      @extend %text-field-box;
    }
  }
}

.permalinks,
.screened-emails,
.screened-ip-addresses,
.screened-urls,
.search-logs-list,
.staff-actions,
.web-hook-events {
  border-bottom: 0;

  .col {
    &:not(.heading) {
      @extend %tbody-cell;

      height: auto;
    }

    &.heading {
      @extend %thead-cell;

      height: auto;
    }
  }

  .heading-container {
    background-color: transparent;
    display: flex;
  }

  .loading-container::after {
    clear: both;
    content: '';
    display: table;
    line-height: 0;
  }
}

.screened-emails,
.screened-urls {
  > .admin-container {
    > p:first-child {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: $spacer-lg;

      .btn.pull-right {
        margin-left: $spacer-sm;
      }

      + br {
        display: none;
      }
    }
  }
}

.screened-ip-addresses {
  .actions.col {
    a {
      @extend %btn-flat-simple;
      @extend %btn-raised;
      @extned %btn-sm;

      font-size: $btn-font-size-sm;
      padding: $btn-padding-y-sm $btn-padding-x-sm;
      text-decoration: none;
    }
  }

  .admin-container {
    input[type='text'] {
      @extend %text-field-box;

      display: inline-block;
      width: auto;
    }
  }
}

.screened-ip-address-form {
  margin-bottom: $spacer-lg;
  margin-left: 0;
}

.settings {
  @extend %card;

  margin: 0;

  .setting {
    @extend %card-block;

    align-items: flex-start;
    border-bottom: 1px solid color-chooser($white-divider, $black-divider);
    display: flex;
    flex-wrap: wrap;

    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
    }

    &.category-list {
      box-shadow: none;
      margin-bottom: 0;
    }

    h3 {
      @extend %typography-h6;
    }

    .ac-wrap {
      margin-bottom: $card-inner-spacer-x;
      width: auto !important;
    }

    .desc,
    .validation-error {
      @extend %typography-caption;

      padding-top: 0;
    }

    .input-setting-list {
      background-color: transparent;
      border: 0;
      box-shadow: none;
      padding: 0;
    }

    .input-setting-string {
      @extend %text-field-box;
    }

    .setting-label {
      margin-right: 0;
      width: 100%;
    }

    .setting-value {
      flex-grow: 1;
      margin-right: $card-inner-spacer-x;
      padding-right: 0;
      width: 0;

      &:last-child {
        margin-right: 0;
        width: 100%;
      }

      label {
        font-weight: normal;

        &:last-child {
          margin-bottom: 0;
        }
      }

      + .btn {
        margin-left: auto;
      }

      .select2-container {
        margin-bottom: $card-inner-spacer-x;

        &.combobox {
          width: auto !important;
        }
      }

      .select2-container-multi {
        &.select2-container-active .select2-choices {
          border-bottom: ($text-field-border-width * 2) solid unquote('$tertiary');
        }

        .select2-choices {
          border-bottom: $text-field-border-width solid color-chooser($text-field-border-color-dark, $text-field-border-color-light);

          @include focus-hover {
            border-width: ($text-field-border-width * 2);
          }
        }
      }
    }
  }
}

.site-texts {
  @extend %card;
  @extend %card-block;

  .search-area {
    margin-bottom: $card-inner-spacer-y;

    .site-text-search {
      @extend %text-field-box;
    }
  }

  .site-text {
    border-bottom: 0;
    margin-bottom: $card-inner-spacer-y;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.sp-replacer {
  min-width: 49px;
}

.staff-action-logs-controls,
.staff-action-logs-instructions {
  clear: both;
  margin: 0 0 $spacer-lg;
}

.staff-action-logs-controls {
  align-items: center;
  display: flex;
  justify-content: space-between;

  a {
    &.filter {
      border-radius: ($chip-height / 2);
      font-size: $font-size-small;
      padding: $chip-padding-y $chip-padding-x;
    }
  }

  .pull-right {
    margin-left: auto;
  }

  .select-kit {
    margin-right: $spacer-sm;
    margin-left: $spacer-sm;
  }
}

.staff-actions.table {
  .created_at {
    width: 6%;
  }

  .loading-container {
    padding: $tbody-cell-padding-y $tbody-cell-padding-x;

    .admin-list-item {
      margin-right: ($tbody-cell-padding-x * -1);
      margin-left: ($tbody-cell-padding-x * -1);
      width: calc(100% + #{$tbody-cell-padding-x * 2});

      &:first-child {
        margin-top: ($tbody-cell-padding-y * -1);
      }

      &:last-child {
        margin-bottom: ($tbody-cell-padding-y * -1);
      }
    }
  }
}

.value-list {
  input[type='text'] {
    @extend %text-field-box;

    flex-grow: 1;
    margin-bottom: 0;
    width: auto;

    + .btn {
      margin-left: $card-inner-spacer-x;
    }
  }

  .input {
    align-items: center;
    display: flex;
    margin-bottom: $card-inner-spacer-x;
  }

  .placeholder {
    border: 0;
    margin: 0;
    padding: 0;
  }

  .value {
    @extend %text-field;
    @extend %text-field-box;

    margin-bottom: 1px;

    .btn {
      background-color: transparent;
      padding: 0;
    }
  }

  .values {
    margin-bottom: $card-inner-spacer-x;
  }
}

.version-check {
  .face {
    width: $material-icon-size;
  }

  .version-number {
    font-size: inherit;
    font-weight: bolder;
  }
}

.watched-word-box {
  background-color: color-chooser($chip-bg-dark, $chip-bg-light);
  border-radius: ($chip-height / 2);
  color: inherit;
  font-size: $font-size-small;
  margin-right: $spacer-sm;
  margin-bottom: $spacer-sm;
  padding: $chip-padding-y $chip-padding-x;
  width: auto;
}

.watched-word-form {
  margin-bottom: $spacer-lg;

  input[type='text'] {
    @extend %text-field-box;

    display: inline-block;
    margin-bottom: 0;
    width: auto;
  }
}

.watched-words-detail {
  .about {
    margin-top: 0;
    margin-bottom: $spacer-lg;
  }
}

.watched-words-list {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: ($spacer-lg - $spacer-sm);
}

.watched-words-uploader {
  float: none;
  margin-bottom: $spacer-lg;
  text-align: inherit;
}
