table {
  &.screened-ip-addresses {
    td {
      &.action {
        display: table-cell;
      }
    }
  }
}

.add-upload-modal {
  br {
    display: none;
  }

  .description {
    display: block;
    margin-top: $spacer-y-inline;
    margin-bottom: $spacer-y-inline;
  }

  [id='file-input'] {
    @include text-field;

    margin-bottom: $text-field-margin-y;
  }

  .inputs > :last-child {
    margin-bottom: 0;
  }

  [id='name'] {
    margin-top: $text-field-margin-y;
    margin-bottom: 0;
  }
}

.admin-backups {
  table {
    td {
      &.backup-controls .btn {
        margin-top: 0;
      }
    }
  }
}

.admin-container {
  margin-top: 0;
}

.admin-content {
  margin-bottom: 0;

  .admin-contents {
    padding: 0;
  }
}

.admin-contents {
  &.admin-search-logs {
    .admin-title {
      margin-bottom: $spacer-y;
    }
  }

  &.screened-emails,
  &.screened-urls {
    .loading-container {
      margin-top: $spacer-y;
      margin-bottom: $spacer-y;
    }
  }

  table {
    margin-top: 0;

    &.api-keys:not(:first-child) {
      margin-top: $spacer-y;
    }

    &.grid {
      @include table;

      display: table;
    }

    td,
    th {
      height: $tbody-cell-height;
      padding: $tbody-cell-padding-y $tbody-cell-padding-x;
    }

    tr {
      transition: background-color $transition-duration $transition-timing-function;
    }
  }
}

.admin-controls {
  @include card;

  margin-bottom: $spacer-y;

  button {
    margin-right: ($card-inner-spacer-x / 2);
  }

  label {
    margin-right: $spacer-x-inline;

    &:last-child {
      margin-right: 0;
    }
  }

  nav {
    background-color: transparent;
    overflow: visible;

    &::after,
    &::before {
      display: none;
    }
  }

  .admin-actions {
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    button:last-child {
      margin-right: 0;
    }
  }

  .controls {
    background-color: transparent;
    margin: 0;
    padding: 0;

    &.search label input {
      margin-top: 0;
      margin-right: $spacer-x-inline;
    }

    ~ .controls {
      margin-left: $card-inner-spacer-x;
      width: auto;
    }

    button,
    input,
    .ac-wrap,
    .date-picker-wrapper {
      margin-right: $card-inner-spacer-x;

      &:last-child {
        margin-right: 0;
      }
    }

    .menu-toggle {
      border: 0;
      border-radius: $btn-border-radius;
      margin-right: $card-inner-spacer-x;
      padding: $btn-padding-y $btn-padding-x;
    }
  }

  .nav-pills {
    flex-wrap: wrap;
    overflow: visible;
    padding: 0;
    width: 100%;

    > li {
      &:not(:last-child) {
        margin-right: $nav-item-spacer-x;
      }

      &.admin-actions {
        margin-left: auto;

        &:not(:first-child) {
          padding-left: ($card-inner-spacer-x / 2 - $nav-item-spacer-x);
        }
      }
    }
  }

  .search {
    margin-left: $card-inner-spacer-x;

    label {
      margin-top: 0;
    }
  }
}

.admin-customize {
  &.admin-customize-themes {
    .admin-container {
      align-items: flex-start;
      display: flex;
      flex-wrap: wrap;
    }

    .customize-themes-header {
      border-bottom: 0;
      margin-bottom: $spacer-y;
      padding-bottom: 0;
      width: 100%;

      .create-actions .btn {
        margin-left: $spacer-x-inline;
      }
    }
  }

  &.colors {
    > .admin-container {
      align-items: flex-start;
      display: flex;
    }

    .about {
      @include card;

      flex-grow: 1;
      margin-bottom: $spacer-y;
    }
  }

  h1 {
    margin-bottom: $card-inner-spacer-y;

    input {
      font-size: $text-field-font-size;
      letter-spacing: 0;
    }
  }

  .admin-container {
    padding-right: 0;
    padding-left: 0;
  }

  .color-scheme {
    .admin-controls {
      background-color: transparent;
      border-radius: 0;
      box-shadow: none;
      margin-bottom: $card-inner-spacer-y;
      padding: 0;

      .search {
        margin-left: 0;
      }
    }

    .controls {
      a,
      button,
      span {
        margin-right: $spacer-x-inline;
      }
    }

    .table {
      border: $border-width solid color-chooser($white-divider, $black-divider);
      box-shadow: none;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .content-list {
    ul {
      margin-bottom: $spacer-y;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .current-style .nav-pills li {
    margin-right: $nav-item-spacer-x;

    label {
      align-self: center;
      display: flex;
      padding: 0;
    }
  }

  .removable-list {
    li {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: $spacer-y-inline;

      &:last-child {
        margin-bottom: 0;
      }

      .col:first-child {
        margin-right: $card-inner-spacer-x;
        padding: 0;
      }
    }
  }

  .show-current-style {
    @include card;

    display: block;
    flex-grow: 1;
    margin-bottom: $spacer-y;

    .about-url,
    .license-url,
    .url {
      margin-bottom: $spacer-y-inline;
    }

    .control {
      margin-bottom: $spacer-y-inline;
    }

    .control-unit {
      margin-top: $card-inner-spacer-y;
      margin-bottom: $card-inner-spacer-y;
    }

    .description {
      margin-bottom: $spacer-y-inline;
    }

    .mini-title {
      @include typography-h4;

      margin-bottom: $spacer-y-inline;
    }

    .status-message {
      @include typography-caption;

      margin-top: $spacer-y-inline;
    }

    .title {
      @include typography-h1;

      margin-bottom: $card-inner-spacer-y;

      a {
        @include typography-body;

        vertical-align: middle;
      }
    }
  }

  .themes-intro {
    @include card;

    align-items: flex-start;
    display: flex;
    flex-grow: 1;
    margin-top: 0;
    margin-bottom: $spacer-y;
    margin-left: 0;

    img {
      display: block;
      margin-top: 0;
      margin-right: $card-inner-spacer-x;
      width: auto;
    }

    .content-wrapper {
      display: block;
      flex-grow: 1;
      width: auto;
    }

    .external-link {
      margin-bottom: $spacer-y-inline;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .themes-list {
    border-right: 0;
    border-bottom: 0;
    display: block;
    margin-right: $spacer-x;
    margin-bottom: $spacer-y;
    width: $admin-nav-width;
  }

  .themes-list-container {
    .themes-list-item {
      border-bottom: 0;
      border-left: 0;
      border-radius: $nav-link-border-radius;
      margin-top: $nav-item-spacer-y;

      &:not(.selected):not(.inactive-indicator) {
        &:hover,
        &:focus {
          background-color: color-chooser($white-divider, $black-divider);
        }
      }

      &.inactive-indicator {
        @include typography-caption;

        font-weight: bolder;

        span {
          &.empty {
            padding: $spacer-y 0 0;
          }
        }
      }

      span {
        &.empty {
          padding: $nav-link-padding-y $nav-link-padding-x;
        }
      }

      .components-list {
        @include typography-caption;

        margin-top: ($spacer-y-inline / 2);
      }

      .info {
        align-items: center;
        display: flex;
        font-size: inherit;
        font-weight: normal;

        .icons {
          margin-left: $spacer-x-inline;
        }

        .name {
          flex-grow: 1;
        }
      }

      .inner-wrapper {
        padding: $nav-link-padding-y $nav-link-padding-x;
      }
    }
  }

  .themes-list-header {
    border-bottom-color: color-chooser($white-divider, $black-divider);

    .tab {
      border-left: 0;
      border-radius: $nav-link-border-radius $nav-link-border-radius 0 0;
      padding: $nav-link-padding-y 0;
      position: relative;

      &,
      &:not(.active) {
        &:hover {
          background-color: color-chooser($white-divider, $black-divider);
        }
      }

      &.active {
        font-weight: normal;

        &::after {
          background-color: unquote('$quaternary');
          content: '';
          display: block;
          height: ($border-width * 2);
          position: absolute;
          right: 0;
          bottom: ($border-width * -1);
          left: 0;
        }
      }
    }
  }
}

.admin-customize-email-templates {
  .admin-container {
    > .row {
      align-items: flex-start;
      display: flex;
    }

    > .select-kit:first-child {
      margin-bottom: $spacer-y;
    }
  }

  .controls {
    margin-top: $spacer-y;
  }

  .email-template {
    margin-top: 0;
  }
}

.admin-detail {
  background-color: transparent;
  border-left: 0;
  min-height: 0;
  padding: 0 0 0 $spacer-x;
  width: 80%;

  @media (max-width: $admin-breakpoint) {
    padding-left: 0;
    width: 100%;
  }
}

.admin-list-item:not(tr) {
  border-top: 1px solid color-chooser($white-divider, $black-divider);
  display: flex;
  padding: 0;

  .btn-small {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    color: unquote('$tertiary');
    font-size: inherit;
    font-weight: normal;
    line-height: inherit;
    padding: 0;
    text-decoration: underline;
    text-transform: none;
    white-space: normal;

    @include focus-hover {
      background-color: transparent;
      background-image: none;
    }

    &:active {
      background-color: transparent;
      box-shadow: none;
    }
  }

  .clearfix {
    display: none;
  }
}

.admin-logs-table {
  @include table;

  .btn {
    @include btn-sm;
  }
}

.admin-main-nav .nav-pills {
  > li {
    margin-right: $nav-item-spacer-x;
  }
}

.admin-nav {
  width: $admin-nav-width;
}

.backup-options {
  margin-bottom: $spacer-y;
}

.badges,
.groups,
.web-hook-container {
  .form-horizontal {
    > div {
      margin-bottom: $card-inner-spacer-y;

      &:last-child {
        margin-bottom: 0;
      }
    }

    input[type='text'],
    select,
    textarea {
      display: block;
      width: 100%;
    }
  }
}

.content-body {
  @include card;

  flex-grow: 1;
  margin-bottom: $spacer-y;
  width: auto;

  @media (max-width: $admin-breakpoint) {
    float: none;
  }
}

.content-editor {
  @include card;

  flex-grow: 1;
  margin-left: 0;
  min-height: 0;
  width: auto;

  > :last-child {
    margin-bottom: 0;
  }

  .controls {
    margin-top: $card-inner-spacer-y;

    .save-messages {
      margin-top: 0;

      &:empty {
        display: none;
      }

      > div {
        margin-top: $card-inner-spacer-y;
      }
    }
  }

  .d-editor-input {
    width: 100%;
  }
}

.content-list {
  flex-shrink: 0;
  margin-right: $spacer-x;
  margin-bottom: $spacer-y;
  width: $admin-nav-width;

  @media (max-width: $admin-breakpoint) {
    background-color: color-chooser($card-bg-dark, $card-bg-light);
    border-radius: $card-border-radius;
    box-shadow: $card-box-shadow;
    float: none;
    margin-right: 0;
    margin-bottom: $spacer-lg;
    max-height: $admin-nav-max-height;
    overflow-x: hidden;
    overflow-y: auto;
    padding: $card-padding-y $card-padding-x;
    width: 100%;
  }

  > br {
    display: none;
  }

  h3 {
    @include typography-caption;

    font-weight: bolder;
    margin-bottom: $spacer-sm;
    padding-left: 0;
  }

  ul {
    .customize &,
    .groups & {
      margin-bottom: $spacer;
    }

    li {
      border-bottom: 0;
      margin-bottom: 1px;

      &:first-of-type {
        border-top: 0;
      }

      a {
        border-radius: $btn-border-radius;
        font-size: $btn-font-size;
        line-height: 1;
        opacity: $nav-link-opacity;
        padding: $btn-padding-y $btn-padding-x;

        @include active-focus-hover {
          opacity: 1;
        }

        &:focus {
          outline: 0;
        }

        &.active {
          background-color: unquote('$quaternary');
          color: color-dynamic(unquote('$quaternary'));
          font-weight: normal;
          opacity: 1;

          .d-icon {
            color: inherit;
          }
        }

        .d-icon {
          margin-left: $spacer-xs;
        }
      }
    }
  }
}

#custom_emoji {
  @include table;
}

.email-preview .digest-refresh-button {
  margin-left: 0;
}

.email-preview-digest {
  > br {
    display: none;
  }

  .controls {
    @include card;

    margin: 0 0 $spacer-y;

    input[type='text'] {
      margin-bottom: $text-field-margin-y;
    }

    label {
      display: inline-block;
    }
  }

  .preview-output {
    margin-bottom: $spacer-y;

    iframe {
      border: $border-width solid color-chooser($white-divider, $black-divider);
      display: block;
    }
  }
}

.embeddable-hosts {
  margin-bottom: $spacer-y;

  table {
    &.grid {
      td {
        &.controls {
          white-space: nowrap;
        }
      }
    }
  }
}

.embedding-secondary {
  margin-bottom: $spacer-y;

  h3 {
    margin: 0 0 $spacer-y;
  }

  p {
    &.description {
      margin-bottom: $spacer-y;
      max-width: 100%;
    }
  }

  .embed-setting {
    margin: 0 0 $spacer-y;

    input[type='text'] {
      display: block;
    }

    .clearfix {
      display: none;
    }
  }
}

.groups-bulk {
  .admin-contents & {
    @include card;

    .control {
      margin-bottom: $card-inner-spacer-y;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.hook-event {
  margin-left: $spacer-x;

  label {
    margin-bottom: 0;
  }

  p {
    margin: 0 0 0 calc(20px + #{$spacer-x-inline} + .25em);
  }
}

.ip-address-input {
  display: inline-block;
  width: auto;
}

.ip-lookup .location-box {
  background-color: color-chooser($modal-bg-dark, $modal-bg-light);
  border-radius: $modal-border-radius;
  box-shadow: $modal-box-shadow;
  margin: 0;
  outline: 0;
  padding: $modal-padding-y $modal-padding-x;

  > :last-child {
    margin-bottom: 0;
  }

  dt::after {
    clear: both;
    content: '';
    display: table;
    line-height: 0;
  }

  .close {
    margin-top: (($font-size-h4 * $line-height-h4 - $font-size-base * $line-height-base) / 2);
  }

  .inline-spinner {
    max-width: 100%;
  }

  .other-accounts {
    border: $table-border-width solid color-chooser($table-border-color-dark, $table-border-color-light);
    margin-top: $modal-inner-spacer-y;
    max-width: 100%;

    .table {
      box-shadow: none;
      margin-bottom: 0;

      tbody:last-child tr:last-child {
        border-bottom: 0;
      }
    }
  }

  .powered-by {
    @include typography-caption;

    position: static;
  }

  .spinner {
    height: ($font-size-base * $line-height-base);
    width: ($font-size-base * $line-height-base);
  }
}

.new-webhook {
  margin-bottom: $spacer-y;
}

.permalink-form {
  b,
  button,
  input,
  .select-kit {
    margin: 0 $spacer-x-inline 0 0;

    &:last-child {
      margin-right: 0;
    }
  }

  input {
    width: auto;
  }
}

.permalink-title {
  margin-bottom: 0;
}

.preview {
  margin-top: 0;
}

.query-list {
  align-items: center;
  margin: 0 0 $spacer-y;
  max-height: none;

  input[type="text"] {
    margin-right: $spacer-x-inline;
    margin-bottom: 0;
  }

  .btn-right {
    margin-right: $spacer-x-inline;
  }
}

.recent-queries {
  @include table;
}

.screened-ip-addresses {
  .actions.col {
    a {
      @include btn-base;
      @include btn-sm;

      text-decoration: none;
    }
  }

  .admin-container {
    input[type='text'] {
      display: inline-block;
      margin-bottom: 0;
      width: auto;
    }
  }
}

.screened-ip-controls {
  b,
  button,
  input,
  .select-kit {
    margin: 0 $spacer-x-inline 0 0;

    &:last-child {
      margin-right: 0;
    }
  }

  .filter-screened-ip-address {
    margin: 0 0 $spacer-y;
  }

  .screened-ip-address-form {
    margin: 0 0 $spacer-y auto;
  }
}

.secret-value-list .value {
  .add-value-btn {
    margin-left: $card-inner-spacer-x;
  }

  .new-value-input:last-of-type,
  .value-input:last-of-type {
    margin-left: $card-inner-spacer-x;
  }
}

.settings:not(td) {
  @include card;

  padding: 0;

  .setting {
    align-items: flex-start;
    border-bottom: 1px solid color-chooser($white-divider, $black-divider);
    display: flex;
    flex-wrap: wrap;
    padding: $card-padding-y $card-padding-x;

    &:last-child {
      border-bottom: 0;
    }

    &.category-list {
      box-shadow: none;
      margin-bottom: 0;
    }

    h3 {
      @include typography-h6;
    }

    .ac-wrap {
      margin-bottom: $card-inner-spacer-x;
      width: auto !important;
    }

    .desc,
    .validation-error {
      @include typography-caption;

      padding-top: 0;
    }

    .input-setting-list {
      background-color: transparent;
      border: 0;
      box-shadow: none;
      padding: 0;
    }

    .select-kit {
      margin-bottom: $spacer-y-inline;
    }

    .setting-controls {
      margin-left: $card-inner-spacer-x;
    }

    .setting-label {
      margin-right: 0;
      width: 100%;
    }

    .setting-value {
      flex-grow: 1;
      padding-right: 0;
      width: 1px;

      label {
        font-weight: normal;

        &:last-child {
          margin-bottom: 0;
        }
      }

      + .btn {
        margin-left: $card-inner-spacer-x;

        ~ .btn {
          margin-left: $spacer-x-inline;
        }
      }
    }
  }
}

.site-texts {
  @include card;

  margin-bottom: $spacer-y;

  .search-area {
    margin-bottom: $card-inner-spacer-y;

    .extra-options {
      float: none;
      text-align: right;
    }

    .site-text-search {
      font-size: $text-field-font-size;
      padding: $text-field-padding-y $text-field-padding-x;
      width: 100%;
    }
  }

  .site-text {
    border-bottom: 0;
    margin-bottom: $card-inner-spacer-y;

    &:last-child {
      margin-bottom: 0;
    }

    .edit {
      margin-left: $card-inner-spacer-x;
    }

    .site-text-value {
      margin: 0;
      max-height: none;
      overflow: hidden;
    }
  }
}

.staff-action-logs-controls,
.staff-action-logs-instructions {
  clear: both;
  margin: 0 0 $spacer-y;
}

.staff-action-logs-controls {
  a {
    &.filter {
      border-radius: ($chip-height / 2);
      font-size: $chip-font-size;
      line-height: 1;
      margin-top: ($spacer-y-inline / 2);
      margin-bottom: ($spacer-y-inline / 2);
      padding: $chip-padding-y $chip-padding-x;

      i {
        margin-left: $chip-inner-spacer-x;
      }
    }
  }

  .pull-right {
    margin-left: auto;
  }

  .select-kit {
    margin-right: $spacer-x-inline;
    margin-left: $spacer-x-inline;
  }
}

.staff-actions.table {
  .created_at {
    width: 6%;
  }

  .loading-container {
    overflow: hidden;

    .spinner {
      margin-top: $card-padding-y;
      margin-bottom: $card-padding-y;
    }
  }

  .table {
    box-shadow: none;
    display: table;
    margin-bottom: 0;

    .admin-list-item {
      border-top: 0;
      display: table-row;
    }
  }
}

.styleguide {
  .styleguide-contents {
    font-size: inherit;
    margin-left: $spacer-x;
  }

  .styleguide-menu {
    width: $admin-nav-width;

    ul {
      margin-bottom: $spacer-y;
      margin-left: 0;

      li {
        margin-bottom: 0;

        &.styleguide-heading {
          @include typography-caption;

          font-weight: bolder;
          margin-bottom: $spacer-y-inline;
        }

        a {
          @include btn-base;
          @include btn-sm;

          display: block;
          text-align: inherit;
        }
      }
    }
  }

  .styleguide-section {
    margin-bottom: $spacer-y;

    &.buttons-examples {
      .styleguide-example .rendered {
        padding-bottom: ($card-padding-y - $spacer-y-inline);

        button {
          margin-right: $spacer-x-inline;
          margin-bottom: $spacer-y-inline;
        }
      }
    }

    &.icons-examples {
      margin-right: 0;
    }

    &.modal-examples {
      .modal-body > :last-child {
        margin-bottom: 0;
      }

      .modal-footer {
        padding: $modal-inner-spacer-y $modal-padding-x $modal-padding-y;
      }
    }

    &.navigation-stacked-examples .preferences-nav {
      margin-bottom: 0;
    }

    &.suggested-topics-examples #suggested-topics {
      margin-bottom: 0;
    }

    &.topic-footer-buttons-examples #topic-footer-buttons {
      margin-bottom: 0;

      > :last-child {
        margin-bottom: 0;
      }
    }

    &.topic-map-examples .topic-map {
      margin-top: ($btn-height + $card-inner-spacer-y / 2);
    }

    .section-description {
      margin-bottom: $spacer-y;

      pre {
        margin-top: $spacer-y;
      }
    }

    .styleguide-example {
      border: 1px solid color-chooser($white-divider, $black-divider);
      margin-bottom: $spacer-y;

      .example-title {
        @include typography-caption;

        border-bottom-color: color-chooser($white-divider, $black-divider);
        margin-bottom: 0;
        padding: ($card-padding-y / 2) $card-padding-x;
      }

      .rendered {
        padding: $card-padding-y $card-padding-x;

        &::after {
          clear: both;
          content: '';
          display: table;
        }

        > :last-child {
          margin-bottom: 0;
        }
      }
    }

    .section-title {
      @include typography-h1;

      margin-bottom: $spacer-y;
    }
  }
}

[id='theme-creator-edit-local-modal'] {
  pre {
    white-space: nowrap;
  }

  > :last-child {
    margin-bottom: 0;
  }

  .btn {
    margin-bottom: $spacer-y;
  }
}

[id='theme-creator-share-modal'] {
  > code {
    display: inline-block;
    margin-bottom: $spacer-y;
  }

  > :last-child {
    margin-bottom: 0;

    > .btn {
      margin-bottom: ($card-inner-spacer-y * -1);
      margin-left: ($card-inner-spacer-x * -1);
      padding-right: $card-inner-spacer-x;
      padding-left: $card-inner-spacer-x;
    }
  }
}

.user-fields {
  margin-bottom: $spacer-y;

  .user-field {
    @include card;

    margin-bottom: $spacer-y;
    padding-bottom: 0;

    .form-element,
    .form-element-desc {
      margin-bottom: $card-inner-spacer-y;
      min-height: 0;
      padding: 0;

      &.input-area {
        input[type='text']:last-child,
        label:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.value-list {
  .input {
    align-items: center;
    display: flex;
    margin-bottom: $card-inner-spacer-x;
  }

  .placeholder {
    border: 0;
    margin: 0;
    padding: 0;
  }

  .value {
    align-items: center;
    margin-bottom: $text-field-margin-y;
    overflow: visible;
    padding: 0;

    .btn {
      border: 0;
      margin-right: $card-inner-spacer-x;
      padding: $btn-padding-y 0;
      width: $btn-height;

      &:last-child {
        margin-right: 0;
      }
    }

    .new-value-input {
      margin: 0;
    }

    .value-input {
      border-color: color-chooser($text-field-border-color-dark, $text-field-border-color-light);

      &:hover {
        border-color: color-chooser($text-field-border-color-hover-dark, $text-field-border-color-hover-light);
      }

      &:focus {
        border-color: unquote('$tertiary');
      }
    }
  }

  .values {
    margin-bottom: $text-field-margin-y;
  }
}

.watched-word-box {
  background-color: color-chooser($chip-bg-dark, $chip-bg-light);
  border-radius: ($chip-height / 2);
  color: inherit;
  font-size: $font-size-sm;
  margin-right: $spacer-x-inline;
  margin-bottom: 0;
  padding: $chip-padding-y $chip-padding-x;
  width: auto;
}

.watched-word-controls {
  align-items: center;
  margin-bottom: $spacer-y;
}

.watched-word-form {
  b,
  button,
  input {
    margin-right: $spacer-x-inline;

    &:last-child {
      margin-right: 0;
    }
  }

  input[type='text'] {
    margin-bottom: 0;
    width: auto;
  }
}

.watched-words-detail {
  @include card;

  margin-left: $spacer-x;
  width: calc(100% - #{$admin-nav-width} - #{$spacer-x});

  .about {
    margin: 0 0 $spacer-y;
  }
}

.watched-words-list {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
}

.watched-words-uploader {
  .instructions {
    font-size: $font-size-sm;
  }
}

.web-hook-container {
  margin-top: $spacer-y;
  margin-bottom: $spacer-y;

  input {
    max-width: none;
  }

  .event-selector {
    margin: 0 0 $spacer-y;

    .hook-event {
      margin-bottom: 0;
    }
  }

  .filters {
    border-bottom: 0;
    margin: 0;
    padding-bottom: 0;
  }

  .subscription-choice {
    margin-bottom: $spacer-y-inline;
  }
}
