.badge-group,
.badge-notification {
  background-color: color-chooser($chip-bg-dark, $chip-bg-light);
  border-radius: 1em;
  color: unquote('$primary');
  font-size: $font-size-small;
  padding: ($chip-padding-y / 2) ($chip-padding-x / 2);
}

.badge-group {
  border: 0;
  box-shadow: none;
  text-shadow: none;
}

.badge-wrapper {
  background-color: color-chooser($chip-bg-dark, $chip-bg-light);
  border-radius: ($chip-height / 2);
  color: inherit;
  padding-right: $chip-padding-x;

  @include focus-hover {
    color: inherit;
  }

  &,
  &.box,
  &.bullet {
    font-size: $chip-font-size;
    font-weight: normal;
    line-height: 1;
    margin-right: $spacer-xs;
  }

  &[href] {
    @include focus-hover {
      box-shadow: $chip-box-shadow;
    }

    &:focus {
      outline: 0;
    }
  }

  &.box,
  &.bullet {
    align-items: center;

    span {
      &.badge-category {
        line-height: $chip-height;
      }

      &.badge-category-bg {
        border-radius: 50%;
        flex-shrink: 0;
        height: $chip-height;
        line-height: 1;
        margin-right: $chip-inner-spacer-x;
        width: $chip-width;
      }

      &.badge-category-parent-bg {
        border-radius: ($chip-height / 2) 0 0 ($chip-height / 2);
        flex-shrink: 0;
        height: $chip-height;
        width: ($chip-width / 2);

        + .badge-category-bg {
          border-radius: 0 ($chip-height / 2) ($chip-height / 2) 0;
          width: ($chip-width / 2);
        }
      }
    }
  }

  &.box {
    display: inline-flex;
    margin-top: 0;
    padding: 0 $chip-padding-x 0 0;

    .suggested-topics-message & {
      vertical-align: middle;
    }

    span {
      &.badge-category {
        color: inherit !important;
        margin: 0;
        padding: 0;
      }

      &.badge-category-bg + .badge-category {
        margin-left: ($chip-width + $chip-inner-spacer-x);
      }

      &.badge-category-parent-bg + .badge-category-bg {
        left: ($chip-width / 2);

        + .badge-category {
          margin-left: ($chip-width + $chip-inner-spacer-x);
        }
      }
    }
  }
}

.discourse-tag {
  &.box {
    border-radius: $code-border-radius;
    font-size: $code-font-size;
    padding: $code-padding;
  }

  &.bullet {
    margin-right: 0;
  }
}
