.badge-group,
.badge-notification {
  background-color: color-chooser($chip-bg-dark, $chip-bg-light);
  border-radius: 1em;
  color: unquote('$primary');
  font-size: $font-size-small;
  padding: ($chip-padding-y / 2) ($chip-padding-x / 2);
}

.badge-group {
  border: 0;
  box-shadow: none;
  text-shadow: none;
}

.badge-wrapper {
  color: inherit;
  font-size: .8125em;
  font-weight: normal;

  &[href]:hover {
    box-shadow: $chip-box-shadow;
  }

  &.bar {
    align-items: center;
    background-color: color-chooser($chip-bg-dark, $chip-bg-light);
    border-radius: ($chip-height / 2);
    font-size: $chip-font-size;
    line-height: $line-height-base;
    margin-right: $spacer-sm;
    padding-right: $chip-padding-x;
    padding-left: $chip-padding-x;

    span {
      &.badge-category {
        padding: (($chip-height - $chip-font-size * $line-height-base) / 2) 0;
      }

      &.badge-category-bg {
        margin-right: $chip-inner-spacer-x;
      }
    }

    .badge-category {
      align-items: center;
      border-radius: ($chip-height / 2);
      min-height: $chip-height;
    }
  }

  &.box {
    border-radius: ($chip-height / 2);
    font-size: $chip-font-size;
    line-height: $line-height-base;
    margin-right: $spacer-sm;
    padding: 0;

    span {
      &.badge-category-bg {
        border-radius: ($chip-height / 2);
      }

      &.badge-category-parent-bg {
        border-radius: ($chip-height / 2);
        width: calc(100% - #{$chip-inner-spacer-x});

        + .badge-category-bg {
          left: $chip-inner-spacer-x;
          width: calc(100% - #{$chip-inner-spacer-x});

          + .badge-category {
            margin-left: $chip-inner-spacer-x;
          }
        }
      }
    }

    .badge-category {
      align-items: center;
      border-radius: ($chip-height / 2);
      min-height: $chip-height;
      padding: (($chip-height - $chip-font-size * $line-height-base) / 2) $chip-padding-x;
    }
  }

  &.bullet {
    align-items: center;
    background-color: color-chooser($chip-bg-dark, $chip-bg-light);
    border-radius: ($chip-height / 2);
    font-size: $chip-font-size;
    line-height: $line-height-base;
    margin-right: $spacer-sm;
    padding-right: $chip-padding-x;
    padding-left: $chip-inner-spacer-x;

    span {
      &.badge-category-bg {
        border-radius: 50%;
        height: $material-icon-size;
        margin-right: 0;
        width: $material-icon-size;
      }
    }

    .badge-category {
      align-items: center;
      border-radius: ($chip-height / 2);
      min-height: $chip-height;
      padding: (($chip-height - $chip-font-size * $line-height-base) / 2) 0 (($chip-height - $chip-font-size * $line-height-base) / 2) ($chip-padding-x - $chip-inner-spacer-x);
    }
  }

  &.none {
    margin-right: $spacer-sm;
  }

  .badge-category .d-icon {
    margin-right: $chip-inner-spacer-x;
  }
}

.discourse-tag {
  &.box {
    border-radius: $code-border-radius;
    font-size: $code-font-size;
    padding: $code-padding;
  }

  &.bullet {
    margin-right: 0;
  }
}
