*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-size: $font-size-base;
  line-height: $line-height-base;
}

html {
  box-sizing: border-box;
  font-family: $font-family-sans-serif;
  font-size: initial;
  line-height: initial;
  text-size-adjust: 100%;
}

.wrap {
  padding: 0;
}



// Typography

abbr {
  &[data-original-title],
  &[title] {
    border-bottom: 0;
    cursor: help;
    text-decoration: underline dotted;
  }
}

address {
  font-style: normal;
  line-height: inherit;
  margin-bottom: 1rem;
}

b,
strong {
  font-weight: bolder;
}

blockquote {
  margin: 0 0 1rem;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

dfn {
  font-style: italic;
}

dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: unquote('$primary');
  font-family: inherit;
  margin-top: 0;
  margin-bottom: .5rem;
}

h1 {
  @include typography-h1;
}

h2 {
  @include typography-h2;
}

h3 {
  @include typography-h3;
}

h4 {
  @include typography-h4;
}

h5 {
  @include typography-h5;
}

h6 {
  @include typography-h6;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}
