// Override some basic CSS rules from Discourse

input[type='search'] {
  box-sizing: border-box;
}

tbody {
  border-top: 0;
}

.btn {
  &.no-text .fa {
    line-height: inherit;
  }

  .d-icon {
    color: inherit;
    line-height: inherit;
    opacity: 1;
  }

  .fa {
    margin-right: $spacer-xs;
    vertical-align: top;
  }
}

.btn-flat {
  .d-icon {
    opacity: 1;
  }
}

.fa-thumb-tack.unpinned {
  padding-left: 0;
}

.footer-message > :last-child {
  margin-bottom: 0;
}

.nav-pills {
  @extend %nav-pills;

  > li > a .d-icon {
    margin-right: $spacer-xs;
    opacity: 1;
  }
}

.nav-stacked {
  @extend %nav-stacked;

  > li > a .d-icon {
    margin-right: $spacer-xs;
  }

  .count {
    font-size: inherit;
    line-height: inherit;
  }

  .glyph {
    margin-right: $spacer-xs;
    width: auto;
  }
}
