// Override some basic CSS rules from Discourse

input[type='search'] {
  box-sizing: border-box;
}

tbody {
  border-top: 0;
}

.btn {
  &.no-text .fa {
    line-height: inherit;
  }

  .d-icon {
    color: inherit;
    line-height: inherit;
    opacity: 1;
  }

  .fa {
    margin-right: $spacer-xs;
    vertical-align: top;
  }
}

.btn-flat {
  .d-icon {
    opacity: 1;
  }
}

.fa-thumb-tack.unpinned {
  padding-left: 0;
}

.footer-message > :last-child {
  margin-bottom: 0;
}

.nav-pills {
  > li {
    margin-right: 1px;

    > a {
      border-radius: $btn-border-radius;
      font-size: $btn-font-size;
      opacity: $nav-link-opacity;
      padding: $btn-padding-y $btn-padding-x;

      @include active-focus-hover {
        opacity: 1;
      }

      &:focus {
        outline: 0;
      }

      &.active,
      .active > & {
        opacity: 1;
      }
    }
  }
}

.nav-stacked {
  background-color: transparent;

  a {
    border-radius: $btn-border-radius;
    font-size: $btn-font-size;
    opacity: $nav-link-opacity;
    padding: $btn-padding-y $btn-padding-x;

    @include active-focus-hover {
      opacity: 1;
    }

    &:focus {
      outline: 0;
    }

    &.active {
      opacity: 1;

      &::after {
        display: none;
      }
    }
  }

  li {
    border-bottom: 0;
    margin-bottom: 1px;

    &.indent {
      padding-left: $btn-padding-x;
    }
  }

  .count {
    font-size: inherit;
    line-height: inherit;
  }

  .glyph {
    margin-right: $spacer-xs;
    width: auto;
  }
}
