*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-size: $font-size-base;
  line-height: $line-height-base;
}

html {
  box-sizing: border-box;
  font-family: $font-family-sans-serif;
  font-size: initial;
  line-height: initial;
  text-size-adjust: 100%;
}

.wrap {
  padding: 0;
}



// Form

button,
input,
select,
textarea {
  body & {
    font-family: $font-family-sans-serif;
  }
}



// Typography

abbr {
  &[data-original-title],
  &[title] {
    border-bottom: 0;
    cursor: help;
    text-decoration: underline dotted;
  }
}

address {
  font-style: normal;
  line-height: inherit;
  margin-bottom: $spacer;
}

b,
strong {
  font-weight: bolder;
}

blockquote {
  @extend %typography-h5;

  background-color: color-chooser($card-child-bg-dark, $card-child-bg-light);
  border-left: 0;
  border-radius: $card-border-radius;
  margin: 0 0 $spacer;
  padding: $material-icon-size ($material-icon-size * 2);
  position: relative;

  &::after,
  &::before {
    @extend %material-icons;

    color: color-chooser($white-secondary, $black-secondary);
    content: 'format_quote';
    position: absolute;
  }

  &::after {
    right: ($material-icon-size / 2);
    bottom: ($material-icon-size / 2);
  }

  &::before {
    top: ($material-icon-size / 2);
    left: ($material-icon-size / 2);
    transform: rotate(180deg);
  }
}

dd {
  margin-bottom: $spacer-sm;
  margin-left: 0;
}

dfn {
  font-style: italic;
}

dl {
  margin-top: 0;
  margin-bottom: $spacer;
}

dt {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  body & {
    color: unquote('$primary');
    font-family: inherit;
    margin-top: 0;
    margin-bottom: $spacer-sm;
  }
}

h1 {
  @extend %typography-h1;
}

h2 {
  @extend %typography-h2;
}

h3 {
  @extend %typography-h3;
}

h4 {
  @extend %typography-h4;
}

h5 {
  @extend %typography-h5;
}

h6 {
  @extend %typography-h6;
}

hr {
  border-top-color: color-chooser($white-divider, $black-divider);
  box-sizing: content-box;
  margin: $spacer 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: $spacer;

  ol,
  ul {
    margin-bottom: 0;
  }
}

p {
  margin-top: 0;
  margin-bottom: $spacer;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: $font-size-small;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}
