// Flat button

.btn-flat {
  @include btn-base;

  .d-icon {
    color: inherit;
    font-size: ($btn-font-size - 1) !important;
  }
}



// Raised button

.btn {
  @include btn-base;
  @include btn-raised;

  &:hover,
  &.btn-hover {
    .discourse-no-touch & {
      .d-icon {
        color: inherit;
      }
    }
  }

  .d-icon {
    color: inherit;
    font-size: ($btn-font-size - 1) !important;
  }
}

.btn-danger {
  background-color: unquote('$danger');
  color: color-dynamic(unquote('$danger'));

  &:hover,
  &.btn-hover {
    .discourse-no-touch & {
      background-color: unquote('$danger');
      color: color-dynamic(unquote('$danger'));
    }
  }

  &:focus {
    background-color: unquote('$danger');
    color: color-dynamic(unquote('$danger'));
  }

  &:active,
  &.btn-active {
    &,
    .discourse-no-touch & {
      background-color: unquote('$danger');
      color: color-dynamic(unquote('$danger'));
    }
  }
}

.btn-primary {
  background-color: unquote('$tertiary');
  color: color-dynamic(unquote('$tertiary'));

  &:hover,
  &.btn-hover {
    .discourse-no-touch & {
      background-color: unquote('$tertiary');
      color: color-dynamic(unquote('$tertiary'));
    }
  }

  &:focus {
    background-color: unquote('$tertiary');
    color: color-dynamic(unquote('$tertiary'));
  }

  &:active,
  &.btn-active {
    &,
    .discourse-no-touch & {
      background-color: unquote('$tertiary');
      color: color-dynamic(unquote('$tertiary'));
    }
  }
}



// Size

.btn-large {
  @include btn-lg;

  .d-icon {
    font-size: ($btn-font-size-lg - 1) !important;
  }
}

.btn-small,
.btn-xsmall {
  @include btn-sm;

  .d-icon {
    font-size: ($btn-font-size-sm - 1) !important;
  }
}



// Social button

.btn-social {
  color: $white-primary;
}
