code,
kbd,
pre,
samp {
  body & {
    font-family: $font-family-monospace;
  }
}

code {
  background-color: color-chooser($code-bg-dark, $code-bg-light);
  border-radius: $code-border-radius;
  color: color-chooser($code-color-dark, $code-color-light);
  font-size: $code-font-size;
  padding: $code-padding;
}

kbd {
  background-color: $kbd-bg;
  border-radius: $code-border-radius;
  color: $kbd-color;
  font-size: $code-font-size;
  padding: $code-padding;

  kbd {
    font-size: 100%;
    padding: 0;
  }
}

pre {
  background-color: color-chooser($code-bg-dark, $code-bg-light);
  border-radius: $code-border-radius;
  color: unquote('$primary');
  display: block;
  font-size: $font-size-base;
  margin-top: 0;
  margin-bottom: $spacer;
  padding: $pre-padding;

  .admin-interface & {
    background-color: color-chooser($light-active, $dark-active);
  }

  code {
    background-color: transparent;
    border-radius: 0;
    color: inherit;
    font-size: inherit;
    padding: 0;
  }
}



// Styles for 'COPY TO CLIPBOARD' button for code blocks
// https://github.com/Daemonite/discourse-clipboard

.code-highlight {
  .bd-clipboard {
    background-color: color-chooser($code-bg-dark, $code-bg-light);
    border-radius: $code-border-radius $code-border-radius 0 0;

    + pre {
      border-radius: 0 0 $code-border-radius $code-border-radius;
    }
  }
}

.hljs {
  color: unquote('$primary');
  padding: $pre-padding;

  pre & {
    padding: 0;
  }
}
