.cooked {
  line-height: $line-height-base;

  .topic-body & {
    margin-right: ($card-padding-x * -1);
    margin-left: ($card-padding-x * -1);
    padding: 0 $card-padding-x;
  }

  blockquote {
    border-radius: 0;
    margin-right: ($card-padding-x * -1);
    margin-left: ($card-padding-x * -1);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 ($card-inner-spacer-y / 2);
  }

  h1 {
    @extend %typography-h1;
  }

  h2 {
    @extend %typography-h2;
  }

  h3 {
    @extend %typography-h3;
  }

  h4 {
    @extend %typography-h4;
  }

  h5 {
    @extend %typography-h5;
  }

  h6 {
    @extend %typography-h6;
  }

  iframe {
    border: 0;
    display: block;
    margin-right: ($card-padding-x * -1);
    margin-bottom: $card-inner-spacer-y;
    margin-left: ($card-padding-x * -1);
    max-width: none;
    width: calc(100% + #{$card-padding-x * 2});
  }

  img:not(.avatar):not(.emoji):not(.site-icon):not(.thumbnail) {
    height: auto;
    max-width: 100%;
  }

  ol,
  ul {
    margin-bottom: $spacer;
    padding-left: $spacer-lg;

    ol,
    ul {
      margin-bottom: 0;
    }
  }

  pre {
    border-radius: 0;
    margin-right: ($card-padding-x * -1);
    margin-left: ($card-padding-x * -1);
  }

  > :empty:first-child {
    display: none;
  }

  > :last-child {
    margin-bottom: 0;

    &:empty {
      margin-top: ($card-inner-spacer-y * -1);
    }
  }
}

.d-editor-preview {
  line-height: $line-height-base;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 ($card-inner-spacer-y / 2);
  }

  h1 {
    @extend %typography-h1;
  }

  h2 {
    @extend %typography-h2;
  }

  h3 {
    @extend %typography-h3;
  }

  h4 {
    @extend %typography-h4;
  }

  h5 {
    @extend %typography-h5;
  }

  h6 {
    @extend %typography-h6;
  }

  ol,
  ul {
    margin-bottom: $spacer;
    padding-left: $spacer-lg;

    ol,
    ul {
      margin-bottom: 0;
    }
  }

  > :empty:first-child {
    display: none;
  }

  > :last-child {
    margin-bottom: 0;

    &:empty {
      margin-top: ($card-inner-spacer-y * -1);
    }
  }
}

.lazyYT-container {
  margin-bottom: $card-inner-spacer-y;

  .cooked & {
    margin-right: ($card-padding-x * -1);
    margin-left: ($card-padding-x * -1);
    max-width: calc(100% + #{$card-padding-x * 2});
    padding-bottom: 56.25% !important;
    width: calc(100% + #{$card-padding-x * 2}) !important;

    + .lazyYT-container {
      border-top: 1px solid color-chooser($card-bg-dark, $card-bg-light);
      margin-top: ($card-inner-spacer-y * -1);
    }
  }
}

.lightbox-wrapper {
  margin-bottom: $card-inner-spacer-y;

  .cooked & {
    display: block;
    margin-right: ($card-padding-x * -1);
    margin-left: ($card-padding-x * -1);

    img {
      max-height: none;
      width: 100%;
    }

    + a {
      display: block;
      margin-top: ($card-inner-spacer-y / -2);

      + p {
        display: block;
      }
    }

    .lightbox {
      display: block;
    }
  }
}
