.cooked {
  line-height: $line-height-base;

  .topic-body & {
    padding: 0 $card-padding-x;
  }

  blockquote {
    border-radius: 0;
    margin-right: ($card-padding-x * -1);
    margin-left: ($card-padding-x * -1);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 ($card-inner-spacer-y * 0.5);
  }

  h1 {
    @include typography-h1;
  }

  h2 {
    @include typography-h2;
  }

  h3 {
    @include typography-h3;
  }

  h4 {
    @include typography-h4;
  }

  h5 {
    @include typography-h5;
  }

  h6 {
    @include typography-h6;
  }

  iframe {
    border: 0;
    display: block;
    margin-right: ($card-padding-x * -1);
    margin-bottom: $card-inner-spacer-y;
    margin-left: ($card-padding-x * -1);
    max-width: none;
    width: calc(100% + #{$card-padding-x * 2});
  }

  img:not(.thumbnail) {
    body & {
      height: auto;
      max-width: 100%;
    }
  }

  ol,
  ul {
    margin-bottom: $spacer;
    padding-left: $spacer-lg;

    ol,
    ul {
      margin-bottom: 0;
    }
  }

  pre {
    border-radius: 0;
    margin-right: ($card-padding-x * -1);
    margin-left: ($card-padding-x * -1);
  }

  > :empty:first-child {
    display: none;
  }

  > :last-child {
    margin-bottom: 0;

    &:empty {
      margin-top: ($card-inner-spacer-y * -1);
    }
  }

  table {
    border: $border-width solid color-chooser($table-border-color-dark, $table-border-color-light);
    margin-bottom: $spacer;
    width: 100%;

    tbody {
      td,
      th {
        @include tbody-cell;
      }
    }

    thead {
      td,
      th {
        @include thead-cell;
      }
    }
  }

  tbody:last-child &,
  thead:last-child & {
    tr:last-child {
      border-bottom: 0;
    }
  }
}

.d-editor-preview {
  line-height: $line-height-base;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 ($card-inner-spacer-y * 0.5);
  }

  h1 {
    @include typography-h1;
  }

  h2 {
    @include typography-h2;
  }

  h3 {
    @include typography-h3;
  }

  h4 {
    @include typography-h4;
  }

  h5 {
    @include typography-h5;
  }

  h6 {
    @include typography-h6;
  }

  ol,
  ul {
    margin-bottom: $spacer;
    padding-left: $spacer-lg;

    ol,
    ul {
      margin-bottom: 0;
    }
  }

  > :empty:first-child {
    display: none;
  }

  > :last-child {
    margin-bottom: 0;

    &:empty {
      margin-top: ($card-inner-spacer-y * -1);
    }
  }
}

.lazyYT-container {
  margin-bottom: $card-inner-spacer-y;

  .cooked & {
    margin-right: ($card-padding-x * -1);
    margin-left: ($card-padding-x * -1);
    max-width: calc(100% + #{$card-padding-x * 2});
    padding-bottom: 56.25% !important;
    width: calc(100% + #{$card-padding-x * 2}) !important;

    + .lazyYT-container {
      border-top: 1px solid color-chooser($card-bg-dark, $card-bg-light);
      margin-top: ($card-inner-spacer-y * -1);
    }
  }
}

.lightbox-wrapper {
  .cooked & {
    display: block;
    margin-right: ($card-padding-x * -1);
    margin-bottom: $card-inner-spacer-y;
    margin-left: ($card-padding-x * -1);

    .lightbox {
      display: block;

      &:hover {
        .discourse-no-touch & {
          box-shadow: none;
        }
      }
    }
  }
}
