aside {
  &.onebox {
    background-color: color-chooser($dark-2, $light-2);
    border: 0;
    margin-right: ($card-padding-x * -1);
    margin-bottom: $card-inner-spacer-y;
    margin-left: ($card-padding-x * -1);
    padding: $card-padding-y $card-padding-x;

    + .onebox {
      border-top: 1px solid color-chooser($card-bg-dark, $card-bg-light);
      margin-top: ($card-padding-y * -1);
    }
  }

  &.quote {
    blockquote {
      width: auto !important;
    }

    .quote-controls {
      color: color-chooser($white-secondary, $black-secondary);

      .back,
      .quote-other-topic {
        &::before {
          @include material-icons;

          color: color-chooser($white-secondary, $black-secondary);
          content: 'arrow_upward';
          margin-left: $card-inner-spacer-x;
        }
      }

      .fa-chevron-down,
      .fa-chevron-up {
        @include material-icons;
      }

      .fa-chevron-down::before {
        content: 'expand_more';
      }

      .fa-chevron-up::before {
        content: 'expand_less';
      }
    }

    .title {
      border-left: 0;
      border-radius: $card-border-radius $card-border-radius 0 0;
      color: color-chooser($white-secondary, $black-secondary);
      padding: $card-padding-y $card-padding-x 0;

      .avatar {
        margin-top: 0;
        margin-right: $card-inner-spacer-x;
      }

      + blockquote {
        border-radius: 0 0 $card-border-radius $card-border-radius;
      }
    }
  }
}

div {
  &.poll {
    background-color: color-chooser($dark-2, $light-2);
    border: 0;
    margin: 0 ($card-padding-x * -1) $card-inner-spacer-y;
    width: calc(100% + #{$card-padding-x * 2});

    li {
      &[data-poll-option-id] {
        margin-bottom: $card-inner-spacer-y;
        padding: 0;

        &:last-child {
          margin-bottom: 0;
        }

        .fa {
          @include material-icons;
          
          margin-right: $card-inner-spacer-x;
        }

        .fa-check-square-o::before {
          color: unquote('$tertiary');
          content: 'check_box';
        }

        .fa-square-o::before {
          content: 'check_box_outline_blank';
        }
      }
    }

    .btn {
      @include btn-flat;

      padding-right: $card-inner-spacer-x;
      padding-left: $card-inner-spacer-x;
    }

    .poll-buttons {
      border-top-color: color-chooser($table-border-color-dark, $table-border-color-light);
      padding: ($card-padding-y / 2) ($card-padding-x - $card-inner-spacer-x);

      .btn {
        margin-left: $card-inner-spacer-x;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    .poll-container {
      padding: $card-padding-y $card-padding-x;
    }

    .poll-info {
      border-left-color: color-chooser($table-border-color-dark, $table-border-color-light);
      color: $card-color;
      padding: $card-padding-y $card-padding-x;

      p {
        margin: $card-inner-spacer-y 0;

        &:first-child {
          line-height: 1;
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      .info-number {
        @include typography-h3;
      }

      .info-text {
        @include typography-h6;
      }
    }
  }
}
