div {
  &.ac-wrap {
    align-items: center;
    background-color: color-chooser($text-field-bg-dark, $text-field-bg-light);
    border: $text-field-border-width solid color-chooser($text-field-border-color-dark, $text-field-border-color-light);
    border-radius: $text-field-border-radius;
    min-height: $text-field-height;
    min-width: $text-field-min-width;
    padding: (($text-field-height - $text-field-border-width * 2 - ($chip-height + $spacer-xs)) / 2) $text-field-padding-x;
    padding-right: ($text-field-padding-x - $spacer-xs);

    &:hover {
      border-width: ($text-field-border-width * 2);
      padding: (($text-field-height - $text-field-border-width * 2 - ($chip-height + $spacer-xs)) / 2 - $text-field-border-width) ($text-field-padding-x - $text-field-border-width);
      padding-right: ($text-field-padding-x - $spacer-xs - $text-field-border-width);
    }

    .admin-controls & {
      padding: (($text-field-height - $text-field-border-width * 2 - ($chip-height + $spacer-xs)) / 2) $text-field-padding-x;
      padding-right: ($text-field-padding-x - $spacer-xs);

      &:hover {
        padding: (($text-field-height - $text-field-border-width * 2 - ($chip-height + $spacer-xs)) / 2 - $text-field-border-width) ($text-field-padding-x - $text-field-border-width);
        padding-right: ($text-field-padding-x - $spacer-xs - $text-field-border-width);
      }
    }

    div {
      &.item {
        align-items: center;
        background-color: color-chooser($chip-bg-dark, $chip-bg-light);
        border-radius: ($chip-height / 2);
        color: inherit;
        display: flex;
        flex-shrink: 0;
        font-size: $chip-font-size;
        font-weight: normal;
        height: $chip-height;
        line-height: 1;
        margin-top: ($spacer-xs / 2);
        margin-right: $spacer-xs;
        margin-bottom: ($spacer-xs / 2);
        padding: 0 $chip-padding-x;

        a {
          &.remove {
            border: 0;
            border-radius: 0;
            color: color-chooser($white-secondary, $black-secondary);
            font-size: inherit;
            line-height: 1;
            margin-right: ($chip-inner-spacer-x - $chip-padding-x);
            margin-left: $chip-inner-spacer-x;
            padding: 0;
            width: auto;

            @include focus-hover {
              background-color: transparent;
              border: 0;
              color: inherit;
            }
          }
        }

        span {
          align-items: center;
          display: inline-flex;
          height: auto;
          line-height: 1;
        }

        .badge-wrapper {
          background-color: transparent;
          box-shadow: none;
          margin-right: 0;
          margin-left: ($chip-padding-x * -1);
          padding-right: 0;
        }

        .fa-times::before {
          content: 'cancel';
        }
      }
    }

    input[type='text'] {
      border-radius: 0;
      box-shadow: none;
      height: auto;
      margin-right: $spacer-xs;
      padding: 0 !important;
    }
  }
}

.autocomplete {
  @include dropdown-menu;
  @include dropdown-menu-sm;

  ul li {
    border-bottom: 0;

    a {
      @include dropdown-link;
      @include dropdown-link-sm;

      align-items: center;
      color: inherit;
      display: flex;

      @include focus-hover {
        &,
        .discourse-no-touch & {
          background-color: color-chooser($dropdown-link-bg-hover-dark, $dropdown-link-bg-hover-light);
        }
      }

      span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.name {
          @include typography-caption;

          color: color-chooser($white-secondary, $black-secondary);
          margin-left: ($dropdown-inner-spacer-x / 2);
        }

        &.username {
          color: inherit;
          flex-shrink: 0;
        }
      }

      .avatar {
        flex-shrink: 0;
        margin-right: ($dropdown-inner-spacer-x / 2);
      }
    }
  }
}
