.d-editor {
  border: 0;

  .d-editor-modal {
    background-color: color-chooser($modal-bg-dark, $modal-bg-light);
    border: 0;
    border-radius: $modal-border-radius;
    box-shadow: $modal-box-shadow;
    outline: 0;
    padding: $modal-padding-y $modal-padding-x;
    position: fixed;
    top: 50%;
    left: 50% !important;
    transform: translate3d(-50%, -50%, 0);

    h3 {
      @include typography-h4;

      margin-bottom: $modal-inner-spacer-y;
    }

    input {
      margin-bottom: $modal-inner-spacer-y;
      width: 100%;
    }

    .controls {
      align-items: center;
      display: flex;
      flex-direction: row-reverse;
      margin-right: ($card-inner-spacer-x * -1);
      margin-left: ($card-inner-spacer-x * -1);

      &:last-child {
        margin-bottom: ($card-inner-spacer-y / -2);
      }

      .btn {
        @include btn-footer;
        @include btn-raised-reverse;
      }
    }
  }
}

.d-editor-button-bar {
  border-bottom: 0;
  flex-shrink: 0;
  flex-wrap: wrap;
  height: auto;
  margin: 0;
  min-height: 0;
  padding: ($card-inner-spacer-y / 2) $card-inner-spacer-x;

  .btn {
    @include btn-raised-reverse;

    color: inherit;
  }
}

.d-editor-input {
  padding: $card-padding-y $card-padding-x;

  @include focus-hover {
    box-shadow: none;
  }

  .d-editor-button-bar ~ & {
    padding-top: ($card-inner-spacer-y / 2);

    @include focus-hover {
      padding-top: ($card-inner-spacer-y / 2);
    }
  }
}

.d-editor-overlay {
  background-color: color-chooser($modal-backdrop-bg-dark, $modal-backdrop-bg-light);
  height: auto !important;
  opacity: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto !important;
}

.d-editor-preview {
  border: 1px dotted color-chooser($text-field-border-color-disabled-dark, $text-field-border-color-disabled-light);
  border-radius: $text-field-box-border-radius;
  margin: 0;
  padding: $card-padding-y $card-padding-x;

  > :last-child {
    margin-bottom: 0;
  }
}

.d-editor-preview-wrapper {
  margin-left: $card-padding-x;
  max-width: calc(50% - #{$card-padding-x / 2});

  .edit-title & {
    margin-top: (($card-inner-spacer-y + $text-field-height) * -1);
  }

  .edit-title .with-tags & {
    margin-top: (($btn-height + $card-inner-spacer-y * 1.5 + $text-field-height) * -1);
  }
}

.d-editor-spacer {
  background-color: color-chooser($white-divider, $black-divider);
  height: $btn-height-sm;
  margin: 0 ($card-inner-spacer-x / 2);
}

.d-editor-textarea-wrapper {
  background-color: color-chooser($text-field-box-bg-dark, $text-field-box-bg-light);
  border: $text-field-border-width solid color-chooser($text-field-border-color-dark, $text-field-border-color-light);
  border-radius: $text-field-box-border-radius;
}
