.auto-update-input-selector-datetime {
  font-size: inherit;
  margin-left: $spacer-xs;
}

.auto-update-input-selector-icons {
  margin-right: $spacer-xs;

  + span {
    .select2-container a {
      &.select2-choice & {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.dropdown-select-box.dropdown-select-box {
  .dropdown-header .btn {
    height: $btn-height;
  }

  .select-box-body {
    background-color: color-chooser($dropdown-bg-dark, $dropdown-bg-light);
    border: 0;
    box-shadow: $dropdown-box-shadow;
    padding-top: $dropdown-padding-y-sm;
    padding-bottom: $dropdown-padding-y-sm;
  }

  .select-box-row {
    padding: $dropdown-link-padding-y-sm $dropdown-link-padding-x-sm;

    .icons {
      margin-top: 0;
      margin-right: $dropdown-inner-spacer-x;
    }
  }
}

.select2-container {
  border: 0;
  border-radius: 0;

  &.select2-allowclear {
    a {
      &.select2-choice > .select2-chosen {
        margin-right: $spacer-xs;

        &:empty {
          display: none;
        }
      }
    }
  }

  &.select2-container-active {
    box-shadow: none;
    margin-bottom: 0;

    a {
      &.select2-choice {
        border-radius: $btn-border-radius $btn-border-radius 0 0;
        box-shadow: $btn-box-shadow-active;

        &::before {
          border-radius: $btn-border-radius $btn-border-radius 0 0;
          opacity: 1;
        }
      }
    }
  }

  &.select2-drop-above {
    a {
      &.select2-choice {
        border: 0;

        &,
        &::before {
          border-radius: 0 0 $btn-border-radius $btn-border-radius;
        }
      }
    }
  }

  &.select2-dropdown-open {
    margin-bottom: 0;
  }

  a {
    &.select2-choice {
      @extend %btn-flat;
      @extend %btn-raised;

      align-items: center;
      display: flex;
      height: $btn-height;

      abbr {
        @include material-icons('close');

        background-image: none;
        height: auto;
        margin-left: $spacer-xs;
        order: 1;
        position: relative;
        top: auto;
        right: auto;
        width: auto;
      }

      > .select2-chosen {
        align-items: center;
        display: inline-flex;
        height: $btn-height;
        margin: ($btn-padding-y * -1) $spacer-xs ($btn-padding-y * -1) 0;

        &:empty {
          display: none;
        }
      }

      .select2-arrow {
        border-radius: 0;
        height: auto;
        margin-left: auto;
        position: static;
        width: auto;

        b {
          background-color: transparent;
          background-image: none;
          height: auto;

          &::before {
            @extend %material-icons;

            content: 'arrow_drop_down';
          }
        }
      }
    }
  }
}

.select2-container-multi {
  &.select2-container-active {
    border: 0;

    .select2-choices {
      border: 0;
      border-bottom: ($text-field-border-width * 2) solid unquote('$tertiary');
      box-shadow: none;
      padding-bottom: 1px;
    }
  }

  .select2-choices {
    background-color: color-chooser($text-field-box-bg-dark, $text-field-box-bg-light);
    border: 0;
    border-bottom: $text-field-border-width solid color-chooser($text-field-border-color-dark, $text-field-border-color-light);
    border-radius: $text-field-box-border-radius;
    min-height: $text-field-box-height;
    padding: 1px 1px 2px;

    @include hover {
      border-bottom-width: ($text-field-border-width * 2);
      padding-bottom: 1px;
    }

    .select2-search-choice {
      font-size: $font-size-base;
      line-height: 1;
      margin: ($spacer-xs / 2);
      padding-top: (($text-field-height - $text-field-padding-y * 2 - $font-size-base) / 2 - 1);
      padding-right: $spacer-xs;
      padding-bottom: (($text-field-height - $text-field-padding-y * 2 - $font-size-base) / 2 - 1);
    }

    .select2-search-field input {
      height: auto;
      margin: ($spacer-xs / 2);
      padding: 0;
    }
  }
}

.select2-default {
  color: color-chooser($btn-color-dark, $btn-color-light) !important;
}

.select2-drop {
  @extend %dropdown-menu;
  @extend %dropdown-menu-sm;

  &.select2-drop-above {
    box-shadow: $dropdown-box-shadow;

    &.select2-drop-active {
      border-top: 0;
    }
  }

  .category-desc,
  .topic-count {
    @extend %typography-caption;
  }

  .category-desc {
    margin-top: ($dropdown-link-padding-y-sm / 2);
  }
}

.select2-results {
  margin: 0;
  padding: 0;

  .select2-highlighted {
    background-color: color-chooser($dropdown-link-bg-hover-dark, $dropdown-link-bg-hover-light);
  }

  .select2-no-results {
    @extend %dropdown-header;
    @extend %dropdown-header-sm;

    background-color: transparent;
  }

  .select2-result-label {
    @extend %dropdown-link;
    @extend %dropdown-link-sm;
  }
}

.select2-search {
  display: block;
  min-height: 0;
  padding-right: $dropdown-link-padding-x;
  padding-left: $dropdown-link-padding-x;

  input[type='text'] {
    @extend %text-field-box;

    height: $text-field-box-height !important;
    margin-bottom: ($dropdown-link-padding-y-sm * 2);
  }
}

.select2-search-choice-close {
  @include material-icons('close');

  background-image: none;
  color: unquote('$primary');
  height: $font-size-base;
  top: (($text-field-height - $text-field-padding-y * 2 - $font-size-base) / 2);
  width: $font-size-base;

  @include focus-hover {
    color: unquote('$tertiary');
  }

  &::before {
    font-size: inherit;
    line-height: 1;
    vertical-align: top;
  }
}

.select-box {
  border-radius: $btn-border-radius;
  height: $btn-height;

  .select-box-collection {
    background-color: color-chooser($dropdown-bg-dark, $dropdown-bg-light);
  }

  .select-box-header {
    border-radius: $btn-border-radius;
  }
}
