button,
label {
  body & {
    font-size: inherit;
    font-weight: bolder;
    line-height: inherit;
  }
}

form {
  body & {
    margin: 0 0 $spacer-lg;

    > br,
    > .ember-view:empty {
      display: none;
    }
  }
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
  body & {
    @extend %text-field;

    margin-bottom: $spacer-sm;
  }
}

label {
  body & {
    margin-bottom: $spacer-sm;
  }
}

textarea {
  body & {
    border: $text-field-border-width solid color-chooser($text-field-border-color-dark, $text-field-border-color-light);
    border-radius: $text-field-box-border-radius;
    height: auto;
    padding: ($text-field-box-padding-y - $text-field-border-width) ($text-field-box-padding-x - $text-field-border-width);

    @include focus-hover {
      padding: ($text-field-box-padding-y - $text-field-border-width * 2) ($text-field-box-padding-x - $text-field-border-width * 2);
    }
  }
}

.checkbox-label {
  align-items: center;
  display: flex;

  input {
    &[type='checkbox'],
    &[type='radio'] {
      margin: 0 $spacer-sm 0 0;
    }
  }
}

.control-group {
  body & {
    margin-bottom: $spacer-lg;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.controls .static {
  @extend %text-field;

  border-bottom-color: color-chooser($text-field-border-color-disabled-dark, $text-field-border-color-disabled-light);
  border-bottom-style: dotted;
  color: color-chooser($text-field-border-color-disabled-dark, $text-field-border-color-disabled-light);
  margin-bottom: $spacer-sm;

  @include focus-hover {
    border-bottom-width: $text-field-border-width;
    padding-bottom: ($text-field-padding-y - $text-field-border-width);
  }
}

.form-horizontal .group-flair-inputs .group-flair-right {
  margin-left: $spacer;
}

.form-vertical {
  body & {
    .checkbox-label {
      margin-bottom: $spacer-sm;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .control-group {
      margin-bottom: $spacer-lg;
    }

    .control-label {
      @extend %typography-caption;

      margin-bottom: 0;
    }

    .controls {
      align-items: flex-start;
      display: flex;
      margin-bottom: $spacer-sm;

      &:last-child {
        margin-bottom: 0;
      }

      &.category-controls,
      &.controls-dropdown {
        margin-top: $spacer-sm;

        &:first-child {
          margin-top: 0;
        }

        label {
          flex-shrink: 0;
          margin-top: (($text-field-height - $font-size-base * $line-height-base) / 2);
        }
      }

      > :first-child {
        margin-right: $spacer-sm;
      }

      > :last-child {
        margin-right: 0;
      }

      input[type="color"],
      input[type="date"],
      input[type="datetime"],
      input[type="datetime-local"],
      input[type="email"],
      input[type="month"],
      input[type="number"],
      input[type="password"],
      input[type="search"],
      input[type="tel"],
      input[type="text"],
      input[type="time"],
      input[type="url"],
      input[type="week"],
      label,
      .static,
      .uploaded-image-preview {
        margin-bottom: 0;
      }

      .d-editor {
        margin-top: $spacer-sm;
        margin-bottom: $spacer-sm;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.image-upload-controls {
  padding: ($card-padding-y / 2) ($card-padding-x / 2);

  label {
    &.btn {
      padding: $btn-padding-y-sm $btn-padding-x-sm;
    }
  }

  .btn {
    @extend %btn-raised;
    @extend %btn-sm;
  }
}

.input-append,
.input-prepend {
  body & {
    align-items: center;
    display: flex;
    margin-bottom: $spacer-sm;

    input {
      margin-bottom: 0;

      + .add-on {
        margin-left: $spacer;
      }
    }

    .add-on {
      background-color: transparent;
      border: 0;
      font-size: $material-icon-size;
      height: auto;
      justify-content: center;
      line-height: 1;
      margin: 0;
      min-width: $material-icon-size;
      padding: 0;

      + input {
        margin-left: $spacer;
      }
    }
  }
}

.upload-selector .radios .inputs {
  input {
    @extend %text-field-box;

    margin-bottom: $text-field-margin-y;
    width: 100%;
  }
}
