form {
  margin: 0 0 $spacer-y;

  > br,
  > .ember-view:empty {
    display: none;
  }
}

input[type="checkbox"],
input[type="radio"] {
  margin-top: (($font-size-base * $line-height-base - $font-size-base) / 2);
  margin-right: $spacer-x-inline;
  margin-left: 0;
}

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
textarea {
  @include text-field;

  margin-bottom: $text-field-margin-y;
}

label {
  font-weight: bolder;
  margin-bottom: $text-field-margin-y;
}

.checkbox-label {
  align-items: center;
  display: flex;

  input {
    &[type='checkbox'],
    &[type='radio'] {
      margin: 0 $spacer-sm 0 0;
    }
  }
}

.control-group {
  margin-bottom: $spacer-y;

  &:last-child {
    margin-bottom: 0;
  }

  .form-horizontal & {
    margin-bottom: 0;
  }

  .form-vertical & {
    margin-bottom: $spacer-y;
  }
}

.controls .static {
  @include text-field;

  border-color: color-chooser($text-field-border-color-disabled-dark, $text-field-border-color-disabled-light);
  border-style: dotted;
  color: color-chooser($text-field-border-color-disabled-dark, $text-field-border-color-disabled-light);
  margin-bottom: $text-field-margin-y;
  pointer-events: none;
}

.form-horizontal .group-flair-inputs .group-flair-right {
  margin-left: $spacer;
}

.form-vertical {
  body & {
    .checkbox-label {
      margin-bottom: $spacer-sm;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .control-label {
      @include typography-caption;
    }

    .controls {
      align-items: center;
      display: flex;
      margin-bottom: $spacer-sm;

      &:last-child {
        margin-bottom: 0;
      }

      &.category-controls,
      &.controls-dropdown {
        margin-top: $spacer-sm;

        &:first-child {
          margin-top: 0;
        }

        label {
          flex-shrink: 0;
        }
      }

      > :first-child {
        margin-right: $spacer-sm;
      }

      > :last-child {
        margin-right: 0;
      }

      input[type='color'],
      input[type='date'],
      input[type='datetime'],
      input[type='datetime-local'],
      input[type='email'],
      input[type='month'],
      input[type='number'],
      input[type='password'],
      input[type='search'],
      input[type='tel'],
      input[type='text'],
      input[type='time'],
      input[type='url'],
      input[type='week'],
      label,
      .static,
      .uploaded-image-preview {
        margin-bottom: 0;
      }

      .d-editor {
        margin-bottom: $spacer-sm;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.image-upload-controls {
  padding: ($card-padding-y / 2) ($card-padding-x / 2);

  label {
    &.btn {
      padding: $btn-padding-y $btn-padding-x;
    }
  }
}

.input-append,
.input-prepend {
  body & {
    align-items: center;
    display: flex;
    margin-bottom: $spacer-sm;

    input {
      margin-bottom: 0;

      + .add-on {
        margin-left: $spacer;
      }
    }

    .add-on {
      background-color: transparent;
      border: 0;
      font-size: $material-icon-size;
      height: auto;
      justify-content: center;
      line-height: 1;
      margin: 0;
      min-width: $material-icon-size;
      padding: 0;

      + input {
        margin-left: $spacer;
      }
    }
  }
}

.pref-associated-accounts {
  td {
    padding: 0 $spacer-sm $spacer-sm 0;

    &:last-child {
      padding-right: 0;
    }
  }

  tr:last-child td {
    padding-bottom: 0;
  }
}

.pref-auth-tokens {
  margin-bottom: $spacer-sm;

  .auth-token-dropdown {
    margin-left: $spacer-sm;
  }

  .auth-token-first {
    font-size: inherit;
  }

  .auth-token-icon {
    font-size: 2em;
    margin-right: $spacer-sm;
  }

  .auth-token-second {
    color: color-chooser($white-secondary, $black-secondary);
  }

  .row {
    border-bottom: $table-border-width solid color-chooser($table-border-color-dark, $table-border-color-light);
    margin: 0;
    padding: $spacer-sm 0;
  }
}

.pref-avatar .avatar {
  max-height: $btn-height;
  max-width: $btn-height;
}

.pref-second-factor {
  margin-top: 0;

  .btn {
    margin-left: $spacer-sm;
  }
}

.upload-selector {  label {
    padding-left: ($modal-inner-spacer-x / 2);
  }

  .radios {
    flex-wrap: wrap;
    margin-bottom: $modal-inner-spacer-y;

    &,
    &:last-child:not(:nth-child(2)) {
      min-height: auto;
    }

    &:last-child {
      margin-bottom: 0;
    }

    label {
      margin-right: ($modal-inner-spacer-x / 2);

      &:last-child {
        margin-bottom: 0;
      }
    }

    .inputs {
      input {
        margin-bottom: $text-field-margin-y;
        width: 100%;
      }

      .hint {
        margin: 0;
        text-align: right;
      }
    }
  }
}

.uploaded-image-preview {
  border-radius: $text-field-border-radius;
  margin-bottom: $text-field-margin-y;
}
