.select2-container {
  border: 0;
  border-radius: 0;

  &.select2-container-active {
    box-shadow: none;
    margin-bottom: 0;

    a.select2-choice {
      border-radius: $btn-border-radius $btn-border-radius 0 0;
      box-shadow: $btn-box-shadow-active;

      &::before {
        border-radius: $btn-border-radius $btn-border-radius 0 0;
        opacity: 1;
      }
    }
  }

  a.select2-choice {
    @extend %btn-flat;
    @extend %btn-raised;

    align-items: center;
    display: inline-flex;
    height: $btn-height;

    > .select2-chosen {
      margin-right: 0;
    }

    .select2-arrow {
      border-radius: 0;
      height: auto;
      position: static;
      width: auto;

      b {
        background-color: transparent;
        background-image: none;
        height: auto;
        margin-left: $spacer-xs;
        width: $btn-font-size;

        &::before {
          @extend %material-icons;

          content: 'arrow_drop_down';
        }
      }
    }
  }
}

.select2-drop {
  .category-desc,
  .topic-count {
    @include typography-small;
  }

  .category-desc {
    margin-top: ($dropdown-link-padding-y-sm / 2);
  }
}

.select2-results {
  margin: 0;
  padding: 0;

  .select2-highlighted {
    background-color: color-chooser($dropdown-link-bg-hover-dark, $dropdown-link-bg-hover-light);
  }

  .select2-no-results {
    @include dropdown-header;
    @include dropdown-header-sm;

    background-color: transparent;
  }

  .select2-result-label {
    @include dropdown-link;
    @include dropdown-link-sm;
  }
}

.select2-search {
  display: block;
  min-height: 0;
  padding-right: $dropdown-link-padding-x;
  padding-left: $dropdown-link-padding-x;

  input[type='text'] {
    @include text-field-box;

    height: $text-field-box-height !important;
    margin-bottom: ($dropdown-link-padding-y-sm * 2);
  }
}
