.d-header {
  box-shadow: $header-box-shadow;
  color: unquote('$header-primary');
  height: auto;
  margin: 0;
  min-height: $header-height;
  padding: $header-padding-y $header-padding-x;

  .contents {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  .extra-info-wrapper {
    margin-left: $header-inner-spacer-x;
    overflow: visible;

    .badge-wrapper.bullet {
      margin-top: 0;
      margin-right: 0;
      margin-left: $header-inner-spacer-x;
    }
  }

  .icons {
    align-items: center;
    display: flex;
    margin: 0;

    [class^='fa fa-'] {
      @include material-icons;

      height: auto;
      width: auto;
    }

    .fa-search::before {
      content: 'search';
    }

    .fa-bars::before {
      content: 'menu';
    }

    .icon {
      align-items: center;
      border: 0;
      border-radius: 50%;
      color: inherit;
      display: flex;
      height: ($header-height - $header-padding-y * 2);
      justify-content: center;
      margin-left: $header-inner-spacer-x;
      padding: 0;
      width: ($header-height - $header-padding-y * 2);

      &:focus,
      &:hover {
        background-color: $header-item-overlay;
        border: 0;
        color: inherit;
      }

      &:focus {
        outline: 0;
      }
    }

    .active .icon {
      .drop-down-visible & {
        background-color: $header-item-overlay;
        border: 0;
        color: inherit;
      }
    }
  }

  .panel {
    margin-left: auto;
    order: 1;
  }

  #site-logo {
    max-height: $material-icon-size;
  }

  .title {
    a {
      align-items: center;
      display: flex;
    }
  }

  .title-wrapper {
    align-items: center;
    display: flex;
  }
}
