.algolia-enabled {
  .d-header-icons .algolia-holder {
    padding: 0;

    form {
      margin-bottom: 0;
    }
  }
}

.d-header {
  box-shadow: $header-box-shadow;
  height: auto;
  margin: 0;
  min-height: $header-height;
  padding: $header-padding-y $header-padding-x;

  .btn {
    &.login-button {
      .fa-user {
        margin-right: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        text-indent: 0;
        transform: translate(-50%, -50%);
      }
    }

    &.sign-up-button {
      @include material-icons('person_add');

      &::before {
        margin-right: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        text-indent: 0;
        transform: translate(-50%, -50%);
      }
    }
  }

  .contents {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  .extra-info {
    &,
    &.two-rows {
      h1 {
        @include typography-h4;

        margin: 0;
        min-width: 0;
        width: auto;
      }
    }
  }

  .extra-info-wrapper {
    margin-left: $header-inner-spacer-x;
    max-width: 100% !important;

    .badge-wrapper {
      margin-right: 0;
      margin-left: $header-inner-spacer-x;

      @include focus-hover {
        box-shadow: inset 0 0 1px currentColor;
      }

      &.bullet {
        margin-top: 0;
      }
    }
  }

  .header-buttons {
    align-items: center;
    display: flex;
    margin-top: 0;

    .btn {
      align-items: center;
      background-color: transparent;
      background-image: none;
      border-radius: 50%;
      box-shadow: none;
      color: unquote('$header-primary');
      display: flex;
      font-size: inherit;
      height: ($header-height - $header-padding-y * 2);
      justify-content: center;
      line-height: inherit;
      margin-left: $header-inner-spacer-x;
      overflow: hidden;
      padding: 0;
      width: ($header-height - $header-padding-y * 2);

      @include focus-hover {
        background-color: color-chooser($header-item-overlay-dark, $header-item-overlay-light);
        color: unquote('$header-primary');
      }

      &:focus {
        outline: 0;
      }

      .d-button-label {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
    }
  }

  .panel {
    margin-left: auto;
    order: 1;
  }

  #site-logo {
    max-height: ($header-height - $header-padding-y * 3);
  }

  .title {
    margin-right: $header-inner-spacer-x;
    margin-left: $header-inner-spacer-x;

    a {
      align-items: center;
      display: flex;
    }

    h1 {
      color: inherit;
    }
  }

  .title-wrapper {
    align-items: center;
    flex-wrap: nowrap;
    width: auto;
  }

  .topic-header-extra {
    margin-left: $header-inner-spacer-x;

    .discourse-tags {
      @include typography-caption;
    }
  }
}

.d-header-icons {
  align-items: center;
  display: flex;
  margin: 0;

  .badge-notification {
    min-width: ($font-size-base * $line-height-base);
    top: ($chip-padding-y / -2);
  }

  .icon {
    border: 0;
    border-radius: 50%;
    color: inherit;
    height: ($header-height - $header-padding-y * 2);
    margin-left: $header-inner-spacer-x;
    padding: 0;
    width: ($header-height - $header-padding-y * 2);

    @include focus-hover {
      background-color: color-chooser($header-item-overlay-dark, $header-item-overlay-light);
      border: 0;
    }

    &:active {
      background-color: color-chooser($header-item-overlay-dark, $header-item-overlay-light);
    }

    img {
      &.avatar {
        height: ($header-height - $header-padding-y * 3);
        width: ($header-height - $header-padding-y * 3);
      }
    }
  }

  .active .icon {
    .drop-down-mode &,
    .drop-down-visible & {
      background-color: color-chooser($header-item-overlay-dark, $header-item-overlay-light);
      border: 0;
      color: inherit;

      &::after {
        display: none;
      }
    }
  }

  .ring {
    margin-right: 1px;
    top: ($chip-padding-y / -2) !important;
  }
}

#main-outlet {
  padding-top: ($header-height + $header-margin-y);
  padding-right: ($grid-gutter-width / 2);
  padding-left: ($grid-gutter-width / 2);
}
