.d-header {
  box-shadow: $header-box-shadow;
  height: auto;
  margin-bottom: $spacer-y;
  min-height: $header-height;
  padding: $header-padding-y 0;

  .header-buttons {
    margin-top: 0;

    .btn {
      @include btn-raised-reverse;

      color: unquote('$header-primary');
      margin-right: $header-inner-spacer-x;
      padding: $btn-padding-y-sm $btn-padding-x-sm;

      &:hover {
        .discourse-no-touch & {
          background-color: color-chooser($header-item-overlay-dark, $header-item-overlay-light);
        }
      }

      &.login-button {
        margin-left: 0;
      }
    }
  }

  #site-logo {
    height: auto;
    max-height: ($header-height - $header-padding-y * 2);
  }

  .title {
    margin-right: $header-inner-spacer-x;
  }
}

.d-header-icons {
  align-items: center;
  display: flex;
  margin: 0;

  > li:not(:last-child) {
    margin-right: $header-inner-spacer-x;
  }

  .badge-notification {
    min-width: ($font-size-base * $line-height-base);
  }

  .d-icon {
    color: inherit;
  }

  .icon {
    border: 0;
    border-radius: 50%;
    color: inherit;
    height: ($header-height - $header-padding-y * 2);
    padding: 0;
    transition: background-color $transition-duration $transition-timing-function;
    width: ($header-height - $header-padding-y * 2);

    @include focus-hover {
      background-color: color-chooser($header-item-overlay-dark, $header-item-overlay-light);
      border: 0;

      .d-icon {
        color: inherit;
      }
    }

    &:active {
      background-color: color-chooser($header-item-overlay-dark, $header-item-overlay-light);
    }

    img {
      &.avatar {
        height: ($header-height - $header-padding-y * 3);
        width: ($header-height - $header-padding-y * 3);
      }
    }
  }

  .ring {
    margin-right: 1px;
    top: ($chip-padding-y / -2) !important;
  }
}

.drop-down-mode,
.drop-down-visible {
  .d-header-icons .active .icon {
    background-color: color-chooser($header-item-overlay-dark, $header-item-overlay-light);
    border: 0;
    color: inherit;

    &::after {
      display: none;
    }

    .d-icon {
      color: inherit;
    }
  }
}

.extra-info-wrapper {
  line-height: 1;
  padding: 0;

  .badge-wrapper {
    margin-right: $header-inner-spacer-x;

    @include focus-hover {
      box-shadow: inset 0 0 1px currentColor;
    }

    &.bullet {
      margin-top: 0;
    }
  }

  .header-title {
    @include typography-h4;

    margin: 0 $header-inner-spacer-x 0 0;
    min-width: 1px;
    width: auto;
  }

  .topic-header-extra .discourse-tags {
    font-size: inherit;

    .discourse-tag {
      display: inline-block;
    }
  }
}

#main-outlet {
  padding-top: ($header-height + $spacer-y);
  padding-right: ($spacer-x / 2);
  padding-left: ($spacer-x / 2);
}

.title-wrapper {
  align-items: center;
  flex-wrap: nowrap;

  .topic-statuses {
    line-height: inherit;
    margin-right: $header-inner-spacer-x;
  }
}
