ol {
  &.category-breadcrumb {
    margin: 0 0 $spacer-sm;

    li {
      display: flex;
      margin-right: $spacer-sm;
      max-width: ($container-max-width / 5);
      position: relative;
    }
  }
}

.category-drop.combo-box.select-kit .badge-wrapper.box span {
  &.badge-category {
    margin-left: ($chip-width + $chip-inner-spacer-x);
  }
}

.category-navigation {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
}

.category-notification-menu {
  .dropdown-menu {
    @extend %dropdown-menu-sm;

    top: $btn-height;

    a {
      @extend %dropdown-link-sm;
    }
  }
}

.list-controls {
  margin-bottom: ($spacer-lg - $spacer-sm);

  a {
    &.badge-category {
      font-size: inherit;
      padding: 0;
    }
  }

  .btn {
    @extend %btn-raised;

    font-size: $btn-font-size;
    font-weight: $btn-font-weight;
    margin: 0 0 $spacer-sm $spacer-sm;
  }

  .category-breadcrumb > li {
    box-shadow: $btn-box-shadow;

    > a {
      &.dropdown-header {
        @extend %btn-flat;
        @extend %btn-raised;

        border-radius: $btn-border-radius 0 0 $btn-border-radius;
        box-shadow: none;

        &::before {
          border-radius: $btn-border-radius 0 0 $btn-border-radius;
        }

        &:not(.category-dropdown-button) {
          flex-grow: 1;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &.category-dropdown-button {
          border-left: 1px solid $black-divider;
          border-radius: 0 $btn-border-radius $btn-border-radius 0;
          margin-left: -1px;
          padding: $btn-padding-y ($btn-padding-x / 2);
          width: auto;

          &::before {
            border-radius: 0 $btn-border-radius $btn-border-radius 0;
          }

          .fa-caret-right {
            margin-left: 0;
          }
        }
      }
    }
  }

  .category-dropdown-menu {
    @extend %dropdown-menu;
    @extend %dropdown-menu-sm;

    min-width: 100%;
    padding-right: $dropdown-link-padding-x-sm;
    padding-left: $dropdown-link-padding-x-sm;

    a {
      &.badge-category {
        @extend %dropdown-header-sm;

        padding-right: 0;
        padding-left: 0;
      }
    }

    .badge-category {
      &.home {
        margin-left: 0;
      }
    }

    .badge-wrapper {
      &.box,
      &.bullet {
        margin-right: 0;
      }

      &.box span {
        &.badge-category {
          padding: 0;
        }
      }

      &.bullet {
        padding: 0 $chip-padding-x 0 0;
      }
    }

    .cat {
      + .cat {
        margin-top: ($dropdown-link-padding-y-sm * 2);
      }
    }

    .home {
      margin-left: $dropdown-link-padding-x;
    }
  }

  .nav {
    margin: 0 auto $spacer-sm 0;

    > li {
      &:last-child {
        margin-right: $spacer-sm;
      }

      > a {
        text-transform: uppercase;
      }
    }
  }

  .select-box {
    align-self: flex-start;
    margin-bottom: $spacer-sm;
  }
}
