ol {
  &.category-breadcrumb {
    margin: 0 0 $spacer-sm;

    > li {
      display: flex;
      margin-right: $spacer-sm;
      max-width: ($container-max-width / 5);
      position: relative;
    }
  }
}

.category-drop.combo-box.select-kit .badge-wrapper.box span {
  &.badge-category {
    margin-left: ($chip-width + $chip-inner-spacer-x);
  }
}

.category-navigation {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
}

.category-notification-menu {
  .dropdown-menu {
    @extend %dropdown-menu-sm;

    top: $btn-height;

    a {
      @extend %dropdown-link-sm;
    }
  }
}

.list-controls {
  margin-bottom: ($spacer-lg - $spacer-sm);

  a {
    &.badge-category {
      font-size: inherit;
      padding: 0;
    }
  }

  .btn {
    @extend %btn-raised;

    font-size: $btn-font-size;
    font-weight: $btn-font-weight;
    margin: 0 0 $spacer-sm $spacer-sm;
  }

  .nav {
    margin: 0 auto $spacer-sm 0;

    > li {
      &:last-child {
        margin-right: $spacer-sm;
      }

      > a {
        text-transform: uppercase;
      }
    }
  }
}

.select-kit {
  &,
  &.category-drop.combo-box,
  &.dropdown-select-box,
  &.dropdown-select-box.toolbar-popup-menu-options {
    .select-kit-body {
      @extend %dropdown-menu;
      @extend %dropdown-menu-sm;

      padding-top: 0;
      padding-bottom: 0;
    }

    .select-kit-collection {
      padding-top: $dropdown-padding-y-sm;
      padding-bottom: $dropdown-padding-y-sm;
    }
  }

  &.category-drop.combo-box,
  &.combo-box,
  &.dropdown-select-box {
    .select-kit-row {
      @extend %dropdown-link-sm;

      &:not(.no-content) {
        padding: $dropdown-link-padding-y-sm $dropdown-link-padding-x-sm;
      }
    }
  }

  &.category-drop.combo-box .category-drop-header,
  &.combo-box .select-kit-header {
    @extend %btn-flat;
    @extend %btn-raised;

    align-items: center;
    display: flex;
    height: $btn-height;

    .fa {
      background-color: transparent !important;
    }
  }

  &.category-drop.combo-box .select-kit-collection .collection-header .category-filter {
    @extend %dropdown-header-sm;

    @include focus-hover {
      background-color: color-chooser($dropdown-link-bg-hover-dark, $dropdown-link-bg-hover-light);
      text-decoration: none;
    }
  }

  &.category-drop.combo-box.is-expanded .category-drop-header,
  &.combo-box .select-kit-header.is-focused {
    background-color: color-chooser($btn-bg-active-dark, $btn-bg-active-light);
    border: 0;
    box-shadow: $btn-box-shadow-active;
  }

  &.combo-box {
    &.is-expanded {
      .select-kit-body {
        border-radius: 0 0 $dropdown-border-radius $dropdown-border-radius;
      }

      .select-kit-wrapper {
        border: 0;
        box-shadow: none;
      }
    }

    .select-kit-filter {
      border-top: 0;
      line-height: inherit;
      padding: $dropdown-link-padding-y-sm $dropdown-link-padding-x-sm;

      .filter-input {
        margin-right: $spacer-sm;
      }
    }

    .select-kit-row {
      margin: 0;
    }
  }

  &.composer-actions.dropdown-select-box .select-kit-header {
    margin-right: $spacer-xs;
    opacity: $nav-link-opacity;

    &:focus,
    &:hover {
      background-color: transparent;
      opacity: 1;
    }

    &.is-focused {
      opacity: 1;
    }

    .d-icon {
      border: 0;
      padding: 0;
    }
  }

  &.dropdown-select-box {
    &.is-expanded {
      .select-kit-body,
      .select-kit-collection {
        border-radius: $dropdown-border-radius;
      }
    }

    &.toolbar-popup-menu-options {
      .collection-header {
        h3 {
          @extend %dropdown-header;
          @extend %dropdown-header-sm;
        }
      }

      .select-kit-row {
        background-color: transparent;
        border-radius: 0;
        margin: 0;
        transition: none;

        &,
        &.is-highlighted {
          .d-icon,
          .texts .desc,
          .texts .name {
            color: inherit;
          }
        }

        &:focus,
        &:hover,
        &.is-highlighted,
        &.is-highlighted.is-selected,
        &.is-selected {
          background-color: color-chooser($dropdown-link-bg-hover-dark, $dropdown-link-bg-hover-light);
          color: inherit;
        }
      }
    }

    .dropdown-select-box-header {
      &:focus,
      &:hover {
        .d-icon {
          color: inherit;
        }
      }

      &.is-focused {
        background-color: color-chooser($btn-bg-active-dark, $btn-bg-active-light);
        outline: 0;
      }
    }

    .select-kit-row {
      .icons {
        margin-top: 0;
        margin-right: ($dropdown-inner-spacer-x / 2);
        width: auto;
      }

      .texts {
        line-height: 1;

        .desc {
          @extend %typography-caption;
        }

        .name {
          @extend %typography-h6;
        }
      }
    }
  }

  .category-row .category-desc {
    @extend %typography-caption;
  }

  .d-icon {
    opacity: $nav-link-opacity;

    @include focus-hover {
      opacity: 1;
    }
  }

  .select-kit-collection {
    background-color: transparent;
  }

  .select-kit-header {
    .caret-icon {
      margin-right: ($spacer-xs / -2);
      margin-left: $spacer-xs;
    }

    .selected-name .badge-wrapper {
      margin-right: 0;
      transform: scale($chip-sm-scale);
      transform-origin: 0 50%;
    }
  }

  .select-kit-row {
    line-height: $line-height-base;
  }
}
