.btn {
  &#login-link,
  &#new-account-link {
    &:hover,
    &:focus,
    &.btn-hover {
      .discourse-no-touch & {
        background-color: color-chooser($btn-bg-hover-dark, $btn-bg-hover-light);
      }
    }

    &:active {
      .discourse-no-touch & {
        background-color: color-chooser($btn-bg-active-dark, $btn-bg-active-light);
      }
    }
  }
}

.btn-social.google_oauth2 .d-icon {
  min-width: 1.75em;
}

.create-account,
.login-modal {
  td {
    input,
    label {
      margin-bottom: $text-field-margin-y;
    }
  }

  tr {
    &:not(.instructions) {
      td {
        padding-top: 0;
      }
    }

    &.instructions {
      label {
        margin-bottom: 0;
        max-width: none;

        &::first-letter {
          text-transform: uppercase;
        }
      }
    }
  }

  #login-buttons:not(.hidden) {
    min-height: 0;
    padding: $modal-inner-spacer-y $modal-padding-x $modal-inner-spacer-y $modal-inner-spacer-x;

    .create-account & {
      padding-top: $modal-inner-spacer-y;
    }

    .btn {
      margin: 0 0 ($modal-inner-spacer-y * 0.5);
      width: 100%;

      &:first-child {
        margin-top: 0 !important;
      }
    }
  }

  .modal-footer .inline-spinner {
    align-self: center;
  }
}

.create-account {
  &.d-modal {
    tr {
      &.input {
        input,
        label {
          margin-bottom: $text-field-margin-y;
        }
      }
    }

    .login-form {
      &::after,
      &::before {
        display: none;
      }

      form {
        padding: $modal-inner-spacer-y $modal-padding-x;
      }

      tr {
        margin-top: $modal-inner-spacer-y;

        &:first-child,
        &.instructions {
          margin-top: 0;
        }
      }
    }

    .modal-body {
      padding: 0;
    }
  }

  .disclaimer {
    margin: $modal-footer-padding-y $modal-inner-spacer-x;
    text-align: right;
  }

  .modal-footer {
    flex-wrap: wrap;
  }
}

.forgot-password-modal {
  input[type='text'] {
    margin-bottom: 0;
  }
}

#login-form {
  td {
    padding-right: 0;
  }

  #credentials {
    tr:first-of-type {
      margin-bottom: ($modal-inner-spacer-y - $text-field-margin-y);
    }
  }
}

.login-form {
  .tip {
    max-width: none;

    &:not(:empty),
    &:empty + td {
      min-height: 0;
    }
  }
}

.login-modal {
  &.d-modal {
    #credentials {
      padding: 0;
    }

    .modal-body {
      align-items: stretch;
      padding: 0;
    }
  }

  #login-form {
    padding: $modal-inner-spacer-y $modal-padding-x;
  }
}
