.btn {
  &#login-link,
  &#new-account-link {
    @include focus-hover {
      background-color: color-chooser($btn-bg-hover-dark, $btn-bg-hover-light);
    }

    &.btn-hover {
      background-color: color-chooser($btn-bg-hover-dark, $btn-bg-hover-light);
    }

    &:active,
    &.btn-active {
      background-color: color-chooser($btn-bg-active-dark, $btn-bg-active-light);
    }
  }
}

.caps-lock-warning.invisible {
  display: none;
}

.create-account,
#login-form {
  input {
    &[type='email'],
    &[type='password'],
    &[type='text'] {
      @extend %text-field-box;

      margin-bottom: $modal-inner-spacer-y;
    }
  }

  td {
    padding: 0;
    vertical-align: top;
  }
}

.create-account {
  &.d-modal {
    tr {
      &.input {
        input {
          margin-bottom: ($modal-inner-spacer-y / 2);
        }

        label {
          margin-top: ($modal-inner-spacer-y / 2);
          margin-bottom: ($modal-inner-spacer-y / 2);
        }
      }
    }

    .login-form {
      padding: ($modal-padding-y - $modal-inner-spacer-y / 2) $modal-padding-x $modal-padding-y;

      tr {
        margin-top: 0;
      }
    }

    .modal-body {
      padding: 0;
    }
  }

  tr {
    &.input {
      td {
        padding-top: 0;
      }

      .tip {
        margin-bottom: $spacer-xs;
        max-width: none;
      }
    }
  }

  .disclaimer {
    margin-top: $modal-footer-padding-y;
    margin-bottom: $modal-footer-padding-y;
    padding-right: $card-inner-spacer-x;
    padding-left: $card-inner-spacer-x;
    text-align: right;
    width: 100%;
  }

  .instructions {
    label {
      font-weight: normal;
    }
  }

  #login-buttons:not(.hidden) {
    border-left-color: color-chooser($white-divider, $black-divider);
    min-height: 0;
    padding: $modal-inner-spacer-y $modal-padding-x;

    button {
      margin: 0 0 ($modal-inner-spacer-y / 2);
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .modal-body {
    form {
      margin-bottom: 0;
    }
  }

  .modal-footer {
    flex-wrap: wrap;
  }
}

.forgot-password-modal {
  input[type='text'] {
    @extend %text-field-box;

    margin-bottom: 0;
  }
}

.login-modal {
  &.d-modal {
    #credentials {
      padding: 0;
    }

    .modal-body {
      align-items: stretch;
      padding: 0;
    }
  }

  td label {
    margin-bottom: ($modal-inner-spacer-y / 2);
  }

  #login-buttons:not(.hidden) {
    border-left-color: color-chooser($modal-border-color-dark, $modal-border-color-light);
    min-height: 0;
    padding: $modal-padding-y $modal-padding-x;

    button {
      margin: 0 0 ($modal-inner-spacer-y / 2);
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  #login-form {
    margin: 0;
    padding: $modal-padding-y $modal-padding-x;
  }

  .modal-footer {
    align-items: center;

    .btn-large {
      font-size: $btn-font-size;
      padding-top: $btn-padding-y;
      padding-bottom: $btn-padding-y;
    }
  }
}
