.caps-lock-warning.invisible {
  display: none;
}

.create-account,
#login-form {
  input {
    &[type='email'],
    &[type='password'],
    &[type='text'] {
      @extend %text-field-box;

      margin-bottom: $modal-inner-spacer-y;
    }
  }

  td {
    padding: 0;
    vertical-align: top;
  }
}

.create-account {
  &.d-modal {
    tr {
      &.input {
        input {
          margin-bottom: $spacer-sm;
        }

        label {
          margin-top: $modal-inner-spacer-y;
          margin-bottom: $spacer-sm;
        }
      }
    }

    .login-form {
      padding: 0 $modal-padding-x $modal-inner-spacer-y;

      tr {
        margin-top: 0;
      }
    }

    .modal-body {
      padding: 0;
    }
  }

  tr {
    &.input {
      td {
        padding-top: 0;
      }

      .tip {
        margin-bottom: $spacer-xs;
        max-width: none;
      }
    }
  }

  .disclaimer {
    margin-top: $modal-footer-padding-y;
    margin-bottom: $modal-footer-padding-y;
    padding-right: $card-inner-spacer-x;
    padding-left: $card-inner-spacer-x;
    text-align: right;
    width: 100%;
  }

  .instructions {
    label {
      font-weight: normal;
    }
  }

  #login-buttons:not(.hidden) {
    border-left-color: color-chooser($white-divider, $black-divider);
    min-height: 0;
    padding: $modal-inner-spacer-y $modal-padding-x;

    button {
      margin: 0 0 $spacer-sm;
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .modal-body {
    form {
      margin-bottom: 0;
    }
  }

  .modal-footer {
    flex-wrap: wrap;
  }
}

#login-form {
  table {
    width: 100%;
  }
}

.login-modal {
  &.d-modal {
    #credentials {
      padding: 0;
    }

    .modal-body {
      align-items: stretch;
      padding: 0;
    }
  }

  td label {
    margin-bottom: $spacer-sm;
  }

  .alert {
    border-radius: 0;
    box-shadow: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: $modal-padding-x;
    padding-left: $modal-padding-x;
  }

  #login-buttons:not(.hidden) {
    border-left-color: color-chooser($white-divider, $black-divider);
    min-height: 0;
    padding: $modal-inner-spacer-y $modal-padding-x;

    button {
      margin: 0 0 $spacer-sm;
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  #login-form {
    margin: 0;
    padding: $modal-inner-spacer-y $modal-padding-x;
  }

  .modal-footer {
    align-items: center;
  }
}
