div {
  &.menu-links-header {
    display: block;

    a {
      &.user-activity-link {
        margin: 0;
      }
    }

    .d-icon-user {
      margin-right: $spacer-x-inline;
    }

    .fa {
      color: inherit;
    }

    .menu-links-row {
      margin-bottom: $menu-panel-inner-spacer-y;
      padding: 0 ($menu-panel-padding-x / 2);

      li {
        &,
        &.glyphs {
          a {
            padding-right: ($menu-panel-padding-x / 2);
            padding-left: ($menu-panel-padding-x / 2);
          }
        }

        a {
          border: 0;
          border-radius: $nav-link-border-radius $nav-link-border-radius 0 0;

          &.active {
            border: 0;
            color: unquote('$tertiary');

            &::after {
              border-top: ($border-width * 2) solid unquote('$tertiary');
              top: auto;
              bottom: ($border-width * -1);
            }
          }
        }
      }
    }
  }
}

.menu-panel {
  background-color: color-chooser($menu-panel-bg-dark, $menu-panel-bg-light);
  border: 0;
  border-radius: $menu-panel-border-radius;
  box-shadow: $menu-panel-box-shadow;
  outline: 0;
  padding: 0;

  &.drop-down {
    right: 0;
  }

  hr {
    margin: $menu-panel-inner-spacer-y 0;
  }

  li {
    &,
    &.heading {
      a {
        &.widget-link {
          padding: $menu-panel-inner-spacer-y $menu-panel-padding-x;
        }
      }
    }

    &.category-link {
      padding: $menu-panel-inner-spacer-y ($menu-panel-padding-x / 2);

      .badge-wrapper.box:last-child {
        margin-right: 0;
      }
    }
  }

  .categories-link {
    padding: $menu-panel-inner-spacer-y ($menu-panel-padding-x / 2);
  }

  .category-links,
  .menu-links {
    margin-right: ($menu-panel-padding-x / 2);
    margin-left: ($menu-panel-padding-x / 2);

    a {
      &.widget-link {
        border-radius: $menu-panel-border-radius;
        padding-right: ($menu-panel-padding-x / 2);
        padding-left: ($menu-panel-padding-x / 2);
      }
    }
  }

  .panel-body {
    height: auto !important;
    max-height: calc(100vh - #{$header-height + $spacer-y});
    padding: $menu-panel-padding-y $menu-panel-padding-x;

    .hamburger-panel &,
    .user-menu & {
      padding: ($menu-panel-padding-y - $menu-panel-inner-spacer-y) 0;
    }
  }
}

.search-menu {
  input[type='text'] {
    height: $text-field-height;
    margin: 0;
    width: 100%;
  }

  .no-results {
    margin-right: auto;
    margin-left: auto;
    padding: $menu-panel-padding-y 0 0;
  }

  .results {
    border-top: $border-width solid color-chooser($white-divider, $black-divider);
    margin-right: ($menu-panel-padding-x * -1);
    margin-left: ($menu-panel-padding-x * -1);

    .list {
      min-width: 0;

      .item .blurb {
        margin-top: 0;
      }
    }

    .main-results {
      + .secondary-results {
        margin-bottom: ($menu-panel-padding-y * -1);
        margin-left: 0;
        padding-left: 0;
      }
    }

    .secondary-results {
      .classification-results {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: $menu-panel-inner-spacer-y;
      }

      .search-result-category,
      .search-result-group,
      .search-result-tag,
      .search-result-user {
        .list .item .widget-link.search-link {
          padding: $menu-panel-inner-spacer-y $menu-panel-padding-x;
        }
      }

      .search-result-group .group-result {
        .d-icon {
          margin-right: ($menu-panel-inner-spacer-x);
        }

        .group-names {
          line-height: inherit;

          .slug {
            @include typography-caption;
          }
        }
      }

      .search-result-tag .discourse-tag {
        font-size: $code-font-size;
      }

      .search-result-user .user-result {
        .avatar {
          margin-right: ($menu-panel-inner-spacer-x);
        }

        .user-titles {
          line-height: inherit;

          .username {
            @include typography-caption;
          }
        }
      }

      .separator {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .show-more {
      border-top: $border-width solid color-chooser($white-divider, $black-divider);
      margin-bottom: ($btn-padding-y * -1);
      padding: ($menu-panel-padding-y - $btn-padding-y) 0 0;
      text-align: center;

      .widget-link {
        @include btn-base;
      }
    }
  }

  .search-context {
    margin-top: $menu-panel-inner-spacer-y;
    padding: 0;

    + .results {
      margin-top: $menu-panel-padding-y;
    }
  }

  .search-input {
    padding: 0;
  }

  .search-link {
    margin-bottom: 0;
    padding: $menu-panel-inner-spacer-y $menu-panel-padding-x;
    transition: background-color $transition-duration $transition-timing-function;

    .blurb {
      @include typography-caption;
    }

    .topic {
      display: block;
      line-height: inherit;

      .badge-wrapper {
        margin-right: 0;
        order: 1;
        transform: scale($chip-sm-scale);
        transform-origin: 0 50%;
      }

      .discourse-tag {
        margin-top: ($menu-panel-inner-spacer-y / 2);
        margin-bottom: ($menu-panel-inner-spacer-y / 2);
      }
    }

    .topic-statuses:empty {
      display: none;
    }

    .topic-title {
      margin-right: $menu-panel-inner-spacer-x;
    }
  }

  .searching {
    &,
    .drop-down-mode &,
    .drop-down-visible & {
      top: ($text-field-height / 2 - $text-field-font-size / 2);
      right: $text-field-padding-x;
    }

    .spinner {
      border-color: currentColor;
      border-right-color: transparent;
      height: $text-field-font-size;
      width: $text-field-font-size;
    }
  }
}

.user-menu {
  .quick-access-panel {
    display: block;

    li {
      transition: background-color $transition-duration $transition-timing-function;

      &:not(.show-all) {
        padding: $menu-panel-inner-spacer-y $menu-panel-padding-x;

        .d-icon {
          margin-right: $dropdown-inner-spacer-x;
          padding-top: 0;
        }
      }

      &.read {
        background-color: transparent;

        &:hover {
          background-color: unquote('$secondary');
        }
      }

      a {
        display: flex;
      }
    }

    .show-all {
      a {
        background-color: transparent;
      }
    }
  }
}
