// Alert

.alert {
  @include card;

  margin-bottom: $spacer-y;

  .close {
    font-size: inherit;
    top: ($card-padding-y * 0.5);
    right: ($card-padding-x * 0.5);
  }
}

[id='modal-alert'] {
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
  padding: $modal-padding-y $modal-padding-x;
}
