nav {
  &.post-controls {
    .actions {
      align-items: center;
      display: flex;
      float: none;
      margin-right: ($card-inner-spacer-x * -1);
      margin-left: ($card-inner-spacer-x * -1);
      padding-top: ($card-inner-spacer-y / 2);
      padding-bottom: ($card-inner-spacer-y / 2);
      text-align: left;

      button {
        margin-right: $card-inner-spacer-x;
        margin-left: 0;
        padding-right: $card-inner-spacer-x;
        padding-left: $card-inner-spacer-x;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.post-menu-area {
  margin-top: $card-inner-spacer-y;
  margin-bottom: $card-inner-spacer-y;
}

.topic-avatar {
  border: 0;
  padding: 0;
  position: absolute;
  top: $card-padding-y;
  left: $card-padding-x;
  width: $card-avatar-size;

  .avatar {
    height: $card-avatar-size;
    width: $card-avatar-size;
  }
}

.topic-body {
  @include card;

  margin-bottom: $card-margin-y;

  .regular {
    @include card-block;

    margin: 0;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }
}

.topic-meta-data {
  @include card-block;

  align-items: center;
  display: flex;
  min-height: ($card-avatar-size + $card-padding-y);
  padding-bottom: 0;
  padding-left: ($card-avatar-size + $card-padding-y * 2);

  .names {
    float: none;
    margin-right: auto;

    span {
      display: block;
      font-size: inherit;
      max-width: none;
      padding-right: $card-inner-spacer-x;

      a {
        &,
        &:focus,
        &:hover {
          color: unquote('$primary');
        }
      }
    }
  }

  .post-info {
    display: block;
    float: none;
    font-size: inherit;
    margin-top: 0;
    margin-left: $card-inner-spacer-x;
    order: 1;

    &.edits {
      margin-right: 0;
      order: 0;
    }
  }
}
