nav {
  &.post-controls {
    .actions {
      align-items: center;
      display: flex;
      float: none;
      margin-right: ($card-inner-spacer-x * -1);
      margin-left: ($card-inner-spacer-x * -1);
      padding-top: ($card-padding-y / 2);
      padding-bottom: ($card-padding-y / 2);
      text-align: left;

      button {
        @include btn-flat;

        margin-right: $card-inner-spacer-x;
        margin-left: 0;
        padding-right: $card-inner-spacer-x;
        padding-left: $card-inner-spacer-x;

        &:last-child {
          margin-right: 0;
        }

        &.delete {
          @include focus-hover {
            color: unquote('$danger');
          }

          &.d-hover {
            background-color: color-chooser($btn-bg-hover-dark, $btn-bg-hover-light);
            color: unquote('$danger');
          }
        }

        &.has-like {
          color: unquote('$love');
        }

        &.like {
          @include focus-hover {
            color: unquote('$love');
          }

          &.d-hover {
            background-color: color-chooser($btn-bg-hover-dark, $btn-bg-hover-light);
            color: unquote('$love');
          }
        }

        .fa {
          @include material-icons;
        }

        .fa-ellipsis-h::before {
          content: 'more_horiz';
        }

        .fa-flag::before {
          content: 'flag';
        }

        .fa-heart::before {
          content: 'favorite';
        }

        .fa-link::before {
          content: 'link';
        }

        .fa-pencil::before {
          content: 'edit';
        }

        .fa-reply::before {
          content: 'reply';
        }

        .fa-trash-o::before {
          content: 'delete';
        }

        .fa-wrench::before {
          content: 'settings';
        }

        .read-icon::before {
          @include material-icons;

          content: 'bookmark';
        }
      }
    }
  }
}

.gap {
  @include typography-small;

  color: color-chooser($white-secondary, $black-secondary);
  font-weight: bolder;
  margin: $card-margin-y 0;
  padding: $card-margin-y 0 $card-margin-y ($card-inner-spacer-x * 2 + $card-padding-x + $material-icon-size);
  text-transform: none;
  width: 690px;
}

.names {
  .fa {
    @include material-icons;

    margin-left: 0;
  }

  .fa-shield::before {
    content: 'security';
  }
}

.post-menu-area {
  margin-top: $card-inner-spacer-y;
  margin-bottom: $card-inner-spacer-y;
}

.posts-wrapper {
  margin-bottom: ($spacer-lg - $card-margin-y);
}

.read-state {
  font-size: $font-size-base;
  top: 0;
  right: 0;

  .fa {
    @include material-icons;
  }

  .fa-circle::before {
    content: 'fiber_new';
  }
}

.small-action {
  @include card;
  @include card-block;

  align-items: center;
  border-top: 0;
  display: flex;
  margin-top: $card-margin-y;
  margin-bottom: $card-margin-y;
  position: relative;
  width: 690px;

  button {
    @include btn-flat;
    @include btn-sm;

    color: color-chooser($white-secondary, $black-secondary);
    margin-top: (($btn-height-sm - $font-size-base * $line-height-base) / -2);
    margin-bottom: (($btn-height-sm - $font-size-base * $line-height-base) / -2);
    padding-right: $card-inner-spacer-x;
    padding-left: $card-inner-spacer-x;
  }

  .small-action-desc {
    @include typography-h6;

    align-items: center;
    color: color-chooser($white-secondary, $black-secondary);
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
    margin-top: 0;
    padding: 0 0 0 ($card-inner-spacer-x * 2);
    text-transform: none;

    > p {
      margin-right: auto;
      padding: 0 $card-inner-spacer-x 0 0;
    }

    .avatar {
      height: $material-icon-size;
      margin-right: $card-inner-spacer-x;
      weight: $material-icon-size;
    }

    .fa {
      @include material-icons;
    }

    .fa-pencil::before {
      content: 'edit';
    }

    .fa-times::before {
      content: 'close';
    }
  }

  .topic-avatar {
    padding: 0;
    position: static;
    width: auto;

    .fa {
      @include material-icons;

      color: color-chooser($white-secondary, $black-secondary);
      width: auto;
    }

    .fa-comment::before {
      content: 'forum';
    }

    .fa-envelope::before {
      content: 'message';
    }

    .fa-eye::before {
      content: 'visibility';
    }

    .fa-eye-slash::before {
      content: 'visibility_off';
    }

    .fa-lock::before {
      content: 'lock'
    }

    .fa-unlock-alt::before {
      content: 'lock_open';
    }
  }

  .trigger-user-card {
    order: 1;
  }
}

.topic-avatar {
  border: 0;
  padding: 0;
  position: absolute;
  top: $card-padding-y;
  left: $card-padding-x;
  width: $card-avatar-size;

  .avatar {
    height: $card-avatar-size;
    width: $card-avatar-size;
  }
}

.topic-body {
  @include card;

  margin-bottom: $card-margin-y;

  .regular {
    @include card-block;

    margin: 0;
    padding-bottom: 0;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }
}

#topic-footer-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: ($spacer-lg - $card-margin-y);
  padding: 0;

  div > button,
  span > button,
  > button {
    &.btn {
      @include btn-raised;

      margin: 0 $card-margin-x $card-margin-y 0;
    }
  }

  p {
    line-height: $btn-height;
    margin-bottom: $card-margin-y;
    vertical-align: middle;
  }

  .btn {
    margin: 0;
  }

  .dropdown-menu {
    @include dropdown-menu-sm;

    a {
      @include dropdown-link-sm;
    }
  }

  .fa {
    @include material-icons;

    opacity: 1;
  }

  .fa-bookmark::before {
    content: 'bookmark';
  }

  .fa-calendar::before {
    content: 'event';
  }

  .fa-circle::before {
    content: 'track_changes';
  }

  .fa-circle-o::before {
    content: 'notifications';
  }

  .fa-clock-o::before {
    content: 'timer';
  }

  .fa-comment::before {
    content: 'forum';
  }

  .fa-envelope::before {
    content: 'message';
  }

  .fa-exclamation-circle::before {
    content: 'notifications_active';
  }

  .fa-eye::before {
    content: 'visibility';
  }

  .fa-eye-slash::before {
    content: 'visibility_off';
  }

  .fa-flag::before {
    content: 'flag';
  }

  .fa-folder::before {
    content: 'archive';
  }

  .fa-link::before {
    content: 'link';
  }

  .fa-lock::before {
    content: 'lock';
  }

  .fa-reply::before {
    content: 'reply';
  }

  .fa-tasks::before {
    content: 'check_box';
  }

  .fa-thumb-tack::before {
    content: 'vertical_align_top';
  }

  .fa-times-circle::before {
    content: 'notifications_off';
  }

  .fa-trash-o::before {
    content: 'delete';
  }

  .fa-wrench::before {
    content: 'settings';
  }

  .fa-undo::before {
    content: 'undo';
  }

  .fa-unlock::before {
    content: 'lock_open';
  }

  .fa-users::before {
    content: 'group_add';
  }

  .popup-menu {
    @include dropdown-menu-sm;

    h3 {
      @include dropdown-header-sm;
    }

    .btn {
      @include dropdown-link-sm;
    }
  }

  > div {
    width: 100%;
  }
}

.topic-map {
  background-color: transparent;
  border: 0;
  margin: 0;
  position: relative;

  h3 {
    @include typography-h6;

    color: $card-color;
    margin-bottom: ($card-inner-spacer-y / 2);
  }

  h4 {
    @include typography-small;

    color: $card-color;
    margin: 0 0 ($card-inner-spacer-y / 2 / 2);
  }

  section {
    border-top: 0;

    &.avatars,
    &.links,
    &.map {
      border-top: 1px solid color-chooser($white-divider, $black-divider);
    }
  }

  .avatar {
    height: $btn-height;
    margin-right: $card-inner-spacer-x;
    width: $btn-height;
  }

  .avatars {
    padding: $card-padding-y $card-padding-x ($card-padding-y - $card-inner-spacer-y / 2);

    .post-count {
      @include typography-small;

      align-items: center;
      border-radius: ($btn-height / 4);
      display: flex;
      height: ($btn-height / 2);
      padding: 0 ($card-inner-spacer-x / 2);
      top: ($btn-height / 2 / -4);
      right: ($card-inner-spacer-x / 2);
    }

    > div {
      margin: 0 0 ($card-inner-spacer-y / 2);
    }
  }

  .buttons {
    position: absolute;
    top: (($btn-height + $card-inner-spacer-y / 2) * -1);
    right: 0;

    .btn {
      @include btn-flat;

      margin-right: $card-inner-spacer-x;
      padding-right: $card-inner-spacer-x;
      padding-left: $card-inner-spacer-x;

      .fa {
        @include material-icons;
      }

      .fa-chevron-down::before {
        content: 'expand_more';
      }

      .fa-chevron-up::before {
        content: 'expand_less';
      }
    }
  }

  .information {
    @include card-block;

    background-color: color-chooser($card-child-bg-dark, $card-child-bg-light);

    .btn {
      @include btn-flat;

      margin-right: $card-inner-spacer-x;
      padding-right: $card-inner-spacer-x;
      padding-left: $card-inner-spacer-x;
    }

    .controls {
      margin-right: ($card-inner-spacer-x * -1);
      margin-left: ($card-inner-spacer-x * -1);
    }
  }

  .links {
    padding: $card-padding-y $card-padding-x ($card-padding-y / 2);
  }

  .link-summary {
    margin-right: ($card-inner-spacer-x / -2);
    margin-left: ($card-inner-spacer-x / -2);

    a {
      @include btn-flat;

      margin-right: $card-inner-spacer-x;
      padding-right: $card-inner-spacer-x;
      padding-left: $card-inner-spacer-x;
    }
  }

  .map {
    padding: 0 ($card-padding-x - $card-inner-spacer-x);

    a {
      line-height: 1;
      vertical-align: middle;
    }

    li {
      padding: $card-inner-spacer-y $card-inner-spacer-x;

      &:nth-child(3),
      &.secondary {
        display: flex;
        flex-direction: column-reverse
      }
    }

    ul {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
    }

    .avatar {
      height: ($font-size-base * $line-height-base);
      width: ($font-size-base * $line-height-base);
    }

    .number {
      font-size: ($font-size-base * $line-height-base);
      line-height: 1;
      margin-top: 1px;
    }
  }

  .map-collapsed {
    display: none;
  }

  .participants {
    .user {
      align-items: center;
      background-color: color-chooser($chip-bg-dark, $chip-bg-light);
      border-radius: ($chip-height / 2);
      color: inherit;
      display: flex;
      font-size: .857142857em;
      height: $chip-height;
      margin: ($card-inner-spacer-y / 2) $card-inner-spacer-x ($card-inner-spacer-y / 2) 0;
      padding: 0 $chip-padding-x 0 ($chip-height + $chip-inner-spacer-x);
      position: relative;

      a {
        color: inherit;
        font-size: inherit;
        font-weight: normal;
      }

      .avatar {
        height: $chip-height;
        position: absolute;
        top: 0;
        left: 0;
        width: $chip-height;
      }

      .remove-invited {
        margin-left: $chip-inner-spacer-x;

        .fa-times {
          @include material-icons;

          color: color-chooser($chip-icon-color-dark, $chip-icon-color-light);
          margin-right: ($chip-inner-spacer-x - $chip-padding-x);

          &::before {
            content: 'cancel';
          }
        }
      }
    }
  }

  .topic-links {
    .badge-notification {
      margin: 0 $card-inner-spacer-x 0 0;
    }

    span {
      &.domain {
        font-size: .857142857em;
      }
    }

    td {
      padding: 0 0 ($card-inner-spacer-y / 2);
    }

    .topic-link {
      margin-right: $card-inner-spacer-x;
    }
  }
}

.topic-meta-data {
  @include card-block;

  align-items: center;
  display: flex;
  min-height: ($card-avatar-size + $card-padding-y);
  padding-right: ($card-padding-y / 2);
  padding-bottom: 0;
  padding-left: ($card-avatar-size + $card-padding-y * 2);

  .names {
    float: none;
    margin-right: auto;

    span {
      display: block;
      font-size: inherit;
      max-width: none;
      padding-right: $card-inner-spacer-x;

      a {
        &,
        &:focus,
        &:hover {
          color: unquote('$primary');
        }
      }
    }
  }

  .post-info {
    display: block;
    float: none;
    font-size: inherit;
    margin-top: 0;
    margin-left: $card-inner-spacer-x;
    order: 1;

    &.edits {
      margin-right: 0;
      order: 0;
    }

    a {
      @include btn-flat;
      @include btn-sm;

      color: color-chooser($white-secondary, $black-secondary);
      padding-right: $card-inner-spacer-x;
      padding-left: $card-inner-spacer-x;
    }

    .fa {
      @include material-icons;
    }

    .fa-pencil::before {
      content: 'edit';
    }
  }
}

.topic-status-info {
  border-top: 0;
  height: auto;
  margin-top: $card-margin-y;
  margin-bottom: $card-margin-y;
  padding: 0;

  &:empty {
    display: none;
  }
}

#topic-title {
  margin-bottom: ($card-margin-y * 2);
  padding-top: 0;

  a {
    &.edit-topic {
      color: unquote('$tertiary');
      font-size: $font-size-base;
      line-height: 1;
      vertical-align: middle;

      .fa-pencil {
        @include material-icons;

        &::before {
          content: 'edit';
        }
      }
    }
  }

  h1 {
    @include typography-h1;

    font-family: $font-family-serif;
    font-weight: normal;
    margin: 0 0 ($card-margin-y * 2);
    overflow: visible;
  }
}
