%progress-bar {
  background-color: $progress-bg;
  border-radius: 0 2px 2px 0;
  height: $progress-height;
  position: relative;
}

%progress-base {
  background-color: $progress-bg;
  border-radius: 2px;
  height: $progress-height;
  position: relative;

  &::before {
    background-color: inherit;
    background-image: linear-gradient(to right, $progress-mask, $progress-mask);
    border-radius: 2px;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
