.fps-result {
  @extend %card;
  @extend %card-block;

  align-items: flex-start;
  display: flex;
  margin-bottom: $card-margin-y;

  .avatar {
    margin-right: $card-inner-spacer-x;
    max-height: ($font-size-h4 * $line-height-h4);
    max-width: ($font-size-h4 * $line-height-h4);
  }

  .blurb {
    font-size: inherit;
    line-height: inherit;
    max-width: 100%;
  }

  .search-category {
    margin-top: ($card-inner-spacer-y / 2);
    padding-top: 0;
    width: 100%;
  }

  .search-link .topic-statuses {
    @extend %typography-body;
  }

  .search-link .topic-title {
    @extend %typography-h4;
  }

  .topic {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: ($card-inner-spacer-y / 2);
    max-width: 100%;
    padding-bottom: 0;

    input[type='checkbox'] {
      margin-right: $card-inner-spacer-x;
    }
  }
}

.fps-select {
  align-items: center;
  display: flex;

  a {
    @extend %btn-flat;
    @extend %btn-raised;

    margin-left: $card-inner-spacer-x;
  }
}

.search-advanced {
  margin-bottom: $spacer-lg;

  .search-advanced-btn {
    border-radius: $card-border-radius;
    display: block;
    padding: $card-padding-y $card-padding-x;
  }

  .search-advanced-options {
    @extend %card-block;

    border: 0;
    padding: 0;

    .control-group.pull-left {
      margin-bottom: $card-inner-spacer-y;
      padding-right: ($card-padding-x / 2);

      &:last-child {
        padding-right: 0;
        padding-left: ($card-padding-x / 2);
      }
    }

    #postTime {
      margin: 0 0 ($card-inner-spacer-y / 2);
    }
  }

  .search-bar {
    @extend %card;
    @extend %card-block;

    .search-container & {
      margin-bottom: $spacer-lg;
    }

    .search-cta {
      padding: $btn-padding-y $card-inner-spacer-x;
    }

    .search-query {
      @extend %text-field-box;

      margin-right: $card-padding-x;
    }
  }

  .search-info {
    .search-container & {
      border-bottom: 0;
      margin-bottom: $spacer-lg;
      padding-bottom: 0;
    }
  }

  .search-notice {
    .search-container & {
      margin-bottom: $spacer-lg;
    }
  }

  .search-title {
    .search-container & {
      margin-bottom: $spacer-lg;

      .bulk-select {
        margin-left: $card-inner-spacer-x;
      }

      .fps-select a {
        margin-left: $card-inner-spacer-x;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .btn {
      @extend %btn-raised;
    }
  }
}

.search-advanced-sidebar {
  @extend %card;
  @extend %card-block;

  margin-bottom: $spacer-lg;

  .search-container & {
    margin-left: $spacer-lg;

    .date-picker-wrapper {
      margin-top: $card-inner-spacer-y;

      .date-picker {
        padding: $text-field-box-padding-y $text-field-box-padding-x ($text-field-box-padding-y - $text-field-border-width);

        @include focus-hover {
          padding-bottom: ($text-field-box-padding-y - $text-field-border-width * 2);
        }
      }
    }

    .search-advanced-filters {
      background-color: transparent;
      padding: 0;

      .control-group {
        margin-bottom: $card-inner-spacer-y;

        [id='search-min-post-count'] {
          margin-bottom: 0;
          padding-left: $text-field-box-padding-x;
        }
      }
    }

    .search-advanced-title {
      @extend %typography-h4;

      background-color: transparent;
      padding: 0;
    }
  }

  input[type='number'],
  input[type='text'] {
    @extend %text-field-box;
  }

  section {
    &.field {
      margin-top: 0;
    }
  }

  .ac-wrap {
    max-width: 100%;
  }

  .search-cta {
    @extend %btn-raised;
  }
}

.search-container {
  align-items: flex-start;
}

.search-footer {
  margin-top: $spacer-lg;
  margin-bottom: $spacer-lg;
}
