.fps-result {
  @extend %card;
  @extend %card-block;

  align-items: flex-start;
  display: flex;
  margin-bottom: $card-margin-y;

  .avatar {
    margin-right: $card-inner-spacer-x;
  }

  .blurb {
    font-size: inherit;
    line-height: inherit;
    max-width: 100%;
  }

  .search-category {
    margin-top: ($card-inner-spacer-y / 2);
    padding-top: 0;
    width: 100%;
  }

  .search-link .topic-title {
    @extend %typography-h4;
  }

  .topic {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: ($card-inner-spacer-y / 2);
    max-width: 100%;
    padding-bottom: 0;

    input[type='checkbox'] {
      margin-right: $card-inner-spacer-x;
    }
  }
}

.fps-select {
  margin-top: ($spacer-lg / -2);
  margin-bottom: $spacer-lg;

  a {
    @extend %btn-flat;
    @extend %btn-raised;
    @extend %btn-sm;

    margin-right: $spacer-sm;
  }
}

.search.row {
  margin-bottom: 0;

  > input[type='text'] {
    margin-bottom: $spacer-lg;
    min-width: 50%;
  }

  > .btn,
  .new-topic-btn .btn {
    @extend %btn-raised;

    margin-bottom: $spacer-lg;
  }

  input {
    &[type='date'],
    &[type='number'],
    &[type='text']:not(.user-selector) {
      @extend %text-field-box;

      display: inline-block;
      vertical-align: middle;
    }
  }

  .search-bar {
    align-items: center;

    .btn {
      @extend %btn-raised;
    }
  }
}

.search-advanced {
  @extend %card;

  margin-bottom: $spacer-lg;

  .container {
    padding: $card-padding-y $card-padding-x 0;
  }

  .search-advanced-btn {
    border-radius: $card-border-radius;
    display: block;
    padding: $card-padding-y $card-padding-x;
  }

  .search-advanced-options {
    @extend %card-block;

    border: 0;
    padding: 0;

    .control-group.pull-left {
      margin-bottom: $card-inner-spacer-y;
      padding-right: ($card-padding-x / 2);

      &:last-child {
        padding-right: 0;
        padding-left: ($card-padding-x / 2);
      }
    }

    #postTime {
      margin: 0 0 ($card-inner-spacer-y / 2);
    }
  }
}

.search-footer {
  margin-top: $spacer-lg;
  margin-bottom: $spacer-lg;
}

.search-title {
  align-items: center;
  border-bottom: 0;
  display: flex;
  margin: 0 0 $spacer-lg;

  .result-count,
  .sort-by {
    margin-bottom: 0;
  }

  .result-count {
    margin-right: $spacer-sm;

    span {
      height: auto;
      line-height: inherit;
    }
  }

  .sort-by {
    margin-left: auto;
  }
}
