.table {
  @extend %table;

  tbody {
    td,
    th {
      @extend %tbody-cell;
    }
  }

  thead {
    td,
    th {
      @extend %thead-cell;
    }
  }
}

tr {
  @extend %table-row;

  tbody:last-child &,
  thead:last-child & {
    &:last-child {
      border-bottom: 0;
    }
  }
}
