#bulk-select {
  background-color: transparent;
  padding: 0;
  top: ($btn-height + $header-height + $header-margin-y + $spacer-lg);
  right: $spacer-x;
}

.create-topics-notice {
  margin-bottom: ($spacer-lg - $spacer-y);
}

#list-area {
  margin-bottom: $spacer-lg;

  h2 {
    margin: 0 0 $spacer;
  }

  .show-more.has-topics .alert {
    border-bottom: $table-border-width solid color-chooser($table-border-color-dark, $table-border-color-light);
    border-radius: 0;
    box-shadow: none;
    padding: (($thead-cell-height - $font-size-base * $line-height-base) / 2) ($thead-cell-padding-x * 2);
  }

  .top-lists h2 {
    margin: 0;
  }
}

.main-link .topic-category {
  display: inline-flex;
  float: none;
}

.period-chooser {
  &.dropdown-select-box.select-kit {
    .period-chooser-header {
      @include btn-base;
      @include btn-raised;

      h2 {
        &.selected-name {
          display: inline;
          font-size: $btn-font-size;
          font-weight: $btn-font-weight;
          line-height: 1;
          margin: 0;
          overflow: hidden;

          .date-section {
            margin-right: $spacer-xs;
          }

          .top-date-string {
            @include typography-caption;

            color: color-chooser($white-secondary, $black-secondary);
            line-height: 1;
          }
        }
      }

      .d-icon {
        color: inherit;
        margin: 0 ($spacer-xs / -2) 0 $spacer-xs;
        vertical-align: top;
      }
    }

    .period-chooser-row {
      font-size: inherit;
      font-weight: normal;
      padding: $dropdown-link-padding-y $dropdown-link-padding-x;

      .top-date-string {
        @include typography-caption;

        color: color-chooser($white-secondary, $black-secondary);
        line-height: 1;
      }
    }

    .select-kit-collection {
      padding: $dropdown-padding-y $dropdown-padding-x;
    }
  }
}

.tlp-featured-topics {
  display: none;

  &.has-topics {
    @include card;

    margin-bottom: $spacer-lg;

    .featured-tags {
      float: none;
      margin-top: 0;
      padding-right: 0;
      text-align: right;
    }

    .topics {
      overflow: hidden;
      padding: 0;

      .featured-details {
        border-radius: $card-border-radius;
        overflow: hidden;
        padding: $card-padding-y $card-padding-x;

        .content {
          display: flex;
          flex-direction: column;
          height: 100%;
        }
      }

      .thumbnail {
        border-radius: $card-border-radius;
        width: 100% !important;
      }

      .tlp-featured-topic {
        border-radius: $card-border-radius;
        flex: 1 0 0;
        margin-right: 0;
        margin-bottom: $spacer;
        margin-left: $spacer;

        &:first-child {
          margin-left: 0;
        }

        &.show-details {
          .featured-details {
            background-color: color-chooser($modal-backdrop-bg-dark, $modal-backdrop-bg-light);
          }
        }

        .excerpt {
          flex: 1 1 auto;
          margin-bottom: $card-inner-spacer-y;
          overflow: hidden;
          padding-bottom: 0;

          .lightbox:empty {
            display: none;
          }
        }

        .title {
          margin-bottom: ($card-inner-spacer-y / 2);
        }

        .user {
          display: block;
          position: static;
          text-align: right;

          .avatar {
            height: floor($font-size-base * $line-height-base);
            margin-left: ($card-inner-spacer-x / 2);
            width: floor($font-size-base * $line-height-base);
          }
        }
      }
    }
  }
}

.top-lists {
  margin-bottom: $spacer-lg;
}

.top-title-buttons {
  margin-right: 0;
  margin-left: $spacer-xs;
}

.topic-bulk-actions-modal {
  .bulk-buttons {
    border-top: $modal-border-width solid $black-divider;
    display: block;
    margin-right: ($modal-padding-x * -1);
    margin-left: ($modal-padding-x * -1);

    &:last-child .btn:last-child {
      border-bottom: 0;
    }

    .btn {
      border-bottom: $modal-border-width solid color-chooser($modal-border-color-dark, $modal-border-color-light);
      border-radius: 0;
      display: block;
      font-weight: normal;
      margin: 0 0 ($modal-border-width * -1);
      max-width: none;
      padding: $modal-inner-spacer-y $modal-padding-x;
      text-align: inherit;
      text-transform: none;
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }

      .fa {
        margin-right: ($modal-inner-spacer-x / 2);
        opacity: $nav-link-opacity;
      }
    }
  }

  .modal-body:last-child {
    padding-bottom: 0;

    > .btn:last-child {
      float: right;
      margin-right: ($modal-footer-padding-x - $modal-padding-x);
      margin-bottom: $modal-footer-padding-y;

      &:not(:disabled) {
        color: unquote('$tertiary');

        @include focus-hover {
          background-color: color-chooser($btn-bg-hover-dark, $btn-bg-hover-light);
          color: unquote('$tertiary');
        }
      }
    }

    .loading-container {
      margin-right: ($modal-footer-padding-x - $modal-padding-x);
      padding-bottom: $modal-footer-padding-y;
      text-align: right;

      .btn:not(:disabled) {
        color: unquote('$tertiary');

        @include focus-hover {
          background-color: color-chooser($btn-bg-hover-dark, $btn-bg-hover-light);
          color: unquote('$tertiary');
        }
      }
    }
  }
}

.topic-details {
  overflow: visible;
  padding-top: 0;

  .discourse-tags {
    display: inline-block;
    float: none;
  }
}

#topic-entrance {
  @include dropdown-menu;

  button {
    &.btn.jump-bottom {
      margin: 0;
    }

    &.full {
      margin-bottom: 0;
      text-align: left;

      i {
        display: inline-block;
        float: left;
        margin-top: 0;
        margin-right: $spacer-xs;
        margin-bottom: 0;
        vertical-align: top;
      }
    }
  }
}

.topic-list {
  @include table;

  border-radius: $card-border-radius;

  tbody {
    td,
    th {
      @include tbody-cell;

      &:first-of-type {
        padding-left: ($tbody-cell-padding-x * 2);
      }

      &:last-of-type {
        padding-right: ($tbody-cell-padding-x * 2);
      }
    }
  }

  td,
  th {
    line-height: inherit;
  }

  td {
    &.activity,
    &.age,
    &.posters,
    &.posts,
    &.views {
      white-space: nowrap;
      width: 0;
    }

    &.num {
      &.activity,
      &.posts {
        a {
          padding: $tbody-cell-padding-y 0;
        }
      }
    }
  }

  th {
    font-weight: bolder;
  }

  thead {
    td,
    th {
      @include thead-cell;

      padding-top: ($thead-cell-padding-y / 2);
      padding-bottom: ($thead-cell-padding-y / 2);
      white-space: nowrap;

      &:first-of-type {
        padding-left: ($thead-cell-padding-x * 2);
      }

      &:last-of-type {
        padding-right: ($thead-cell-padding-x * 2);
      }
    }
  }

  .avatar {
    height: $material-icon-size;
    vertical-align: middle;
    width: $material-icon-size;
  }

  .btn,
  .btn-flat {
    @include btn-sm;
  }

  .btn-flat.bulk-select {
    margin-right: $spacer-xs;
    margin-left: ($material-icon-size - $btn-height-sm);
    min-width: $btn-height-sm;
    padding: $btn-padding-y-sm 0;
  }

  .bulk-select-topics .btn {
    margin-right: $spacer-xs;
  }

  .main-link {
    font-size: inherit;

    a {
      &.title {
        font-weight: bolder;
        padding-top: $tbody-cell-padding-y;
        padding-bottom: $tbody-cell-padding-y;

        &.visited:not(.badge-notification) {
          color: color-chooser($tbody-color-dark, $tbody-color-light);
          font-weight: normal;
        }
      }
    }
  }

  .posters {
    a:first-child {
      .avatar.latest:not(.single) {
        border: 0;
        box-shadow: none;
        position: static;
      }
    }

    > a {
      float: none;
      margin-right: $spacer-xs;
    }
  }

  .sortable {
    @include focus-hover {
      background-color: color-chooser($table-bg-hover-dark, $table-bg-hover-light);
    }
  }

  .sorting {
    color: $thead-color-sorting;
  }

  .topic-category .badge-wrapper {
    margin-top: $spacer-sm;
  }

  .topic-excerpt {
    @include typography-caption;

    clear: none;
    float: none;
    margin-top: $spacer-xs;
    max-height: ($font-size-caption * $line-height-caption * 3);
    padding-right: 0;

    .lightbox:empty {
      display: none;
    }
  }

  .topic-list-item-separator {
    td {
      border-bottom-color: unquote('$tertiary');
      height: 0;

      span {
        background-color: color-chooser($table-bg-dark, $table-bg-light);
        color: unquote('$tertiary');
        font-size: inherit;
        padding: 0 ($tbody-cell-padding-x / 2);
      }
    }
  }
}

.topic-list-bottom {
  margin: $spacer 0;
}

.topic-list-item {
  .discourse-tags {
    @include typography-caption;

    margin-top: 0;
  }
}

.topic-statuses {
  display: inline-block;
  float: none;
  margin-right: .25em;

  .topic-status .d-icon {
    height: auto;
    width: auto;
  }
}

.topic-thumbnail {
  padding-top: (($font-size-base * $line-height-base - $font-size-base) / 2);
  padding-right: $tbody-cell-padding-x;
  padding-bottom: (($font-size-base * $line-height-base - $font-size-base) / 2);

  .thumbnail {
    border-radius: $card-border-radius;
  }
}
