.suggested-topics {
  margin-bottom: $spacer-lg;
  padding: 0;

  h3 {
    .badge-wrapper {
      &.box {
        span {
          display: block;
        }
      }

      &.bullet {
        line-height: $line-height-base;
        vertical-align: middle;
      }
    }
  }

  .suggested-topics-title {
    background-color: color-chooser($table-bg-dark, $table-bg-light);
    border-radius: $table-border-radius $table-border-radius 0 0;
    box-shadow: $table-box-shadow;
    margin: 0;
    min-height: $thead-cell-height;
    padding: $card-padding-y ($thead-cell-padding-x * 2);
  }

  .topic-list {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
  }

  .topics {
    padding-bottom: 0;
    position: relative;

    &::before {
      background-color: color-chooser($table-bg-dark, $table-bg-light);
      content: '';
      display: block;
      height: $thead-cell-padding-y;
      position: absolute;
      top: ($thead-cell-padding-y * -1);
      right: 0;
      left: 0;
    }

    .alert {
      padding-right: ($thead-cell-padding-x * 2);
      padding-left: ($thead-cell-padding-x * 2);
    }
  }
}
