#bulk-select {
  background-color: transparent;
  padding: 0;
  top: ($btn-height + $header-height + $header-margin-y + $spacer-lg);
  right: $grid-gutter-width;
}

.create-topics-notice {
  margin-bottom: ($spacer-lg - $card-margin-y);
}

#list-area {
  margin-bottom: $spacer-lg;

  h2,
  .top-lists h2 {
    margin: 0 0 $spacer;
  }
}

.period-chooser {
  @extend %card;
  @extend %card-block;

  align-items: center;
  border-radius: $card-border-radius $card-border-radius 0 0;
  display: flex;

  button {
    @extend %btn-flat;
    @extend %btn-footer;
    @extend %btn-raised;

    margin-bottom: 0;
  }

  h2 {
    margin: 0 !important;

    .top-date-string {
      @extend %typography-caption;

      color: color-chooser($white-secondary, $black-secondary);
    }
  }

  #period-popup {
    @extend %dropdown-menu;
    @extend %dropdown-menu-sm;

    ul li {
      @include hover {
        background-color: transparent;
      }

      a {
        @extend %dropdown-link;
        @extend %dropdown-link-sm;
      }

      .top-date-string {
        @extend %typography-caption;

        color: color-chooser($white-secondary, $black-secondary);
      }
    }
  }
}

.top-title-buttons {
  button {
    @extend %btn-raised;

    margin-right: 0;
    margin-left: $spacer-xs;
  }
}

.topic-bulk-actions-modal {
  .bulk-buttons {
    border-top: $modal-border-width solid $black-divider;
    margin-right: ($modal-padding-x * -1);
    margin-left: ($modal-padding-x * -1);

    &:last-child .btn:last-child {
      border-bottom: 0;
    }

    .btn {
      border-bottom: $modal-border-width solid color-chooser($modal-border-color-dark, $modal-border-color-light);
      border-radius: 0;
      display: block;
      font-weight: normal;
      margin: 0 0 ($modal-border-width * -1);
      padding: $modal-inner-spacer-y $modal-padding-x;
      text-align: inherit;
      text-transform: none;
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }

      .fa {
        margin-right: ($modal-inner-spacer-x / 2);
        opacity: $nav-link-opacity;
      }
    }
  }

  .modal-body:last-child {
    padding-bottom: 0;
  }
}

.topic-list {
  @extend %table;

  .top-lists + & {
    position: relative;

    &::before {
      background-color: color-chooser($table-bg-dark, $table-bg-light);
      content: '';
      display: block;
      height: $thead-cell-padding-y;
      position: absolute;
      top: ($thead-cell-padding-y * -1);
      right: 0;
      left: 0;
    }
  }

  tbody,
  > tbody {
    tr,
    > tr {
      &.has-excerpt .star {
        vertical-align: middle;
      }
    }
  }

  tbody {
    td,
    th {
      @extend %tbody-cell;

      line-height: inherit;

      &:first-of-type {
        padding-left: ($tbody-cell-padding-x * 2);
      }

      &:last-of-type {
        padding-right: ($tbody-cell-padding-x * 2);
      }
    }
  }

  > tbody {
    > tr {
      @extend %table-row;

      &:first-child {
        border-top: 0;
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  td,
  th {
    &.activity,
    &.age,
    &.posters,
    &.posts,
    &.views {
      min-width: 0;
      white-space: nowrap;
      width: 0;
    }

    &.category {
      height: ($tbody-cell-height - ($tbody-cell-height - $tbody-cell-padding-y * 2 - $chip-height));
    }

    &.num {
      text-align: right;

      &.activity,
      &.posts {
        a {
          padding: $tbody-cell-padding-y 0;
        }
      }
    }
  }

  td {
    &.main-link {
      width: 100%;
    }
  }

  thead {
    td,
    th {
      @extend %thead-cell;

      line-height: inherit;

      &:first-of-type {
        padding-left: ($thead-cell-padding-x * 2);
      }

      &:last-of-type {
        padding-right: ($thead-cell-padding-x * 2);
      }
    }

    th {
      font-weight: bold;
      white-space: nowrap;
    }

    .bulk-select-topics {
      margin-right: ($thead-cell-padding-x / 2);

      .btn {
        margin-right: ($thead-cell-padding-x / 2);
      }
    }
  }

  > thead > tr {
    @extend %table-row;
  }

  .avatar {
    height: $material-icon-size;
    vertical-align: middle;
    width: $material-icon-size;
  }

  .badge-wrapper {
    transform: scale($chip-sm-scale);
    transform-origin: 0 50%;
    vertical-align: middle;
  }

  .main-link {
    font-size: inherit;

    a {
      &.title {
        font-weight: bold;
        padding-top: $tbody-cell-padding-y;
        padding-bottom: $tbody-cell-padding-y;

        &.visited:not(.badge-notification) {
          color: color-chooser($tbody-color-dark, $tbody-color-light);
          font-weight: normal;
        }
      }
    }
  }

  .posters > a {
    float: none;
    margin-right: $spacer-xs;
  }

  .sortable {
    @include focus-hover {
      background-color: color-chooser($table-bg-hover-dark, $table-bg-hover-light);
    }
  }

  .sorting {
    color: $thead-color-sorting;
  }

  .topic-list-item-separator {
    td {
      border-bottom-color: unquote('$tertiary');
      height: 0;

      span {
        background-color: color-chooser($table-bg-dark, $table-bg-light);
        color: unquote('$tertiary');
        font-size: inherit;
        padding: 0 ($tbody-cell-padding-x / 2);
      }
    }
  }

  .topic-status {
    font-size: inherit;
    margin: 0 ($tbody-cell-padding-x / 2) 0 0;
    padding: 0;

    &:last-of-type {
      margin-right: ($tbody-cell-padding-x / 2);
    }
  }
}

.topic-list-bottom {
  margin: $spacer 0;
}

.topic-statuses {
  .topic-status {
    margin: 0;
    padding: 0;
  }
}
