.categories-and-latest {
  div {
    &.categories.column {
      margin-right: $grid-gutter-width;
    }
  }

  .topic-list {
    .more-topics {
      td {
        padding-right: ($tbody-cell-padding-x * 2 - $btn-padding-x / 2);
      }

      .btn {
        @extend %btn-footer;
      }
    }

    .posts {
      margin-bottom: $spacer-xs;
    }
  }
}

.category-boxes,
.category-boxes-with-topics {
  margin: 0 ($card-margin-x / -2) ($spacer-lg - $card-margin-y);
  width: auto;

  h3 {
    @extend %typography-h4;

    margin-bottom: 0;
    text-align: left;
  }

  .category-box {
    border-radius: $card-border-radius 0 0 $card-border-radius;
    border-left-width: 2px;
    margin: 0 ($card-margin-x / 2) $card-margin-y;
    width: calc(33.333333% - #{$card-margin-x});
  }

  .category-box-inner {
    @extend %card;
  }
}

.category-boxes-with-topics {
  .category-box-heading {
    @extend %card-block;
  }

  .featured-topics {
    @extend %card-block;

    padding-top: 0;
    padding-bottom: 0;

    li {
      border-top: 1px solid color-chooser($white-divider, $black-divider);
      margin-right: ($card-padding-x * -1);
      margin-left: ($card-padding-x * -1);
      padding: $card-padding-y $card-padding-x;

      &::before {
        display: none;
      }

      .overflow {
        max-height: none;
        white-space: nowrap;

        > div {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    ul {
      color: color-chooser($white-secondary, $black-secondary);
    }
  }
}

.category-list {
  @extend %table;

  tbody {
    td,
    th {
      @extend %tbody-cell;

      &:first-of-type {
        padding-left: ($tbody-cell-padding-x * 2);
      }

      &:last-of-type {
        padding-right: ($tbody-cell-padding-x * 2);
      }
    }

    .category {
      border-left-width: ($table-border-width * 2);

      h3 {
        @extend %typography-h6;

        margin-bottom: 0;
      }
    }
  }

  thead {
    td,
    th {
      @extend %thead-cell;

      &:first-of-type {
        padding-left: ($thead-cell-padding-x * 2);
      }

      &:last-of-type {
        padding-right: ($thead-cell-padding-x * 2);
      }
    }

    th {
      font-weight: bolder;
      white-space: nowrap;
    }
  }

  > tbody {
    > tr {
      @extend %table-row;

      &:first-child {
        border-top: 0;
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  > thead {
    > tr {
      @extend %table-row;
    }
  }

  .badge-wrapper {
    transform: scale($chip-sm-scale);
    transform-origin: 0 50%;
  }

  .category-description {
    margin-top: 0;
  }

  .category-name {
    line-height: inherit;
  }

  .subcategories {
    margin-top: $spacer-xs;

    &:empty {
      display: none;
    }
  }

  .topics .value {
    font-size: inherit;
  }
}

.latest-topic-list {
  @extend %table;

  .more-topics,
  .table-heading {
    @extend %thead-cell;
    @extend %thead-cell;

    align-items: center;
    display: flex;
    font-weight: bolder;
  }

  .more-topics {
    justify-content: flex-end;
    margin-top: 0;

    .btn {
      @extend %btn-footer;
    }
  }

  .table-heading {
    @extend %table-row;
  }
}

.latest-topic-list-item {
  @extend %table-row;
  @extend %tbody-cell;

  align-items: flex-start;
  display: flex;
  height: auto;
  min-height: $tbody-cell-height;

  .main-link {
    font-size: inherit;

    a {
      &.title {
        font-weight: $font-weight-h6;
        padding-top: $tbody-cell-padding-y;
        padding-bottom: $tbody-cell-padding-y;

        &.visited:not(.badge-notification) {
          color: color-chooser($tbody-color-dark, $tbody-color-light);
          font-weight: normal;
        }
      }
    }

    .top-row {
      font-size: inherit;
      margin-bottom: $spacer-xs;
    }
  }

  .topic-poster {
    width: ($material-icon-size + $tbody-cell-padding-x);

    .avatar {
      height: $material-icon-size;
      width: $material-icon-size;
    }
  }

  .topic-stats {
    margin-left: ($tbody-cell-padding-x / 2);
  }
}
