// Flat button

%btn-flat {
  @extend %btn-flat-simple;

  &.btn-danger,
  &.cancel {
    background-color: transparent;
    color: unquote('$danger');

    @include focus-hover {
      background-color: color-chooser($btn-bg-hover-dark, $btn-bg-hover-light);
      color: unquote('$danger');
    }
  }

  &.btn-primary {
    background-color: transparent;
    color: unquote('$tertiary');

    @include focus-hover {
      background-color: color-chooser($btn-bg-hover-dark, $btn-bg-hover-light);
      color: unquote('$tertiary');
    }
  }

  &.btn-success,
  &.ok {
    background-color: transparent;
    color: unquote('$success');

    @include focus-hover {
      background-color: color-chooser($btn-bg-hover-dark, $btn-bg-hover-light);
      color: unquote('$success');
    }
  }
}

%btn-flat-simple {
  background-color: transparent;
  background-image: none;
  border: 0;
  border-radius: $btn-border-radius;
  box-shadow: none;
  color: color-chooser($btn-color-dark, $btn-color-light);
  display: inline-block;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  line-height: 1;
  margin: 0;
  max-width: 100%;
  padding: $btn-padding-y $btn-padding-x;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  @include focus-hover {
    background-color: color-chooser($btn-bg-hover-dark, $btn-bg-hover-light);
    color: color-chooser($btn-color-dark, $btn-color-light);
  }

  &:active {
    background-color: color-chooser($btn-bg-active-dark, $btn-bg-active-light);
    background-image: none;
  }

  &:focus {
    outline: 0;
  }

  &[disabled],
  &.disabled {
    background-color: transparent !important;
    color: color-chooser($btn-color-disabled-dark, $btn-color-disabled-light) !important;
  }
}



// Raised button

%btn-raised {
  background-color: color-chooser($btn-bg-dark, $btn-bg-light);
  box-shadow: $btn-box-shadow;

  @include focus-hover {
    background-color: color-chooser($btn-bg-dark, $btn-bg-light);
    background-image: linear-gradient(to bottom, color-chooser($btn-bg-overlay-dark, $btn-bg-overlay-light), color-chooser($btn-bg-overlay-dark, $btn-bg-overlay-light));
  }

  &:active {
    background-color: color-chooser($btn-bg-active-dark, $btn-bg-active-light);
    box-shadow: $btn-box-shadow-active;
  }

  &[disabled],
  &.disabled {
    background-color: color-chooser($btn-bg-disabled-dark, $btn-bg-disabled-light) !important;
    background-image: none;
    box-shadow: none !important;
  }

  &.btn-danger,
  &.cancel {
    background-color: unquote('$danger');
    color: color-dynamic(unquote('$danger'));

    @include focus-hover {
      background-color: unquote('$danger');
      color: color-dynamic(unquote('$danger'));
    }
  }

  &.btn-primary {
    background-color: unquote('$tertiary');
    color: color-dynamic(unquote('$tertiary'));

    @include focus-hover {
      background-color: unquote('$tertiary');
      color: color-dynamic(unquote('$tertiary'));
    }
  }

  &.btn-success,
  &.ok {
    background-color: unquote('$success');
    color: color-dynamic(unquote('$success'));

    @include focus-hover {
      background-color: unquote('$success');
      color: color-dynamic(unquote('$success'));
    }
  }
}



// Small button

%btn-footer {
  margin-left: $card-inner-spacer-x;
  padding-right: $card-inner-spacer-x;
  padding-left: $card-inner-spacer-x;

  &:first-child {
    margin-left: 0;
  }
}

%btn-sm {
  font-size: $btn-font-size-sm;
  padding: $btn-padding-y-sm $btn-padding-x-sm;
}
