%dropdown-header {
  font-size: $dropdown-font-size;
  font-weight: bolder;
  line-height: $dropdown-line-height;
  margin: 0;
  padding: $dropdown-link-padding-y $dropdown-link-padding-x;
  white-space: nowrap;
}

%dropdown-header-sm {
  font-size: $dropdown-font-size-sm;
  line-height: $dropdown-line-height-sm;
  padding: $dropdown-link-padding-y-sm $dropdown-link-padding-x-sm;
}

%dropdown-link {
  display: block;
  font-size: inherit;
  line-height: inherit;
  padding: $dropdown-link-padding-y $dropdown-link-padding-x;
}

%dropdown-link-sm {
  padding: $dropdown-link-padding-y-sm $dropdown-link-padding-x-sm;
}

%dropdown-menu {
  background-clip: padding-box;
  background-color: color-chooser($dropdown-bg-dark, $dropdown-bg-light);
  border: 0;
  border-radius: $dropdown-border-radius;
  box-shadow: $dropdown-box-shadow;
  font-size: $dropdown-font-size;
  line-height: $dropdown-line-height;
  padding: $dropdown-padding-y $dropdown-padding-x;
}

%dropdown-menu-sm {
  font-size: $dropdown-font-size-sm;
  line-height: $dropdown-line-height-sm;
  padding: $dropdown-padding-y-sm $dropdown-padding-x-sm;
}
