%nav-link {
  border-radius: $btn-border-radius;
  color: color-chooser($btn-color-dark, $btn-color-light);
  display: block;
  font-size: $btn-font-size;
  line-height: 1;
  opacity: $nav-link-opacity;
  padding: $btn-padding-y $btn-padding-x;
  position: relative;

  @include active-focus-hover {
    background-color: color-chooser($btn-bg-hover-dark, $btn-bg-hover-light);
    color: color-chooser($btn-color-dark, $btn-color-light);
    opacity: 1;
    outline: 0;
    text-decoration: none;
  }

  &.active {
    background-color: unquote('$quaternary');
    color: color-dynamic(unquote('$quaternary'));
    opacity: 1;
  }
}

%nav-link-active {
  background-color: unquote('$quaternary');
  color: color-dynamic(unquote('$quaternary'));
  opacity: 1;

  @include active-focus-hover {
    background-color: unquote('$quaternary');
    color: color-dynamic(unquote('$quaternary'));
  }
}

%nav-pills {
  > li {
    margin-right: 1px;

    > a {
      @extend %nav-link;

      &.active {
        @extend %nav-link-active;
      }
    }
  }
}

%nav-stacked {
  background-color: transparent;

  li {
    border-bottom: 0;
    margin-bottom: 1px;

    &.indent {
      padding-left: $btn-padding-x;
    }

    > a {
      @extend %nav-link;

      &.active {
        @extend %nav-link-active;
      }
    }
  }
}
